[2018-06-06 13:14] terracoda commented on #153
@jessegreenberg, and @zepumph I did a little more testing with the simple Slider test environment with `tabindex="-1"` on all the non-interactive elements. I found that:
- tabindex="-1"` does not have an effect on where Voice Over places the virtual cursor upon re-rentry into web content in the test environment.
- Re-entry almost always starts on the parent un-ordered list element as long as syste

[2018-06-06 13:53] terracoda commented on #153
For the record, see a11y-research repo foe the [simple slider test page](https://github.com/phetsims/a11y-research/tree/master/html-sketches/test-environments).

[2018-06-06 16:12] terracoda commented on #153
This issue is not just for sliders. It's for anything. You always re-enter at the H1, when the VO stop interacting command takes you "out of web content".

[2018-06-06 16:14] terracoda commented on #153
**New questions, Response # 2**
Note the nice bug categories.

...

[2018-06-06 16:15] lmulhall-phet commented on #151
@ariel-phet, thanks for clearing up the confusion.

To summarize:
1. Right clicking and then pressing "Save As" in an opened simulation is _not_ supported and doesn't work on Chrome OS.
2. Right clicking on the simulation icon on the website and pressing "Save Link As" works.
3. Clicking the download button on the website is supported and works.
4. Right clicking on a simulation link in /dev/html

[2018-06-06 16:27] terracoda commented on #153
After all the testing and discussion, I think we can defer this issue until it becomes an issue Voice Over users.
**Reasons**
- I think it is an unlikely scenario that a user will keep interacting with the slider after they have intentionally decided not to.
- If they do, the sim does indeed change, and the alerts are giving them the correct alert information.
- We are managing system focus correc

[2018-06-06 19:14] terracoda commented on #153
**Just adding last comments**
More confirmation that we are good to go:
**My thank you to WAI  list members**

**Last response from Responder # 2**

[2018-06-06 19:19] emily-phet commented on #153
I agree - no more action needed here.

[2018-06-06 19:19] #153 closed

[2018-06-07 16:00] jessegreenberg commented on #151
Thanks for the update. @ariel-phet @lmulhall-phet does that mean this issue can be closed?

[2018-06-07 20:43] jessegreenberg commented on #143
The above commit fixes this problem by abstaining from blurring if the AT submitted a down event at the location of the PDOM outside of the display. VO was sometimes doing something similar in phetsims/balloons-and-static-electricity#401. I tested with JAWS in FF Quantum to verify. Closing.

[2018-06-07 20:43] #143 closed

[2018-06-08 13:58] lmulhall-phet commented on #151
Yes, we can close this issue.

[2018-06-08 13:58] #151 closed

[2018-06-11 14:40] terracoda commented on #153
**Adding last comment from Responder # 1 that came in after closing issue:**

**My response (no answer yet)**

And to be clear, the user is getting some feedback, just not all the appropriate feedback. They get live region alerts with slider values. When VoiceOver is not on the slider it silences readouts of the slider values, but does not silence live region alerts.

[2018-06-14 20:29] zepumph opened #154 "ready 1.5.0-rc.6"

[2018-06-14 21:30] zepumph commented on #154
see phetsims/QA#130

[2018-06-14 21:30] #154 closed

[2018-06-18 19:06] JRomero0613 opened #155 "JAWS Screen reader repeats values"
Test device: PC Laptop

Operating System: Windows 10 v. 1803

Browser: Firefox v. 60.0.2

Problem description: For https://github.com/phetsims/QA/issues/130 when using the JAWS screen reader the screen reader will repeat both current, and non-current slider values.

Steps to reproduce:
1. Using keynav navigate to a slider and adjust it by holding down an arrow key (this bug is more noticeable when

[2018-06-18 19:21] zepumph commented on #155
@jessegreenberg @terracoda is this a known issue?

[2018-06-18 20:10] lmulhall-phet opened #156 "[keyboard navigation] On Chrome OS, moving slider then pressing shift stops slider"
<b>Test Device</b>

Feynman

<b>Operating System</b>

Chrome OS Version 68.0.3440.25

<b>Browser</b>

Chrome

<b>Problem Description</b>

For phetsims/QA/issues/130. If you try to press shift as you're moving a slider, the slider will stop. The slider is not, however, stuck.

I don't think this is a huge issue; it doesn't affect the functionality of the simulation. I'm wondering if we care about t

[2018-06-18 20:13] jessegreenberg commented on #155
Looks very familiar, checking.

[2018-06-18 20:38] lmulhall-phet opened #157 "On Chrome OS, letter A overlaps with vinculum, no red background"
<b>Test Device</b>

Feynman

<b>Operating System</b>

Chrome OS Version 68.0.3440.25

<b>Browser</b>

Chrome

<b>Problem Description</b>

For phetsims/QA/issues/130. Do we care about this?

1. The A overlaps with the vinculum.
2. There's no red background when rho and L are large and A is small.

<b>Steps to Reproduce</b>

For 1.
a. Make denominator as large as possible.

For 2.
a. Make numerator

[2018-06-18 21:28] lmulhall-phet commented on #157
I'm seeing 1 on Android, but not 2.

[2018-06-19 00:09] zepumph commented on #156
@lmulhall-phet it is my understanding that is expected browser behavior. When you hold down a key for multiple events, it will continue firing until another keydown event overrides it. Closing. @jessegreenberg please reopen if you feel different.y

[2018-06-19 00:09] #156 closed

[2018-06-19 00:43] terracoda commented on #155
Thanks @jessegreenberg and @zepumph.

[2018-06-19 19:10] lmulhall-phet opened #158 "[Android] flickering black spot when area is adjusted"
<b>Test Device</b>

Nye

<b>Operating System</b>

Android 7.0

<b>Browser</b>

Chrome

<b>Problem Description</b>

For phetsims/QA/issues/130. Adjusting area results in black flickering spot in wire. See the video.

<b>Visuals</b>

https://drive.google.com/open?id=1BMRqm18IVXWyJlvCYJSzJQ9RTncFS7HD

[2018-06-19 19:32] lmulhall-phet commented on #158
Also happens with length. Doesn't seem to matter what the rho value is.

[2018-06-19 20:50] zepumph commented on #150
@lmulhall-phet I did not receive confirmation that this was confirmed fixed (at least here), but you passed the qa issue (phetsims/qa#130) to me, so I am going to close this issue. Please reopen if you need to.

[2018-06-19 20:50] #150 closed

[2018-06-19 21:50] zepumph commented on #158
Very interesting! @lmulhall-phet does this happen from the published one http://phet.colorado.edu/sims/html/resistance-in-a-wire/latest/resistance-in-a-wire_en.html?@jonathanolson have you seen this before? Does it have something to do with rendering artifacts?

[2018-06-19 21:53] lmulhall-phet commented on #158
@zepumph, it does occur in production.

[2018-06-19 22:07] zepumph commented on #157
1. I don't think is a problem, but I defer to @ariel-phet as lead designer.

2. We have run into before, https://github.com/phetsims/resistance-in-a-wire/issues/28, there we fixed this by manipulating to original font and the scale applied to that font size (originally it was 115 and scaled down). I can mess with some of those scalars to see if this is fixed in chrome, but I do not have a chrome o

[2018-06-19 22:10] zepumph commented on #158
Repeatable easily in the phet app on my android phone.

[2018-06-19 23:31] zepumph commented on #158
`rootRenderer=canvas` does indeed "fix" the issue for my android device. I can't make it stay broken, but I'm not the QA master.

[2018-06-20 20:40] lmulhall-phet commented on #158
@jonathanolson, I can't get it to stay broken. `rootRenderer=canvas` "fixes" the issue for me.

[2018-06-20 21:55] jonathanolson commented on #158
@ariel-phet how should we proceed?

Working around it would involve some combination of trying imperceptible changes to the path, trying to come up with an easily reproducible example, etc.

[2018-06-21 00:30] ariel-phet commented on #157
@zepumph @lmulhall-phet

Agreed (1) is not a problem, a bit aesthetically sub-optimal, but I don't think anyone will get confused.

[2018-06-21 01:30] lmulhall-phet commented on #158
I should note that rootRenderer=canvas drops the performance somewhat.

[2018-06-21 02:44] jonathanolson commented on #158
Implemented above (just making the needed part Canvas instead of everything). Let me know if performance is not acceptable due to the change.

[2018-06-21 17:24] zepumph commented on #158
I'll add this to a another RC so that @lmulhall-phet can test performance appropriately.

[2018-06-22 18:47] zepumph commented on #148
@lmulhall-phet I'm seeing that this issue was never specifically mentioned as fixed as part of rc.5, but I assume that by the checkmark in https://github.com/phetsims/QA/issues/125 that this was confirmed fixed for both of the above issues. Closing.

[2018-06-22 18:48] #148 closed

[2018-06-22 18:50] lmulhall-phet commented on #148
@zepumph, sorry! Yes, this was fixed.

[2018-06-22 19:00] lmulhall-phet commented on #157
Yes.

No, I think it has to do with the font being different and when the R is really big, you're not actually zooming in on the R, whereas you are actually zooming in on the R for other fonts.

No.

I'll find out.

[2018-06-22 19:04] lmulhall-phet commented on #157
No.

[2018-06-22 19:05] lmulhall-phet commented on #150
@zepumph, again sorry. According to @JRomero0613, this is fixed. I will double check.

[2018-06-22 19:12] zepumph commented on #150
No need for apologies! All is good.

[2018-06-22 19:19] JRomero0613 commented on #150
Yes, this issue has not been seen in the latest RC version

[2018-06-22 20:23] lmulhall-phet commented on #157
@ariel-phet, @zepumph, here's a video:

https://www.useloom.com/share/287d612c364142eab6fdc565aa6a98e8

As you can see in the video, it looks like we're "zooming in" on the negative space and not the R itself.

![screen shot 2018-06-22 at 2 16 11 pm](https://user-images.githubusercontent.com/31285590/41797568-c04fee38-7627-11e8-8a7c-af8d5e2e798b.png)
(This was taken on my Mac for illustrative purp

[2018-06-22 20:46] lmulhall-phet commented on #150
Confirmed.

[2018-06-22 21:04] zepumph opened #159 "Uncaught Error: Assertion failed: trying to describe no change in size"
[code]

[2018-06-23 00:03] zepumph commented on #159
Can be reproduced within seconds with http://localhost/resistance-in-a-wire/resistance-in-a-wire_en.html?brand=phet&ea&fuzzMouse&fuzzPointers=2&fuzzTouch&fuzzRate=1000

UPDATE: actually it's only sometimes immediate.

[2018-06-23 00:13] zepumph commented on #159
After doing some research, I found that this can be triggered after any of the three slider drags, if the resulting resistance change was 0. So I updated the conditional to make sure that both the slider value and the resistance value changed. @jessegreenberg you originally wrote this, so could you please give a spot check on this to see if there is foul play.

[2018-06-23 00:18] zepumph commented on #159
Note: I spot checked OL for similar trouble, and I don't think that we will have any trouble over there, because there is no assertion in the implementation, so it will just queue an alert that addresses the change in R or V but the current won't change. This seems fine to me to have this discrepancy between sims since it is such an edge case anyways with low risk in interfering with UX.

[2018-06-27 21:19] jessegreenberg commented on #159
Change looks good to me @zepumph, thanks 👍

[2018-06-27 21:21] zepumph commented on #159
Great I'll add them to a new RC for spot check.

[2018-06-28 21:34] zepumph commented on #157
After looking at this with @lmulhall-phet, we saw that there is no predictable way to manipulate the R on chrome os. I originally tried to move the R down a bit when it got big enough. Then we tested on firefox on chrome OS and found that the font was actually lower (meaning to compensate we would need to move down.

Basically the only solution I can think of would be to actually change the scale

[2018-06-28 21:34] #157 closed

[2018-07-03 21:53] JRomero0613 opened #160 "[keyboard navigation] Adjusting in larger steps then smaller steps doesn't work"
Test device: PC Laptop

Operating System: Windows 10 v. 1803

Browser: Chrome v. 67.0.3396.99

Problem description: When adjusting using normal sized steps after adjusting in larger steps the first input does not change the value of the slider as it should. This bug does not occur on the second slider due to the odd increments that it creates when adjusting in larger steps.

Steps to reproduce:
1.

[2018-07-03 22:17] jessegreenberg commented on #160
Hmm, unable to reproduce on master, checking rc.7.

[2018-07-05 21:53] lmulhall-phet opened #161 "[Keyboard Navigation] Should slider thumb interact with mouse during keyboard navigation?"
For phetsims/QA/issues/137.

When you mouse over or drag a slider thumb, it becomes light grey.

![riaw](https://user-images.githubusercontent.com/31285590/42349559-63d1bac2-806a-11e8-9390-805cc306ed22.gif)

In the gif, I put the cursor on the slider, and then move the slider thumb over the cursor, so the slider thumb becomes light grey. However, because the cursor disappears, it looks like the sl

[2018-07-05 21:57] JRomero0613 commented on #160
It looks like this bug has been fixed in the updated master version, however a new bug that only occurs on Firefox has sprung up in its place. When using tab to navigate between items instead of switching between items each time tab is hit the screen moves down. The screen can not be scrolled back up and the sim becomes unusable. I have tested this on a variety of devices and the bug occurs across

[2018-07-05 22:00] jessegreenberg commented on #160
That looks a lot like https://github.com/phetsims/chipper/issues/687, and probably not related to this issue. This is possibly caused by https://github.com/phetsims/scenery/issues/822, Ill take a look.

[2018-07-05 22:35] zepumph commented on #161
@lmulhall-phet I feel like this falls under that keyboard/mouse intersection that we currently aren't diving into (see https://github.com/phetsims/scenery/issues/713). @jessegreenberg  please reopen if you disagree.

[2018-07-05 22:35] #161 closed

[2018-07-05 22:49] jessegreenberg commented on #160
@JRomero0613 I expect that is fixed in master, can you please verify? @zepumph I don't think that will impact the RIAW rc.

[2018-07-05 23:11] zepumph commented on #160
Sounds good, thanks @jessegreenberg. Focusing back on the main issue, in response to https://github.com/phetsims/resistance-in-a-wire/issues/160#issuecomment-402309941 I tried to cherry-pick https://github.com/phetsims/sun/commit/0ccb537199bef49a6e3dc7090e8a1701e2695741 to a RIAW 1.5 branch of sun, and found a merge conflict. In response I kept:
[code]
(mainly as a note to self just in case)

I al

[2018-07-05 23:17] zepumph commented on #160
I think this issue is ready for review in the next RC.

[2018-07-05 23:21] zepumph opened #162 "fuzzMouse broken on 1.5 branch since rc.4"
https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.4/phet/resistance-in-a-wire_all_phet.html?fuzzMouse works, but all later versions (current version rc.7) do not. Tagging @lmulhall-phet because he found the bug.

[2018-07-05 23:31] zepumph commented on #162
When I diff the dependencies, I find that the error creeped in when bumping scenery from
https://github.com/phetsims/scenery/commits/64f0c409873154d17998c0a149ffbec95daf270a to
https://github.com/phetsims/scenery/commits/33290b5e78b38bd33456cc2cb3f2919f2252c899

Notice that all those commits were in regards to https://github.com/phetsims/resistance-in-a-wire/issues/148#issuecomment-392137608

@jon

[2018-07-06 03:03] jonathanolson commented on #162
This seems like mostly manual testing. Can we rely on QA, or is there something I should be doing?

[2018-07-06 13:49] JRomero0613 commented on #160
@jessegreenberg https://github.com/phetsims/resistance-in-a-wire/issues/160#issuecomment-402864766 is not fixed in master, I have just checked on Windows 10 with Firefox and the screen moves down when tab is hit. It seems to move less than it was previously but the top half of the sim is still inaccessible.

[2018-07-06 15:32] jessegreenberg commented on #160
I was able to reproduce this on phettest, but I noticed that common repos were out of date.
![capture](https://user-images.githubusercontent.com/6396244/42387424-74efaee6-80ff-11e8-9994-f9691d74a55d.PNG)

After pressing "Pull All" on phettest I can no longer reproduce. @JRomero0613 can you please verify?

[2018-07-06 16:56] JRomero0613 commented on #160
@jessegreenberg After pulling all I can no longer reproduce as well, looks like its fixed.

[2018-07-06 16:57] jessegreenberg commented on #160
Thanks!

[2018-07-06 18:53] zepumph commented on #160
**NOTE: For** QA reviewing this issue for the next RIAW RC, please only confirm that https://github.com/phetsims/resistance-in-a-wire/issues/160#issue-338066478 is fixed in the branch.

[2018-07-09 19:22] lmulhall-phet commented on #162
@zepumph, I'm happy to do whatever testing needs to be done. (Should I just verify that I can use fuzzMouse with RC versions greater than 4?) I need to verify that #159 is resolved before I can finish phetsims/QA/issues/137.

[2018-07-09 19:30] zepumph commented on #162
I think that sounds like a good plan. @lmulhall-phet plan on fuzzMouse to be broken on this release branch, but (obviously) report anything else as an issue. If you find that you need fuzzMouse to truly test this release candidate, please let me know and @jonathanolson and I can see about fixing it (I'm not sure about the time commitment there).

[2018-07-09 19:31] zepumph commented on #162
Right now none of these versions will have a working fuzzMouse, so I'm not sure what you mean.

[2018-07-09 19:39] lmulhall-phet commented on #162
@zepumph, I must be taking crazy pills. Completely misread your comment. Let me know if you want anything tested.

[2018-07-09 22:15] megan-phet opened #163 ""home" and "end" keyboard shortcuts don't work all the time."
**Test device:**

- MacBook Pro

**Operating System:**
- macOS 10.13.5

**Browser:**
- All Latest

**Problem description:**

For phetsims/QA/issues/137
The "home" and "end" buttons are "fn"+["left arrow" or "right arrow"] on a Mac. If "fn"+"left arrow" and "fn"+ "right arrow" are pressed repeatedly one after another, it won't jump to maximum or minimum. This doesn't happen on Windows.

**Steps to

[2018-07-10 19:38] zepumph commented on #163
@jessegreenberg do you have access to a mac to confirm this bug? Can you provide insight?

[2018-07-10 19:44] jessegreenberg commented on #163
I do, Ill take a look.

[2018-07-10 19:46] jessegreenberg commented on #163
@megan-phet in the posted video (which is really helpful, thanks!) when it stops working, do you have to release the "fn" key to get this to work again?

[2018-07-10 19:48] jessegreenberg commented on #163
Also, is VoiceOver turned on in these tests? I assume no but just want to make sure.

[2018-07-10 20:31] megan-phet commented on #163
No I did not let go of the "fn" key, and VoiceOver was not on.

[2018-07-10 20:59] KatieWoe opened #164 "Jaws reading pause on resistivity slider"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Firefox 61.0.1
**Problem description:**
If you are at the bottom of the resistivity slider and use the home key to move it to the top there is a slight pause before the values are read out.  This occurs when using Jaws
**Steps to reproduce:**
1. Open Jaws
2. Open simulation and begin using keyboard navigation
3. Use keyboar

[2018-07-10 21:13] zepumph commented on #164
@jessegreenberg I will need your assistance for this one too I'm afraid.

[2018-07-10 21:15] zepumph commented on #164
@jessegreenberg @emily-phet please comment if you think this is a substantial enough bug to investigate further. @jessegreenberg can you reproduce? Have you noticed this before?

[2018-07-10 21:18] zepumph commented on #160
@lmulhall-phet in https://github.com/phetsims/QA/issues/137#issuecomment-403938232 you said that QA is done, so I assume that I'm good to close this issue, and that it was successfully checked.

[2018-07-10 21:19] zepumph commented on #158
@lmulhall-phet in phetsims/QA#137 (comment) you said that QA is done, so I assume that I'm good to close this issue, and that it was successfully checked.

[2018-07-10 21:19] #158 closed

[2018-07-10 21:21] zepumph commented on #159
We could not test with fuzzMouse in the rc version, but this has not been showing up at all in master or CT. I think we are ready to close.

[2018-07-10 21:21] #159 closed

[2018-07-10 21:22] lmulhall-phet commented on #158
@zepumph, sorry, yes it seems to be fixed.

[2018-07-10 22:21] jessegreenberg commented on #163
I was able to reproduce on Mac OS 10.13.5.

[2018-07-10 22:22] jessegreenberg commented on #163
But it only happened when alternating between the arrow keys fast enough so that both were pressed at once for a split second.

[2018-07-10 22:42] jessegreenberg commented on #163
This may be an Apple behavior, browser is just clearly not sending key codes corresponding to "home" and "end" in this case. Ill try to reproduce in a JSFiddle, and also see if google knows about this.

[2018-07-10 22:43] jessegreenberg commented on #163
This is also an issue for page up/page down.

[2018-07-10 23:01] jessegreenberg commented on #163
Verified https://github.com/phetsims/resistance-in-a-wire/issues/163#issuecomment-403985560, I was able to reproduce the problem in this JSFidle on a Mac: http://jsfiddle.net/sp0569jw/6/.

I personally don't think this should block publication of RIAW. And since this is how Apple behaves with all web sliders, I am not sure if spending any time on a workaround is even worthwhile.

@emily-phet what

[2018-07-10 23:03] jessegreenberg commented on #163
Hmm, just looking into it a little I am not sure if a workaround is possible. "Fn" key produces no DOM event when pressed, and it is not a modifier key. This  behavior is still there when  checking event.key, and I can't think of other options.

[2018-07-10 23:18] jessegreenberg commented on #164
In addition to the delay, JAWS fails to read the aria-live alert associated with the slider. Strange that it doesn't happen with the other sliders.

[2018-07-10 23:22] jessegreenberg commented on #164
Well, to be fair I am finding that JAWS often isn't reading the alerts from the sliders...

[2018-07-10 23:41] jessegreenberg commented on #164
If I comment out this bit of code which updates which dots are visible in the wire, the delay goes away, so this is performance related.
[code]
@emily-phet would you like to spend time looking into performance improvements for this?

[2018-07-10 23:45] jessegreenberg opened #165 "Alerts only work 70% of the time on JAWS and FF 60"
While looking into #164 I noticed that alerts like "As letter rho grows, letter R grows" only come through sometimes. Possibly related to performance issues with JAWS and Firefox quantum these days, see https://github.com/phetsims/a11y-research/issues/102.

[2018-07-10 23:48] jessegreenberg commented on #164
Possibly related to https://github.com/phetsims/a11y-research/issues/102, which outlines some performance issues with Firefox Quantum and JAWS.

[2018-07-10 23:59] jessegreenberg commented on #164
I tried using `renderer: canvas` on WireNode's `dotsNode`, it made the delay go away! But it broke visibility of the dots when we change size of the wire.
![capture](https://user-images.githubusercontent.com/6396244/42543789-caf926f0-846a-11e8-82c8-30e0bb6a0046.PNG)

We will need to do some other things to get it working, but I want to make sure it is worth spending the time first.

[2018-07-11 00:11] jessegreenberg commented on #164
Apparently renderer shouldn't impact clipArea, the above may indicate a larger rendering issue.

[2018-07-11 00:12] jessegreenberg commented on #165
@lmulhall-phet is this something you have noticed during recent QA testing?

[2018-07-11 17:00] lmulhall-phet commented on #165
I haven't noticed it during _recent_ QA testing. That being said, @JRomero0613 does more Windows testing than I do, so perhaps he could add his two cents.

[2018-07-11 17:38] JRomero0613 commented on #165
@jessegreenberg During testing I have seen that JAWS and Firefox do not read out "As letter rho grows, letter R grows" about half the time. I have tested on the same machine with the same version of Firefox with NVDA and it reads out the correct alert every time, unlike JAWS.

[2018-07-11 17:41] lmulhall-phet commented on #165
I think we should try to come up with some real statistics for alerts on JAWS + FF 60. Not just ~50% of the time. @jessegreenberg, how did you arrive at 70%?

[2018-07-11 19:22] terracoda commented on #163
@jessegreenberg, I personally do not think this should block publication. I use a Mac and have never noticed a problem with the Home and End Keys or the Page Up and Down keys.

I can't reproduce the problem on my Macbook Pro 10.13.5 when pressing quickly. I am not saying it is not a reproducible problem, but I can't reproduce it.

[2018-07-11 19:32] terracoda commented on #164
@jessegreenberg, is there anyway to verify what is causing the delay (FF, JAWS, or visual renderer)?

The last message in phetsims/a11y-research#102 was that things were working better with the latest FF. I'm just wondering where the change has occurred.

[2018-07-12 15:18] jessegreenberg commented on #165
Thanks @JRomero0613, thats what I am seeing too.

@lmulhall-phet sounds good, just very rough number. I moved the slider thumb about 10 times and of those movements the alerts randomly failed to be announced at least 3 times.

My initial guess is that JAWS+Firefox 60+ has a hard time reading an alert immediately after announcing the change in aria-valuetext. To start, we could create a JSFiddle to

[2018-07-12 15:22] jessegreenberg commented on #164
@terracoda I am not sure. Without JAWS the sim runs very smoothly, so it is probably the combination of sim+AT using up resources. We could do some profiling with JAWS on to try to  find where time is being spent. But if we can get this fix to work https://github.com/phetsims/resistance-in-a-wire/issues/164#issuecomment-404002454, it may not be worthwhile.

[2018-07-12 15:22] jessegreenberg commented on #163
Excellent, thanks @terracoda!

[2018-07-12 15:37] JRomero0613 commented on #165
@jessegreenberg I have just done some testing to get a more accurate statistic and your original estimation of ~70% is fairly accurate. After testing 113 times using all types of keyboard inputs (small steps, big steps, home, end, and multiple in a row) the screen reader functioned properly 77 times, around 68%. This was done using the latest version in master (1.5.0-rc.7). Also of note, I did not

[2018-07-12 15:44] lmulhall-phet commented on #165
@jessegreenberg, I'd still like to test this in a JSFiddle. I created an [issue](phetsims/QA/issues/142) in the QA Repo.

[2018-07-12 21:51] jessegreenberg commented on #165
In https://github.com/phetsims/QA/issues/142 I said:

We should hear something like:
"New value for the slider is #".
"Alert: Slider value changed to #."

[2018-07-17 16:40] zepumph commented on #163
@jessegreenberg how should we proceed with this issue? Should we unassign? Mark low/deferred Priority? Move to a11y-research? Just close the issue and tag as a "wont-fix"?

[2018-07-17 16:44] jessegreenberg commented on #163
Lets discuss open RIAW issues at todays a11y dev meeting.

[2018-07-17 16:59] zepumph commented on #165
@JRomero0613 said

@jessegreenberg  how do you think we should proceed. RIAW is not a performance heavy simulation, so I worry if JAWS in unable to keep up. Was there ever an issue like this in BASE? Do you think it could have to do with how we have implemented the utterance queue, perhaps it has to do with the Timer's setInterval?

[2018-07-17 17:46] jessegreenberg commented on #165
An issue like this was not logged in BASE. I verified that all alerts are coming through in the a11y-view, they are just not being announced by JAWS, so I din't think it has to do with Timer's setInterval. The test in http://jsfiddle.net/4znve8cr/34/ used a setInterval as well.

[2018-07-17 18:41] jessegreenberg commented on #163
Discussed 7/17/18 meeting:

It is OK to let this one go. We should add this bug to the list of "Platform A11y bugs".

[2018-07-17 18:42] jessegreenberg commented on #163
Here is a link to the doc: https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit

[2018-07-17 18:47] jessegreenberg commented on #164
Discussed on 7/17/18 meeting -

We would like this to be fixed in scenery and hopefully we can use the `renderer: canvas` option in the future to improve performance, but this issue does not need to block publication of resistance-in-a-wire with accessibility.

[2018-07-17 18:48] jessegreenberg commented on #164
Lets briefly try with WebGL and see if this is still a problem before publishing with this bug.

[2018-07-17 18:58] jessegreenberg commented on #165
Discussed 7/17/18 - This issue is more critical than the others because  the user doesn't hear the physical description of the state of the sim. We should look into a performance improvement or potential workaround. A quirky workaround is not acceptable, so we would rather proceed with this bug than come up with some time consuming workaround.

[2018-07-17 18:59] zepumph commented on #165
That fiddle is using setTimeout, there is no queue with backed up logging being set to aria-live over an interval. To me that seems like it could be a slightly different implementation.

[2018-07-17 19:39] jessegreenberg commented on #165
@zepumph and I discussed and came up with a test that is closer in behavior to utteranceQueue/AriaHerald: http://jsfiddle.net/4znve8cr/43/

[2018-07-17 19:39] zepumph commented on #164
I didn't know anything about the other rendering options, here is some doc I found, http://phetsims.github.io/scenery/doc/#node-renderer

[2018-07-17 20:04] jessegreenberg commented on #165
Tested with the AT, and the problem is not showing up in that updated JSFiddle. @zepumph and I also tried removing code related to the redrawing of the dots and the letters, and the problem was still there. Granted, tests were done with Chrome + FF + Zoom + JAWS + more, so JAWS could be struggling with all of that at once. Even so, we are thinking that the behavior may not be related to performanc

[2018-07-17 21:10] JRomero0613 commented on #165
@jessegreenberg In testing BASE with JAWS again I have noticed that similar to the issue we are seeing in RIAW the alerts are not read out every time.

[2018-07-17 22:39] jessegreenberg commented on #163
I added a note in the document, closing

[2018-07-17 22:39] #163 closed

[2018-07-19 19:58] lmulhall-phet commented on #165
I played with BASE for a while today and I noticed this as well. I have no idea what's causing it. I thought the lack of alerts was caused by too many user input events, but I tested this theory, and it doesn't seem to be correct. @jessegreenberg what else can we do to help you pin down what's causing this?

[2018-07-25 18:18] jessegreenberg commented on #165
Thanks @lmulhall-phet and @JRomero0613. Pinging @emily-phet and @terracoda so they are aware that this issue is in the deployed version of BASE as well.

@zepumph and I verified that the issue is not related to the performance of the graphical rendering in https://github.com/phetsims/resistance-in-a-wire/issues/165#issuecomment-405710285. And @mbarlow12 and I verified that this is not related to t

[2018-07-25 18:21] jessegreenberg commented on #165
Thanks very much for offering @lmulhall-phet, Ill definitely let you know if I have another JSFiddle to test.

[2018-07-25 18:40] jessegreenberg opened #166 "JAWS often reads the wrong value for resistivity and area sliders"
Noticed while working on #70, I noticed that JAWS often reads out the wrong value. Its like it is not reading the rounded value. Often I will hear "12.01" when the area value is 12.

[2018-07-25 18:42] jessegreenberg opened #167 "JAWS changes the slider value when focus leaves the slider"
When focus leaves a slider, JAWS changes its value. Steps to reproduce:

- Tab to area slider
- Increment to 8.00 cm^2
- Tab to reset all button

The slider will increment to 9.00 cm^2

[2018-07-25 18:48] jessegreenberg commented on #167
This is not an issue in 1.5.0-rc.7

[2018-07-25 18:48] jessegreenberg commented on #166
This is not an issue in 1.5.0-rc.7

[2018-07-25 18:52] jessegreenberg commented on #165
I was testing this, but then went back to
https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.7/phet/resistance-in-a-wire_all_phet.html

And the issue is magically gone. I can no longer reproduce this issue.

[2018-07-25 18:57] jessegreenberg commented on #165
I cannot reproduce in Chrome or IE11 either.

[2018-07-25 19:00] jessegreenberg commented on #165
Ok, can reproduce on rc.7 if I press the arrow key a number of times before JAWS can read out a value. Also on home/end it happened a few times. I also encountered the bug where JAWS randomly moves focus around the sim when trying to press reset all

[2018-07-25 19:12] jessegreenberg commented on #165
I had to reset my computer and now the bug is happening much more frequently again.

[2018-07-25 19:16] jessegreenberg commented on #165
I added return statements at the top of Accessibiliity.js `setInnerContent`, `setLabelContent` and `setDescriptionContent`, so the PDOM was essentially empty and I am still seeing this bug. I am going to try to look for differences between our implementation of AccessibleSlilder and the JSFiddle.

[2018-08-14 16:53] zepumph opened #168 "Create a new RC for RIAW"
This issue is to keep track of where we are with all issues needing to be done before the next RIAW. https://github.com/phetsims/QA/issues/137 was closed, but can be used as a base.

- [ ] ~we also want to make sure that https://github.com/phetsims/scenery/issues/830#event-1768435041 gets in here.~

[2018-08-15 16:33] samreid opened #169 "Redesign PhET-iO API"
For instance, we would like to uninstrument all of the numerous dots and dot nodes as discussed in https://github.com/phetsims/phet-io/issues/1202

[2018-08-20 19:32] jessegreenberg commented on #167
This happens in Firefox but not Chrome.

[2018-08-20 19:33] jessegreenberg commented on #167
This happens in FF without JAWS too.

[2018-08-20 19:38] jessegreenberg commented on #167
Sliders get the change event in FF on blur. I want to know more about when the change event is generally supposed to be triggered.

[2018-08-20 21:52] jessegreenberg commented on #167
Aha, this looks like the critical piece of information:

[2018-08-21 20:38] jessegreenberg commented on #167
This has been fixed with the above commit, step has been set to "any", and we only handle change if the element has focus, we don't update if the browser is trying to "commit" a value that is divisible by the step size on the blur event.

[2018-08-21 20:38] #167 closed

[2018-08-21 20:38] jessegreenberg commented on #166
This was fixed with changes for https://github.com/phetsims/resistance-in-a-wire/issues/167

[2018-08-21 20:38] #166 closed

[2018-08-22 15:02] jessegreenberg commented on #164
This has been fixed with the above commit that targets Firefox. @zepumph can you make sure this gets into the release branch as part of #168?

[2018-08-22 15:20] jessegreenberg commented on #165
On my Windows 10 desktop I get alerts 99% of the time, playing with the sim for 5-7 minutes I only missed one alert. This continues to indicate that this is a performance problem.

[2018-08-22 15:58] jessegreenberg commented on #165
I added these lines to the HSlider in the sun demo and the problem does not show up there at all.
[code]

[2018-08-22 16:06] jessegreenberg commented on #165
If I remove the formula and the wire and the arrow from the ScreenView, 99% of the alerts come through.

[2018-08-22 21:59] jessegreenberg commented on #165
I determined that the dotsNode was causing the greatest performance impact and removing it entirely from the ScreenView is what made the alerts come through much more consistently and JAWS to feel more responsive when moving the sliders.

I went ahead and re-implemented the dots with CanvasNode and this issue is much improved. There are no longer individual Nodes for each circle so this phet-io co

[2018-08-22 22:02] jessegreenberg commented on #164
https://github.com/phetsims/resistance-in-a-wire/commit/098297ee71a48db703e58459f3d7df9ea15f9179 was actually removed for #165 because the dots have been re-implemented with CanvasNode.

[2018-08-22 22:09] jessegreenberg commented on #165
This required a number of changes and two new files.  I hope that the merge into the release branch will be straight forward but I don't know how it will go. @zepumph if I can help at all for #168 please let me know.

[2018-08-22 22:10] jessegreenberg commented on #164
I verified that the bug was still fixed after #165, and it makes because `canvas` renderer was the fix here too.

[2018-08-22 22:12] jessegreenberg commented on #168
With #165 and #164 I don't think that https://github.com/phetsims/scenery/issues/830#event-1768435041 will be required for this release anymore.

[2018-08-23 21:26] zepumph commented on #162
I feel convinced that any issues in this rc will be covered by QA, and don't need fuzzMouse in this branch. Closing

[2018-08-23 21:26] #162 closed

[2018-08-23 21:40] zepumph commented on #168
- [x] already done, cherry picked this commit https://github.com/phetsims/sun/commit/0ccb537199bef49a6e3dc7090e8a1701e2695741 into sun branch for https://github.com/phetsims/resistance-in-a-wire/issues/160
- [ ] cherry pick https://github.com/phetsims/resistance-in-a-wire/commit/ffcefb6ad36f94f606c878e51b0f8ff86f10f7f3 for https://github.com/phetsims/resistance-in-a-wire/issues/165 which also cove

[2018-08-23 22:34] zepumph commented on #168
qa issue created in phetsims/QA#179

[2018-08-23 22:34] #168 closed

[2018-08-24 17:33] lmulhall-phet opened #170 "Impurity dots outside of wire"
For https://github.com/phetsims/QA/issues/179. On macOS 10.13.6 + Chrome 68.0.3440.106, I'm seeing this:

![dots_pblm](https://user-images.githubusercontent.com/31285590/44598064-fdcc0100-a78e-11e8-95b3-86ebc435fe68.png)

I can't remember if this was an issue in older versions of the sim before @jessegreenberg implemented ffcefb6ad36f94f606c878e51b0f8ff86f10f7f3.

[2018-08-24 17:38] KatieWoe commented on #170
Close up image
![outofbounds](https://user-images.githubusercontent.com/41024075/44599035-3a4d2c00-a792-11e8-9951-f0d232687a08.PNG)

[2018-08-24 18:56] KatieWoe opened #171 "Impurity dots turn yellow in screenshot"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome and Firefox
**Problem description:**
For phetsims/QA/issues/179
When a screenshot is taken using the PhET menu the impurity dots appear to be the color of the background (i.e. yellow).  They should be black dots.
**Steps to reproduce:**
1. Adjust the sliders so that a fair number of impurity dots are visible.
2. Go t

[2018-08-24 20:12] KatieWoe opened #172 "About dialog goes off screen if stringTest=double"
**Test device:**
Dell Laptop and Chromebook
**Operating System:**
Win 10 and Chrome OS
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/179
When stringTest=double the "about" dialog becomes larger and go partly or entirely off the screen.  If it becomes too large the close button goes off the screen.  I did go and check a published sim and saw this problem in Balancing Chemical

[2018-08-24 21:54] jessegreenberg commented on #171
Almost certainly caused by #165 changes, assigning to me. I am not seeing this in other sims that use CanvasNode.

[2018-08-24 21:55] jessegreenberg commented on #172
Interesting, and not sim specific. I thought that our credits strings were not translatable and therefore didn't get doubled.

[2018-08-24 22:06] jessegreenberg commented on #170
Good eye, this is definitely new because using a clip shape that includes arcs is more performance intensive.

[2018-08-24 22:16] jessegreenberg commented on #170
@KatieWoe or @lmulhall-phet can you please see if this is fixed in master?

[2018-08-24 22:41] lmulhall-phet commented on #170
Looks fixed to me.

[2018-08-24 22:42] KatieWoe commented on #170
Looks good on my end

[2018-08-24 22:45] jessegreenberg commented on #171
If I add `context.fillStyle = 'black'` somewhere above  `context.fill()` in paintCanvas the problem goes away. fillStyle is supposed to have a default of black, not sure why it isnt showing up in the screenshot feature, am I wronge

[2018-08-24 22:46] jessegreenberg commented on #170
OK thanks @KatieWoe and @lmulhall-phet, leaving open to make sure this gets into the release branch.

[2018-08-24 22:55] jessegreenberg commented on #171
This is fixed in master, marking with a label so this makes it into the release branch.

[2018-08-24 23:02] KatieWoe commented on #171
Looks good on master

[2018-08-27 18:03] KatieWoe opened #173 "screenTest=double overlaps itself on iOS"
**Test device:**
iPad Air 2
**Operating System:**
iOS 11.4.1
**Browser:**
Safari 11
**Problem description:**
For phetsims/QA/issues/179
When stringTest=double the red heading in the slider box that displays the current resistance overlaps itself instead of becoming longer.  Moving the slider corrects this.
**Steps to reproduce:**
1. On an iPad Air 2 go to the sim
2. Use stringTest=double
3. Examin

[2018-08-27 18:13] KatieWoe commented on #173
Edit: This is also occurring on iPad 4 iOS 10.3.3

[2018-08-27 18:40] phet-steele commented on #173
@KatieWoe allow me to introduce you to https://github.com/phetsims/scenery/issues/469. This is more likely a problem with the stringTest, and not something a translator will ever see.

[2018-08-27 18:40] #173 closed

[2018-08-27 21:52] KatieWoe opened #174 "When stringTest=long on Win 8 IE the text becomes jumpy"
**Device**
Dell Laptop (Schrodinger)
**OS**
Win 8
**Browser**
Internet Explorer
**Problem Description**
For phetsims/QA/issues/179
When stringTest=long and the strings in the equation are large those strings will jump as the slider as moved.  Since these strings are unlikely to be altered or lengthened when translated this is not a large problem, but I'm documenting it here.
**Steps to Reproduce**

[2018-08-30 21:09] jessegreenberg commented on #174
Thanks @KatieWoe. @ariel-phet can you please comment on whether this is something that we need to investigate?

[2018-08-30 23:48] zepumph commented on #172
I poked around Dialog and didn't see any height validation, ensuring that things aren't bigger that the screen. I'm unsure that it is Dialog's job to do this though.

@jessegreenberg I looked into the doubling, and it is because CreditsNode uses a pattern for all of the strings, so the pattern is doubled.

I will create an issue in joist to note this. @ariel-phet do you think that this is somethin

[2018-08-30 23:51] zepumph commented on #172
SEE https://github.com/phetsims/joist/issues/516 for general issue.

[2018-08-30 23:54] zepumph commented on #165
Has this issue been confirmed fixed @KatieWoe? If so please close.

[2018-08-30 23:54] zepumph commented on #164
Has this issue been confirmed fixed in rc.8 @KatieWoe? If so please close.

[2018-08-31 14:40] KatieWoe commented on #165
Right.  Didn't notice the problem in rc.8.  Closing

[2018-08-31 14:40] #165 closed

[2018-08-31 14:47] KatieWoe commented on #164
Right, sorry.  Didn't notice it during rc.8.  Closing

[2018-08-31 14:47] #164 closed

[2018-08-31 17:48] zepumph commented on #164
Great thank you!

[2018-08-31 17:48] zepumph commented on #165
Great thanks!

[2018-09-04 18:42] ariel-phet commented on #172
@zepumph this should not need to be worked on for RIAW publication, since we sort of "hand code" the about dialog and it is not available for translation (the names anyhow)

@KatieWoe thanks for pointing this out, now that there is a general issue, closing this one.

[2018-09-04 18:42] #172 closed

[2018-09-04 19:06] ariel-phet commented on #174
@jessegreenberg no need to investigate since as @KatieWoe pionts out these strings are unlikely to be translated/altered.

Marking won't fix

[2018-09-06 20:45] KatieWoe commented on #170
@zepumph
For phetsims/QA/issues/183.
It seems like this seems to happen to some small extent still.
Win 10 Chrome
![outside](https://user-images.githubusercontent.com/41024075/45184191-74cbb580-b1e3-11e8-8411-e6e954873991.PNG)

[2018-09-06 20:48] zepumph commented on #170
From https://github.com/phetsims/resistance-in-a-wire/issues/170#issuecomment-415901065 it makes it seem like this issue is completely fixed in master. @KatieWoe can you confirm that you can't find this "small" version of the bug in master too?

[2018-09-06 21:42] lmulhall-phet commented on #170
I'm seeing some slight clipping in master on Win10 + Chrome:

![dots](https://user-images.githubusercontent.com/31285590/45186563-27534680-b1eb-11e8-97ea-38b44d9e7c22.PNG)

[2018-09-06 21:44] lmulhall-phet commented on #170
Found this in master on macOS + Chrome:

![screen shot 2018-09-06 at 3 43 38 pm](https://user-images.githubusercontent.com/31285590/45186720-af395080-b1eb-11e8-8b7a-f72ba81da13b.png)

[2018-09-06 21:53] zepumph commented on #170
I agree, but I think it is mighty close. @jessegreenberg this may just be adjusting the clip area ever so slightly. A few more comments about what I found in master.

Here is a dot a the edge where it is curved more, and it is a bit off.
![image](https://user-images.githubusercontent.com/6856943/45187045-e56ed400-b1db-11e8-9af9-43181a6e2ae2.png)

Where as this dot is pretty much perfect on the end

[2018-09-07 14:37] jessegreenberg commented on #170
That seems to be the most important thing. The clip shape is scaled down by the radius of the dot to prevent this, but maybe that isn't enough for the corners.

[2018-09-07 14:57] jessegreenberg commented on #170
I am able to reproduce this issue around the rounded corners of the wire if I extend the length of the wire just long enough with the keyboard.

[2018-09-07 15:07] jessegreenberg commented on #170
If the clip shape gets too small the dots start to look like they disappear too early, which IMO is worse than them extending beyond the edge of corners of the wire by a few pixels. I adjusted the scale by a bit to get a happy medium, @KatieWoe and @lmulhall-phet can you play with master and see if this is better?

[2018-09-07 15:52] KatieWoe opened #175 "NVDA stutters on equation when rho is small and A is stuttered when being controlled"
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Firefox
**Problem Description**
For phetsims/QA/issues/183
There are some stutters when using the NVDA screen reader.  The first occurs when R and rho are small and the screen reader is describing the equation.  Other states of the equation do not seem to create this stutter so far as I have discovered.  In addition, when manipulating A the screen r

[2018-09-07 17:52] zepumph commented on #175
I'm terribly sorry. I can't hear the stutter. Honestly it sounded normal to me. @jessegreenberg can you hear it?

[2018-09-07 17:58] KatieWoe commented on #175
The primarily described is in the second video I believe.  The word the is repeated before L.

[2018-09-07 18:29] KatieWoe opened #176 "NVDA Keyboard Nav Button and Phet Menu read as same button"
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Firfox
**Problem Description**
For phetsims/QA/issues/183
First noticed by @lmulhall-phet.  When NVDA is reading through the controls it seems to treat the Keyboard Nav Button as being the same as the PhET Menu, and reads them one right after the other while only highlighting the Keyboard Nav button.  This only seems to be the case when reading thro

[2018-09-07 20:16] zepumph commented on #176
I took this for a spin to hear it with chrome and firefox (NVDA), and found the same thing with both. I can confirm that I hear the same thing you do @KatieWoe, except here is my take.

I think the title is a little bit different what what is happening

I actually hear two individual buttons each time, they are just described in the same key press. This is because they are both surrounded in a `di

[2018-09-07 21:27] KatieWoe commented on #170
I would agree.  Slight clipping is preferable.  The clipping is better since the issue was first raised.

[2018-09-08 00:42] lmulhall-phet opened #177 "Is the read out for minimum length supposed to be 0.00...01?"
Here's what JAWS sounds like when it reads the "Slider Controls" h3:

https://drive.google.com/open?id=1-IBXvhnGrQo0n4jlHKwDEd5MomSDyFMl

For ~~https://github.com/phetsims/QA/issues/179~~ https://github.com/phetsims/QA/issues/183.

[2018-09-08 15:29] jessegreenberg commented on #177
That sounds incorrect, its reading the value of the "Length" slider, and it sounds like the formatting isn't right.

[2018-09-08 15:31] jessegreenberg commented on #177
Oh, for some reason it is reading the "min" and "max" values for the slider? I have never heard that before. he min value in the PDOM is  `min="0.1"`, so I am confused about where it is getting "0.00000.....1.

[2018-09-08 15:32] jessegreenberg commented on #177
Hearing the recording again, it is saying "min 0.100...001", so it is a precision issue maybe.

[2018-09-08 15:33] jessegreenberg commented on #177
Likely a problem with AccessibleSlider so assigning to myself.

[2018-09-08 15:44] jessegreenberg commented on #177
I don't see anywhere where the "min" attribute could pick up extra decimals in `toFixed` calls or something, inspection in the console shows that min value is `0.1`.

I am not hearing this in JAWS with FF 62, but JAWS isn't reading min and max values for the slider when it receives focus. Ill see if I can figure out how to turn that on in user settings or something.

[2018-09-08 15:49] jessegreenberg commented on #177
OK, I hear it now, only happens when reading through with the virtual cursor (not on focus). Here is the HTML for the slider:
[code]

Ill try to reproduce in a JSFiddle.

[2018-09-08 15:51] jessegreenberg commented on #177
I was able to reproduce in this JSFiddle: https://jsfiddle.net/au7rhbg8/

[2018-09-08 16:02] jessegreenberg commented on #177
Seems to just happen for some "min" values for sliders. For example, this slider with min=0.3 reads the min value (**only when using the virtual cursor**) as "0.299999....". I think that we should submit a bug report to VFO, add to the list of AT quirks, and close this issue.

@terracoda @zepumph what do you think?

[2018-09-08 16:04] jessegreenberg commented on #177
Here is a very basic slider where the bug is coming up, Ill probably use this one in the bug report.

[2018-09-08 16:26] jessegreenberg commented on #177
I went ahead and reported https://github.com/FreedomScientific/VFO-standards-support/issues/112. I documented in our internal tracking. OK to close this issue?

[2018-09-08 16:32] jessegreenberg commented on #175
Good ear @KatieWoe! To me it sounds like repetition of the word "than".

[2018-09-08 16:33] jessegreenberg commented on #175
Here it is in the PDOM:
![image](https://user-images.githubusercontent.com/6396244/45256360-5c82a480-b363-11e8-8249-9d21ca4a63bd.png)

[2018-09-08 16:36] jessegreenberg commented on #175
I think the problem is the "than" in `lAndAComparablePatternString`:
'Size of letter R is {{rToRho}} the size of letter rho, and {{rToLAndA}} than letter L and letter A.'

because the size comparison strings all have "than" already.

[2018-09-08 16:41] jessegreenberg commented on #175
This was my fault @zepumph, so sorry :(

I went ahead and removed it and played with the sim, I think this is safe. Can you please review? I don't think there was a combination that was using that extra "than" but can you please verify before we merge with master?

[2018-09-08 16:58] lmulhall-phet commented on #177
If you think we’re done, then it’s OK to close from QA’s standpoint. But perhaps @terracoda and @zepumph will have something to say, so I’ll leave it open for now.

[2018-09-08 17:16] zepumph commented on #177
Sounds good to close. @jessegreenberg isn't there a place to document this sort of weirdness so qa has a list of know bugs to check before submitting issues to developers? I would recommend adding this there.

[2018-09-08 17:30] jessegreenberg commented on #177
There is, sorry I mentioned in an edit to https://github.com/phetsims/resistance-in-a-wire/issues/177#issuecomment-419655417 that I added a note there.

[2018-09-08 20:57] jessegreenberg commented on #170
Ok, one more thing we can try is to approximate the arc around the ends of the wire. Using `Shape.ellipticalArc` was performance intensive, but maybe an arc shape with fewer segments will work out faster.

[2018-09-08 21:36] jessegreenberg commented on #170
Using segments to approximate the clip shape seems to be working well. I tested in JAWS 2018 on my slower laptop in FF 62 and it sounds nice, I can't reproduce #165 or #164. The clip shape looks something like this, though we can increase the number of segments to get a cleaner shape.
![capture](https://user-images.githubusercontent.com/6396244/45258839-b1d3ab80-b38d-11e8-8cef-42a7af030e6b.PNG)

[2018-09-08 21:37] jessegreenberg commented on #170
With 9 segments on each side, it is plenty fast enough and almost a perfect shape
![capture](https://user-images.githubusercontent.com/6396244/45258849-d29c0100-b38d-11e8-83a8-caed1e88a60a.PNG)

[2018-09-08 21:46] jessegreenberg commented on #170
The "approximation" will be worst around the corners of the wire. So the current result is that dots that are right at the corners may have a sliver chopped off between the dot and edge of the wire that looks something like this:
![capture](https://user-images.githubusercontent.com/6396244/45258894-c2d0ec80-b38e-11e8-9dd4-a86fbf75f70f.PNG)

But I think this is totally reasonable since we have clea

[2018-09-10 14:44] KatieWoe commented on #170
@jessegreenberg I agree, it looks much better.  I noticed the same thing you did in the corners, but on a very high resolution screen I had to squint to notice it.

[2018-09-13 15:32] jessegreenberg commented on #177
Alright we have 👍 s from everyone so I think we can close!

[2018-09-13 15:32] #177 closed

[2018-09-13 15:33] jessegreenberg commented on #170
OK, great, thanks. In that case this can be merged into the release branch.

[2018-09-13 15:36] jessegreenberg commented on #170
I believe that these are the commits that need to go into the release branch:
https://github.com/phetsims/resistance-in-a-wire/commit/1889524314f79fec312219217a8cc286171d670a
https://github.com/phetsims/resistance-in-a-wire/commit/c029514323a0bd7730882a4e86e6ad10bd6ea8c8
https://github.com/phetsims/resistance-in-a-wire/commit/a3278ac15a64d84780417bc740d27c57e04cbb3a

[2018-09-24 19:01] terracoda commented on #176
I am re-opening this issue. Based on 2 interviews with Friction, this seems to be an issue for blind users.

But maybe it makes the best sense to move this issue to the A11y Research repos as it affects all sims?

[2018-09-24 19:03] terracoda commented on #176
I am adding this item to Tuesday's A11y Dev/Design meeting, and I'll tag folks so they have a heads up: @jessegreenberg, @zepumph, @mbarlow12, @emily-phet, @elharden2

[2018-09-24 19:36] zepumph commented on #176
@terracoda I think you should create an issue in a11y research and then link this issue to it. I think these large ideas/design changes work best when not tied to a bug report from QA for a single sim.

[2018-09-24 19:44] terracoda commented on #176
Closing this issue again. It will be addressed in https://github.com/phetsims/a11y-research/issues/121 .

[2018-09-24 19:44] #176 closed

[2018-09-25 19:05] zepumph opened #178 "A11y publication post-mortem"
This was brought up by @emily-phet today in meetings. Once this sim is published, we should discuss the process we went through, and how we can tweak that to be the most efficient.

@jessegreenberg @terracoda @mbarlow12.

[2018-10-02 16:39] zepumph commented on #160
Should be confirmed as part of #179, @KatieWoe please close if it looks good to you.

[2018-10-03 15:43] KatieWoe opened #179 "Incorrect increment jumps on length and area sliders."
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/183 during confirmation of https://github.com/phetsims/resistance-in-a-wire/issues/160.
When the normal keyboard nav up or down arrows are pressed they are meant to take the slider to the nearest whole number (example: pressing up when at 9.99 should take

[2018-10-03 16:01] KatieWoe commented on #160
Tested on 1.5.0-rc.8 and 1.5.0-rc.9 on all Win 10 and Mac 10.14 browsers.  The problems described here look ok.  Note that a new issue was found: https://github.com/phetsims/resistance-in-a-wire/issues/179.  Closing this issue.

[2018-10-03 16:01] #160 closed

[2018-10-03 19:35] jessegreenberg commented on #179
This should be fixed in master, @KatieWoe could you please check?

[2018-10-03 19:53] KatieWoe commented on #179
@jessegreenberg This issue seems ok on master, but https://github.com/phetsims/resistance-in-a-wire/issues/160 seems to be back.  Most noticeable on resistivity and area sliders.

[2018-10-03 20:46] jessegreenberg commented on #179
Thanks for testing that @KatieWoe, the problem was in the sim instead of AccessibleSlider this time. I did some checking but can you please make sure all is well?

[2018-10-03 21:07] KatieWoe commented on #179
@jessegreenberg all looks good.

[2018-10-10 20:16] jbphet opened #180 "Add sound"
The sound design for this simulation is in a state where we can now implement it in the simulation.  The sound design document can be found [here](https://docs.google.com/document/d/1eof0--X1w6NBm5HWdMll8i3HvbOsOCE_D_Tu1WoooQc/edit#) and a working prototype version that uses phet-io and wrappers is available [here](https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.69/phet-i

[2018-10-10 22:54] jbphet commented on #180
@emily-phet and @Ashton-Morris - I've added an initial implementation of sound to RIAW, please try it out and log any feedback in this issue.

Link: https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.6.0-dev.3/phet/resistance-in-a-wire_en_phet.html?supportsSound

[2018-10-10 22:55] jbphet commented on #180
One thing I noticed on this version, and it is consistent with the prototype sound design, is that if you start the sim up and move one of the sliders down slowly with the mouse, it moves a ways before a sound occurs, but if you move it up, a sound occurs right away.  I'm thinking it would be more intuitive if sound was generated at the same distance from the center position.

[2018-10-11 02:39] Ashton-Morris commented on #180
I agree that the trigger points for the sliders should be the same going up or down. Currently there are 6 sound points if you slide it up and 5 if you slide it down on each slider. Maybe changing the number of points to 12 total might help?

The current reset sound is different from the what we are using in the JT sonification sim, for continuity we should use the same one.

[2018-10-17 12:51] emily-phet commented on #180
@jbphet @Ashton-Morris Let's discuss this in a meeting on 10/23 (google invite already sent).

[2018-10-22 20:54] emily-phet commented on #180
@jbphet @Ashton-Morris
A few thoughts:

- A note on trigger points for the tone when using the slider - looks like it triggers each 0.1 for resistivity, each 2 for L, and 1.5?  - plus triggering quickly after the 'up' motion wherever you are. @jbphet can you describe exactly how this is implemented - what is the trigger tied to? The value of the slider + something related to timing/direction of in

[2018-10-23 18:10] emily-phet commented on #180
@emily-phet Going to check in with AP and KP about publishing RIAW without enhanced options (marimba sound as default).
Also to check with KP on licensing question.

[2018-10-23 22:04] emily-phet commented on #180
@jbphet
@ariel-phet thinks RIAW is good to go sound-wise. Waiting to hear back from @kathy-phet
AP also mentioned that the resistance word is moving on the screen now that there are three decimal places. He would like that word fixed in place. Is that something you can do?

[2018-10-24 21:16] emily-phet commented on #180
@jbphet @Ashton-Morris
KP and AP have given their feedback - the sound is good to go. They would like something done to minimize the amount of 'jumping around' the resistance word does as the resistance value changes. Then it's good to go to move on to the next steps toward publication.

[2018-10-24 23:01] zepumph commented on #170
We will not be pulling this into the 1.5 rc. If this has been confirmed fixed in master it can be closed.

[2018-10-24 23:01] #170 closed

[2018-10-24 23:01] zepumph commented on #171
We will not be pulling this into the 1.5 rc. If this has been confirmed fixed in master it can be closed.

[2018-10-24 23:01] #171 closed

[2018-10-24 23:01] zepumph commented on #175
We will not be pulling this into the 1.5 rc. If this has been confirmed fixed in master it can be closed.

[2018-10-24 23:01] #175 closed

[2018-10-24 23:04] zepumph commented on #178
Seeing that we are ditching this rc for one that will soon be created that has sonification in it, perhaps the time is nigh for this discussion. I'll add it to the dev/design meeting agenda.

[2018-10-30 16:09] jessegreenberg commented on #179
Thanks @KatieWoe, closing this issue given #178

[2018-10-30 16:09] #179 closed

[2018-10-30 17:20] jbphet commented on #180
In [version 1.6.0-dev.3](https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.6.0-dev.3/phet/resistance-in-a-wire_en_phet.html?supportsSound) there is an issue with when the sliders generate sounds.  In this version, moving a slider up or down any amount after initial reload generates a sound.  Once this initial motion has occurred for a given slider, if the sim is then reset, moving the slid

[2018-10-30 17:32] jbphet opened #181 "Reduce the amount of motion in the control panel title as the resistance changes"
@emily-phet said in #180:

and

I'm creating this issue as a place to track commits made to address this "jumping around" problem.

[2018-10-30 22:30] jbphet commented on #180
@emily-phet tried out the version in the comment just above and said that the number of bins and the other aspects of the behavior seemed correct.

[2018-10-31 21:16] jbphet commented on #181
I just reviewed the revised behavior with @ariel-phet and he approved.  This will be included in the next release.  Closing.

[2018-11-05 23:37] jbphet opened #182 "Distortion occurring in sound when sliders moved quickly"
While working on #180, I thought I was hearing some distortion of the sound, likely due to clipping, if I moved the sliders up and down quickly.  I recorded the sound and measured it with an app called Total Recorder, then examined it using Audacity.  Indeed, it's clipping.  Here are a couple of screenshots that illustrate.

Big picture view - this shows several rapid up-and-down movements of the

[2018-11-05 23:39] jbphet commented on #182
Note: I tried uploading the .wav files that capture the effect in an audio recording, but GitHub doesn't support that file type.

[2018-11-06 16:47] jbphet commented on #180
Here is a dev version with sound turned on (i.e. no query parameter required), bins improved, and a proposed solution in place for the issue where distortion was occurring.  @Ashton-Morris - please test this and let me know if you feel like any last minute adjustments to volume or any other sound behavior is needed.  If not, I'll create a release candidate (RC) and start the testing process.

[2018-11-06 19:22] zepumph commented on #178
We discussed this today.

It was a good discussion centered around understanding what caused RIAW 1.5 to take so long, and how/if that will apply to future situations.

We saw that the following had an impact on "stalling" and prolonging this QA process:
* No one was the lead in the sim to bring it "to the finish line." Thus it was easy for this to fall off of peoples' (my) plate and be forgotten

[2018-11-06 21:36] jbphet commented on #182
I discussed the approach for this with @Ashton-Morris today because I wanted some input from someone with sound engineering experience.  He pointed out that having a compressor/limiter at the end of the signal chain is a pretty common process when mixing, so that has given me more confidence that this approach makes sense.

[2018-11-06 22:17] samreid opened #183 "Expected Range, received Object"
Studio => Launch yields:

Uncaught Error: Assertion failed: Incorrect type in phet-io wrapper. Expected Range, received Object
    at window.assertions.assertFunction (assert.js:22)
    at assertInstanceOf (assertInstanceOf.js?bust=1541542492739:57)
    at Function.toStateObject (RangeIO.js?bust=1541542492739:38)
    at Function.toStateObject (NumberPropertyIO.js?bust=1541542492739:73)
    at getV

[2018-11-06 23:22] jbphet opened #184 "Test for memory leaks prior to starting 1.6 release process"
This sim is getting close to the point where a new release will need to go out.  It should be tested for memory leaks before that process is started.  This GitHub issue will be the place to track the results.

[2018-11-06 23:36] jbphet commented on #184
Here are the results of a memory leak test on the master RequireJS version.  All testing was done in a new incognito window in Chrome.  The basic test procedure is to record heap snapshot was recorded every minute for 10 minutes, though the very first one (time=0) was done by loading the sim without the `fuzz` query parameter.

Results:

| Time (minutes)  | Memory Usage (MB)  |
|---|---|
| 0  | 19

[2018-11-07 16:05] samreid commented on #183
Fixed in https://github.com/phetsims/phet-io-wrappers/issues/196, closing.

[2018-11-07 16:05] #183 closed

[2018-11-07 18:20] jbphet commented on #184
It has been requested that we don't wait for phet-io to be ready to support a release before doing the next RIAW release, so I'm not going to collect memory usage data for the phet-io version.

[2018-11-07 18:58] KatieWoe opened #185 "CT: unloaded frame before complete"
[code]

[2018-11-07 18:58] jbphet commented on #182
Reopening - I'd like to get this tested on multiple platforms during the 1.6 RC testing.

[2018-11-07 19:01] jbphet commented on #181
Reopening so that it can be verified on multiple platforms during the 1.6 release testing.

[2018-11-07 20:57] jbphet opened #186 "Why does the focus highlight for the reset button have a stroke?"
With one exception, all all focus highlights in this sim are a simple shape with no stroke, like this one for one of the sliders:

![riaw-slider-highlight-2](https://user-images.githubusercontent.com/3082831/48160294-b389f480-e294-11e8-8cfe-30300aaa9153.png)

However, there is a stroke on the highlight when the reset button is selected, shown here:

![riaw-slider-highlight](https://user-images.git

[2018-11-07 21:14] jessegreenberg commented on #186
When the resistance is very large it is difficult to see the pink focus highlight on top of the red letter, so a black focus highlight was added to help with visibility.

Here is the related issue: https://github.com/phetsims/resistance-in-a-wire/issues/118

Reassigning to you @jbphet.

[2018-11-08 16:50] jbphet commented on #186
Okay.  Seems like a reasonable explanation.  Closing.

[2018-11-08 16:50] #186 closed

[2018-11-08 17:02] rea-laura opened #187 "Rho symbol does not translate"
<b>Test Device</b>

Pauling

<b>Operating System</b>

iOS 11.4.1

<b>Browser</b>

Safari 11.4.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/219:
Rho symbols in equation and in slider bar panel do not translate during string test queries. This symbol <b>does</b> translate in the <b>published version of the sim.</b>

The issue appears on all operating systems and browsers

[2018-11-08 19:53] KatieWoe opened #188 "Pitch changes more on last bit of sliders"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/219#event-1953042350
When listening to the sound made by different increments while moving the sliders, the pitch difference drastically changes when at the bottom of the slider.  If moving the rho or L sliders the last ding is much higher than the others

[2018-11-08 20:12] phet-steele commented on #185
Not happening frequently. Closing as per https://github.com/phetsims/trig-tour/issues/91#issuecomment-436744390.

[2018-11-08 20:12] #185 closed

[2018-11-08 20:16] phet-steele commented on #182
@jbphet I'm getting some wacky and cool sounds when I very tightly flam home + end (with keyboard nav).

Heard on Win 10 Chrome. For phetsims/QA/issues/219.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.6.0-rc.1/phet/resistance-in-a-wire_en_phet.html
Version: 1.6.0-rc.1 2018-11-07 18:26:25 UTC
Features missing: touch
User

[2018-11-08 20:21] phet-steele commented on #181
@jbphet "resistance" doesn't budge at all on my Win 10 Chrome! Although it does budge when using `?stringTest=double`.

[2018-11-08 20:56] rea-laura commented on #173
Also found on https://github.com/phetsims/QA/issues/219

[2018-11-08 23:56] KatieWoe opened #189 "Jaws reads out incorrect values in scene summary"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/219#event-1953042350 and https://github.com/phetsims/QA/issues/217
When the scene description first plays it reads out the initial values for all the sliders and then goes in to a bulleted list with those same values.  If you manipulate those sliders and

[2018-11-09 00:11] jessegreenberg commented on #189
Reproduced, this is a weird bug. I verified that the old content is not in the a11y view or hidden in the HTML. I can't find any of this old list content in the Accessibility Tree inspector in Chrome dev tools.

[2018-11-09 00:15] jessegreenberg commented on #189
It is reading all of the values as though they are not attached to a list. Then after it reads all of the initial values as though they are in a paragraph, then it reads out the list items, indicating list role.

[2018-11-09 00:33] jessegreenberg commented on #189
There is duplication on initial read too, it is just less jarring because the content is up to date. My theory is that JAWS is reading the accessible  name for the unordered list containing the list items, then reading out the list items individually. Accessible names for the list items are updating correctly, but accessible name for the entire list is not.

[2018-11-09 00:41] jessegreenberg commented on #189
Adding these two lines in item.property.link in AccessibleSummaryNode fix the problem, probably because it forces Chrome to recalculate an accessible name in the a11y tree:
[code]

[2018-11-09 00:51] jessegreenberg commented on #189
@terracoda do you know of a way to make it so that the ul of the scene summary in RIAW doesn't have an accessible name that gets read by the virtual cursor? Is it even a good idea to try this?

[2018-11-09 10:43] terracoda commented on #189
What does JAWS read as the accessible name for the list? I wouldn't think that a list element, a `<ul>` tag would require an accessible name.

Is the problem occurring because the sliders are in a list?

In testing sonified sims, I have mentioned more than once that I think I am getting duplicate content, but then I haven't been able to consistently reproduce.

Could it have something to do with t

[2018-11-09 11:03] terracoda commented on #189
@jessegreenberg, the sim sounds fine in VoiceOver. I cannot reproduce the issue with that screen reader.

When I inspect the PDOM I see an empty paragraph element with `id="262-340-353-427-429" ` just after the description of the equation and and empty div element with id="262-340-353-443" just after the description of the wire.

I do not, however, see any duplicate or empty elements in the scene

[2018-11-09 11:06] terracoda commented on #189
@jessegreenberg, I do not understand this problem, should I ask a JAWS user to try it out?

[2018-11-09 15:59] jessegreenberg commented on #189
The problem is that for the following list:
[code]

In Chrome, JAWS reading from top to bottom reads it as
"resistance R is 0.667 ohms, resistivity rho is 0.50 ohm centimeters, length L is 10.00 centimeters, area A is 7.50 centimeters squared. List with four items. Bullet, resistance R is 0.667 ohms. Bullet, resistivity rho is 0.50 ohm centimeters. Bullet, length L is 10.00 cm, bullet area A is 7.

[2018-11-09 16:10] jessegreenberg commented on #189
Ah, when I remove tabindex="-1" from the ul the repetition goes away. tabindex="1" was added as a workaround because IE11 adds tabindex=0 to all HTML elements, even those that are not focusable.

[2018-11-09 16:32] jessegreenberg commented on #189
Since we are moving toward supporting Chrome instead of FF, I think we need to stop using tabIndex=-1, I created https://github.com/phetsims/scenery/issues/893 to track this.

[2018-11-09 16:38] jessegreenberg commented on #189
We need a way to set/get data attributes from AccessiblePeer. I think we can use setAttribute/getAttribute, but the spec defines a `dataSet` property on HTMLElements for this. I can't decide whether or not we should use this since we have AccessiblePeer.setAttributeToElement

[2018-11-09 18:33] jbphet commented on #184
I showed this to @pixelzoom at a recent meeting and compared it to some other sims, and the behavior seems reasonable.  Closing.

[2018-11-09 18:43] jbphet commented on #182
I tried a lot of home-end key flams and didn't hear anything other than fast tone combinations, none of which caused clipping distortion, and all of which seemed entirely reasonable.  I also recorded the output and looked at it, and all peaks were well below 0 dBFS.  I was testing on Win 10 and Chrome, as was @phet-steele.

@phet-steele - this is a bit of an unusual test case, but if you think tha

[2018-11-09 19:20] emily-phet commented on #188
Yup - this maps (reasonably) to the resistance values. There can be some extreme resistance value changes at the extremes of the sliders, and this significant pitch change is intended to reflect that. You should be hearing the most drastic pitch changes when the most drastic visual changes to the letter sizes occur.

[2018-11-09 20:14] Ashton-Morris commented on #188
Yes I agree with @jbphet adn @emily-phet

[2018-11-09 20:42] rea-laura opened #190 "Sound disappears sometimes in Full-Screen Mode"
<b>Test Device</b>

Dirac

<b>Operating System</b>

El Capitan 10.11.6

<b>Browser</b>

Safari 11.1.2

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/219:
Sound will sometimes disappear in full-screen mode. Once lost, the sound cannot be recovered by exiting full-screen mode, nor by pressing the sound on/off button or interacting with the sim in any other way. The entire web

[2018-11-09 22:36] pixelzoom commented on #184
Reopening in light of https://github.com/phetsims/tandem/issues/71.  If RIAW release branch was created after IO types were moved to tandem, then RIAW is almost certainly using more memory than it should be.   Up to @jbphet to decide if that's an issue.   If it's were me and RC hadn't started yet, I'd grab a fresh set of master repos.

[2018-11-09 22:39] mikewinters10 commented on #188
Just confirming: the pitch difference @KatieWoe is describing is consistent with our the logarithmic scaling of R, which maps the 9 orders of magnitude of R onto a linear scale (0 to 1).

Because of this function, the small changes in rho, L or A at the bottom of the sliders create proportionally large changes in R, which would create large pitch differences as described.

[2018-11-10 08:16] terracoda commented on #189
Well, I certainly like removing `tabindex=-1` from our code.

As browsers and AT all become more standards compliant, these sorts of work-arounds will be needed less and less.

The `tabindex=-1` work-around, though useful, was kind of code invasive ;-)

Thanks for figuring this out @jessegreenberg.

[2018-11-12 16:29] jbphet commented on #188
Okay, sounds like the sim is behaving as designed.  Closing.

[2018-11-12 16:29] #188 closed

[2018-11-12 17:22] KatieWoe opened #191 "Jaws unexpectedly reads out scene summary and sometime repeats it"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/219#event-1953042350 and https://github.com/phetsims/QA/issues/217.  May be due to switching support to chrome.
When navigating parts of the sim using tab, the screen reader behaves as expected.  However, when using shift + tab to go back the screen reader seems

[2018-11-12 17:36] KatieWoe commented on #189
Update: This does also occur in the section that reads out after the equation when looking at the play area.

[2018-11-12 17:42] KatieWoe commented on #189
@jessegreenberg I did see that when jaws was reading the keyboard nav dialog it read everything out twice in a similar manner, though of course nothing can change.  Not sure if this is and issue, but logging here since it is connected.

[2018-11-12 18:37] jessegreenberg commented on #189
Sounds good @terracoda thanks!

Thanks @KatieWoe that is really good to know. I expect it to be the same issue Ill check those cases too and see if they go away with https://github.com/phetsims/scenery/issues/893

[2018-11-12 18:50] KatieWoe opened #192 "Reset All Pointer Area"
The touch pointer area should be larger than the reset all button.  See https://github.com/phetsims/friction/issues/65

[2018-11-12 19:09] JRomero0613 opened #193 "VoiceOver reads out multiple resistance values after sliders stop being adjusted"
Test device: MacBook Air

Operating System: macOS High Sierra v. 10.13.6

Browser: Safari 12.0.13606.2.11

Problem Description: For https://github.com/phetsims/QA/issues/219 when using VoiceOver and inputting many inputs to the slider the read outs are inconsistent with what they should be. When adjusting sliders using the mouse all that is read out is "as letter _ grows/shrinks letter R grows/shr

[2018-11-12 19:17] JRomero0613 commented on #181
In testing I have noticed that "resistance" doesn't move at all when sliders are adjusted for values either below 1, or above 1. I think that this is because the motion in the "resistance" word occurs when changing from three decimal places to two as occurs when transitioning from R less than 1 to R greater than 1 or vice versa.

[2018-11-12 19:19] jessegreenberg commented on #189
This should be fixed in master and I believe it is fixed for all of the cases reported here. @KatieWoe can you please verify that this is fixed in master for the scene summary, the equation section, and the keyboard help dialog?

[2018-11-12 19:35] JRomero0613 opened #194 "Legends Of Learning Mute Doesn't Work"
For https://github.com/phetsims/QA/issues/219 when testing the functionality of the LOL harness with this sim I discovered that the mute button LOL provides (right next to start/pause/resume and end game buttons) does not mute the sound of the sim. @jbphet and I were discussing this and the possibility of adding in functionality where when the LOL mute button is hit it also activates the mute butt

[2018-11-12 19:41] KatieWoe commented on #189
Looks fixed but a new problem showed up.  After reading the values of the slider it says something to the effect of min or mid (I can't quite tell) and then a large number with many decimals.
https://drive.google.com/file/d/1qtZHB-EISWZvAN3Me9ZAFxso1f22H5B6/view?usp=sharing

[2018-11-12 19:44] KatieWoe commented on #191
Looks good.

[2018-11-12 19:44] phet-steele commented on #194
I just wanted to point out that this isn't a "bug" or "issue" per se. It has always been the intention that we only support play/pause in LoL, and nothing else (I'm having trouble finding this in writing, but I am 100% sure this is what I've been told).

Since it has never been expected that the mute sound button should work, and since I understand that this github issue is asking about the possib

[2018-11-12 19:44] KatieWoe commented on #189
According to @jessegreenberg on Slack this is either a Jaws or a browser problem.

[2018-11-12 19:53] jessegreenberg commented on #191
Thanks @KatieWoe since there is nothing to be done for this issue I am going to close and we can track the fixes in #189.

[2018-11-12 19:53] #191 closed

[2018-11-12 20:05] terracoda commented on #189
@jessegreenberg, this might be a problem with accessible slider. I posted a bug about values not round properly in https://github.com/phetsims/gravity-force-lab/issues/118.

@KatieWoe, is sounding like a small slider value, but given to the the 16th decimal place?

[2018-11-12 20:06] jessegreenberg commented on #189
That is correct, this was found and reported in https://github.com/FreedomScientific/VFO-standards-support/issues/112, determined to be a JAWS or browser bug.

[2018-11-12 20:13] jessegreenberg commented on #189
Hmm, thanks @terracoda I think it is a very similar but different issue. The video @KatieWoe posted shows JAWS reading the "min" attribute to many decimal places, and I verified the min attributes are rounded values. https://github.com/phetsims/gravity-force-lab/issues/118 shows a rounding problem with the aria-valuetext and seems more like an AccessibleSlider problem.

[2018-11-12 20:17] terracoda commented on #189
@jessegreenberg the phetsims/gravity-force-lab#118 issue is not just a JAWS issue, so yes, not the same issue. It happens in VoiceOver as well.

[2018-11-12 20:30] jessegreenberg commented on #193
For the mouse bug, this is the expected behavior. The "accessible" slider in the parallel DOM doesn't have focus during mouse interaction so we don't expect it to announce aria-valuetext updates. The same is true in john-travoltage.

For the Keynav bug, this is because VoiceOver reads all alerts that are queued up even during interaction (unlike JAWS and NVDA). So when using the arrow keys quickly

[2018-11-12 20:33] jessegreenberg commented on #189
OK, so once https://github.com/phetsims/scenery/issues/893 is reviewed, I will feel more comfortable about cherry picking the fix into the release branch. Reassigning to myself to track the scenery issue and then collaborate with @jbphet to pull the change into the release branch.

[2018-11-12 21:15] KatieWoe commented on #181
@jbphet I'm seeing a bit of motion on Win 10 firefox.  Not sure how pronounced it was before so posting a video here to determine acceptability.
![jumpresist](https://user-images.githubusercontent.com/41024075/48375500-638ca280-e685-11e8-82bd-8d21d677aefe.gif)

[2018-11-12 21:16] samreid commented on #194
That's my understanding too, but maybe we should discuss with @jbphet how much effort it would be to add this for Vibe and Tambo?

[2018-11-12 21:19] JRomero0613 commented on #194
I was also under the impression that we did not support the mute functionality, however with our work with sonification and sound cues looking to increase this might be a function that teachers appreciate if they use the legends of learning harness.

[2018-11-12 21:28] JRomero0613 opened #195 "Internet Explorer Does not have any sound"
For https://github.com/phetsims/QA/issues/219 when testing on Windows 7 on IE there is no sound at all within the sim. I checked on Windows 8 on IE to see if it occurs under these conditions as well and it does, we seem to have an issue with sound on Internet Explorer. One interesting thing about this version of the sim is that the speaker icon in the bottom corner used to mute/unmute the sim is n

[2018-11-12 21:43] emily-phet commented on #181
my 2 cents - this seems minor to me and not worth effort to fix.

[2018-11-12 21:46] emily-phet commented on #193
@jessegreenberg - is this the case for JT as well? So, have we just accepted this behavior for sliders in VO in the past? I can't recall...

[2018-11-12 22:30] jessegreenberg commented on #193
Fix added above, pending testing in next RC.

[2018-11-12 22:31] jessegreenberg commented on #195
Can't remember for certain, but I think it was decided that we wouldn't support sound in IE11. @jbphet can you confirm?

[2018-11-12 22:49] ariel-phet commented on #187
@zepumph looking through old issues, I don't see anything related to the translation of rho. In fact, in an earlier round of dev testing on 1.5.0-rc.8 it seems this was translatable (https://github.com/phetsims/resistance-in-a-wire/issues/173). I know we have punted on certain things, but not sure why we wouldn't make this symbol translatable unless there was a compelling reason.

[2018-11-12 23:11] KatieWoe opened #196 "Clicking out of keyboard nav moves sliders Edge"
Test device:
Dell Laptop
Operating System:
Win 10
Browser:
Edge
Problem description:
For https://github.com/phetsims/QA/issues/219#event-1953042350
When using keyboard nav on the sliders, clicking out with a mouse will cause the slider that was being controlled to jump up.
Steps to reproduce:
1. Go to the sim in edge
2. Use keyboard nav to manipulate the first slider (not exclusive to this slider)

[2018-11-12 23:12] KatieWoe commented on #196
Did not seem to occur in full screen.

[2018-11-13 11:52] emily-phet commented on #193
@jessegreenberg Thanks for going ahead!

[2018-11-13 12:00] emily-phet commented on #178
@zepumph Great summary.

I would add that going forward, we will ideally continue regular team meetings on a sim straight through to publication.

Once RIAW is published, Ohm's Law is the only remaining simulation that is waiting in the wings to be published with A11y features that does not currently, or isn't planned to have by early 2019, regular design team meetings. We'll want to have regular

[2018-11-13 13:31] terracoda commented on #178
I really like the idea of having check-in meetings for Ohm's Law. I'll be watching the RC for that sim.

[2018-11-13 15:57] jessegreenberg commented on #196
Thanks @KatieWoe reassigning to me to track for next RC.

[2018-11-13 16:05] KatieWoe opened #197 "Chrome OS font makes rho look squished and more like p"
The font that Chrome OS (71.0.3578.27) (Lovelace) shows rho as thinner and less curved, giving it the appearance of an odd p.  Making issue per @jbphet for discussion.  For https://github.com/phetsims/QA/issues/219#event-1953042350
Chrome OS:
![x screenshot](https://user-images.githubusercontent.com/41024075/48426006-2676ed80-e723-11e8-8eab-8b5b312b5db4.png)
Chrome on Win 10 to compare:
![rho](htt

[2018-11-13 16:10] jessegreenberg commented on #187
A decision on this may have come from https://github.com/phetsims/scenery-phet/issues/353, using MathSymbols.js.

[2018-11-13 16:11] jbphet commented on #194
@samreid said

Supporting it in Tambo would, I think, be pretty straightforward from PhET's standpoint.  There is a sim-wide property that controls whether or not sound is enabled, and I imagine that it could be hooked up much like the current `simActiveProperty`.  So, code-wise, not hard at all.  Getting Legends of Learning to update to a newer version of the code that we provided them for their

[2018-11-13 16:12] samreid commented on #194
This would be more so that new simulations we publish from master would have this support--I don't think we would want to maintenance release existing sims for this.

[2018-11-13 16:15] jbphet commented on #181
Good eye @KatieWoe.

We've seen things like this before in Firefox, and it's actually an issue with the fonts in the browser.  So, given that there's not much we can do about it, and that it's minor enough that @emily-phet and @arouinfar agree that it's not worth the effort, I'm going to close this one.

[2018-11-13 16:15] #181 closed

[2018-11-13 16:19] jbphet commented on #195
Yes, this is intentional since IE lacks support for Web Audio (Microsoft is putting all their browser development effort into Edge).  See https://github.com/phetsims/tambo/issues/6 for the history of this decision.  Closing.

[2018-11-13 16:19] #195 closed

[2018-11-13 17:33] jbphet commented on #190
@rea-laura and @JRomero0613 - I mentioned this to someone yesterday, and they said that they'd seen this when displaying vids on youtube.  Have you checked to see if you can cause this problem on non-PhET pages?  I'd like to make sure it isn't a general Safari bug before investing time in it.

[2018-11-13 17:35] arouinfar commented on #194
I made a test playlist in LoL to see what things would look like in context. I'm not super familiar with how to use LoL, but I couldn't find a global mute button in the teacher or student views. I'm not convinced that the mute button in the LoL testing harness maps to a real control in the LoL user interface. While I think @JRomero0613 raised an excellent question, it seems like we can continue to

[2018-11-13 17:55] arouinfar commented on #197
@KatieWoe @jbphet I think this is just an unfortunate side effect of how browsers choose to render text. I'm not particularly sure that we can do anything about it.

That said, I still think the rho looks more like a rho than a p. Given that the other variables in the equation use a serif font, a p would look more like this:
<img src="https://user-images.githubusercontent.com/8419308/48432662-4498

[2018-11-13 17:55] #197 closed

[2018-11-13 19:15] KatieWoe commented on #190
Confirming that this occurs on 10.14 as well.

[2018-11-13 19:33] KatieWoe commented on #173
In https://github.com/phetsims/QA/issues/219 I've also seen this on Mac 10.14 safari.
https://drive.google.com/file/d/1nNpEemZUPqnTP4IhILr-9xQ23KHj_5Xk/view?usp=sharing

[2018-11-13 21:04] KatieWoe commented on #182
I may be hearing something in Mac 10.14 safari, mostly in the middle slider, but its hard to tell.

[2018-11-13 22:42] jbphet commented on #192
This has been fixed in master and the 1.6 release branch.

[2018-11-13 22:43] jbphet commented on #193
The fix for this has been propagated to the 1.6 release branch.

[2018-11-13 22:49] KatieWoe opened #198 "Static and significant performance issues."
For https://github.com/phetsims/QA/issues/219#event-1953042350
When testing iOS 9 I noticed that a staticy sound would be heard when using the sliders and reset button.  This is also seen on iOS 10.  In addition, iOS 12, and to a lesser extent 10, had significant performance issues.  When using the profiler querry parameter I saw the frame rate on iOS 12 drop as low as 15.  This occurred on the pu

[2018-11-13 22:56] KatieWoe commented on #182
https://github.com/phetsims/resistance-in-a-wire/issues/198

[2018-11-14 00:41] samreid commented on #194
What if @arouinfar reaches out to LoL, something like:

[2018-11-14 04:03] Ashton-Morris commented on #198
I am getting the static/popping sound as well when testing this with rapid movements on Chrome and Safari.

@jbphet Is this a sim that we added the compressor/limiter on already?

[2018-11-14 16:03] jbphet commented on #198
Yes, this has the compressor/limiter.

[2018-11-14 17:10] jbphet commented on #187
I read through the issue the @jessegreenberg linked above, and translatability was discussed for Trig Tour, but not for RIAW.  I just looked through the RIAW translations, and there are two simulations in which the rho symbol is translated.  One is Slovenian (locale=sl), and it looks legit to me:

![image](https://user-images.githubusercontent.com/3082831/48497959-63f67c00-e7f2-11e8-8d92-88eec679e

[2018-11-14 18:48] ariel-phet commented on #187
@jbphet I agree with your assessment wholeheartedly

[2018-11-14 20:52] arouinfar commented on #194
My one and only contact at LoL is not a dev, and would not be the appropriate person for this question. Let's bring it up with @kathy-phet and see if she has a more appropriate contact.

[2018-11-15 18:29] arouinfar commented on #194
@jbphet @samreid I'm reassigning to you to decide how you'd like to move forward.

[2018-11-19 03:35] emily-phet commented on #190
I googled around looking to see if others were posting about Safari/sound/full screen issues. I didn't find anything.

@jbphet if you decide to try to fix this, try to limit the amount of time spent searching for the issue. This sim needs to move forward and it looks like both of the ways to reproduce this issue involves use of the PhET menu - which is a very small use case.

[2018-11-19 18:55] jbphet commented on #187
I have restored the ability to translate rho (ρ) and omega (Ω) on master and on the 1.6 release branch.

[2018-11-20 17:19] jbphet commented on #184
Well, it would mean creating 5 branches and doing 11 cherry picks, so it's not exactly trivial.

[2018-11-20 18:11] jbphet commented on #184
Here is the data from the same memory test performed on the currently published version, which is v1.4.4:

| Time (minutes)  | Memory Usage (MB)  |
|---|---|
| 0  | 19.1 |
| 1  | 23.0  |
| 2  | 23.6  |
| 3  | 23.8  |
| 4  | 24.1  |
| 5  | 24.3  |
| 6  | 24.4  |
| 7  | 24.7  |
| 8  | 24.7  |
| 9  | 25.0  |
| 10  | 25.1  |

...and here is one from the current master version, which would include the

[2018-11-20 18:34] pixelzoom commented on #184
@jbphet said:

If it were me, I'd delete the 1.6 release branch and start over.

[2018-11-20 19:46] jbphet commented on #184
I think it's worth the time to at least try the items described above.  There has been a round of RC testing completed on the 1.6 branch, I'd rather not completely throw that away if it can be avoided.

[2018-11-20 19:49] Ashton-Morris commented on #198
I re-tested this on my macbook with Chrome and Safari and still encountered the popping/clipping. I also tried it with speakers and with headphones (the thinking being maybe it was the specification with Apple speakers) and I encountered the problem with headphones as well.

Its very sporadic and although it happened in lower frequencies more there was no definitive time or range when it always ha

[2018-11-20 20:31] jbphet commented on #184
Tempting, but since there has been a round of RC testing on the 1.6 branch, I think it makes sense to at least take a shot at the changes listed above and see if it helps.  Otherwise, I feel like we'd be throwing away the previous testing.

[2018-11-20 20:34] jbphet commented on #184
I did the updates, and it seems to have gone reasonably well.  I just did a quick memory test on a locally built version with these changes, and saw the following:

| Time (minutes)  | Memory Usage (MB)  |
|---|---|
| 0  | 14.5 |
| 5  | 21.7 |
| 10  | 22.5  |

This is a big improvement, so I'm going to call it good and have it retested in the next RC.

[2018-11-20 22:46] jbphet commented on #190
I am able to duplicate this on Dirac (the same machine on which this was initially discovered) using "Method 2" described above, but only for built versions, i.e. it does **not** happen in RequireJS mode.
 I added some debug code and was able to see that the state of the audio context is changing from `running` to `interrupted` at some point, and once the audio context is in the `interrupted` stat

[2018-11-20 22:47] jbphet commented on #190
From what I can tell, the audio context seems to be going into the `interrupted` state shortly after the sim goes into full screen mode.  No additional interaction with the sim is necessary.

[2018-11-20 23:21] jbphet commented on #190
Fixed this in https://github.com/phetsims/tambo/commit/2825e91034efc80403f8ed9d9aeea26f44434489, but I mentioned the wrong issue in the commit.

[2018-11-26 03:10] emily-phet commented on #190
Sounds good - note that @jessegreenberg has a place for documenting a11y-related bug reports and known issues. Please check with him about where to record this info.

[2018-11-26 16:19] jbphet commented on #187
@zepumph - I thought about this, but decided against because MathSymbols.js is common code, and I felt like this could lead to unintended consequences.  To be honest, though, I didn't spend a lot of time considering the pros and cons.  If you'd like to pursue it, and possibly discuss at dev meeting, that'd be okay with me.

[2018-11-26 16:21] jbphet commented on #187
Having said that, I'm not going to hold off publication of RIAW waiting for a resolution on this.  I don't think the consequences of publishing with this fix are too dire, and I can follow up with some adjustments to the common code file on master if necessary later.

[2018-11-26 18:35] zepumph commented on #187
That sounds like a great plan. Please proceed with RIAW publication.

I will mark for developer meeting with one main question to discuss: "should characters in `MathSymbols.js` be translatable?"

We decided before that `MathSymbols.js` was a good place consolidating certain symbols, but in this issue we found that doing that for "ohms" disabled translation.

I personally think it would be best to

[2018-11-26 20:45] KatieWoe opened #199 "Sound Disappears when two tabs are open in landscape"
**Device**
iPad
**OS**
iOS 9 and 11 at least
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/219.  Found by @jbphet on iOS 9 device.
When two tabs of resistance in a wire are open and one plays sound this disables the other tab's sound.  This only occurs if the tabs have been in landscape mode.  In portrait this does not occur.  I did not reproduce this on Mac

[2018-11-26 22:43] jbphet commented on #198
I spent a bunch of time on this, and learned a lot, but don't have a solution at this point.  As of right now, it seems like the problem is that on some devices, user interaction and the playing of sound compete for processor resources, and this causes the sound to occasionally glitch.  My guess is that there is some part of the browser code that is responsible for loading audio samples into an au

[2018-11-26 22:52] jbphet commented on #198
@emily-phet and @ariel-phet - I'd like your input as to where to go from here on this issue.  It is currently blocking the release of RIAW.  It's best if you could test on an iPad 2 and decide for yourself how significant this is.  It's definitely a bit annoying, but it only affects a few platforms, and I don't think it's going to prevent users from learning.

If we do decide we want to address it

[2018-11-26 23:54] jonathanolson commented on #198
Is the web audio stuff something that we could potentially run in a web worker, so it's on another thread?

Alternatively, improving the normal performance of the sim should help?

[2018-11-27 19:12] jbphet commented on #198
Discussed in the 11/27/2018 sound design meeting, and @emily-phet said that it was worth spending the time to figure out if what @Ashton-Morris is seeing on his MacBook Pro is the same issue and, if so, we will likely need to continue to try and resolve it.  If it's only an issue on older iPads, we may consider going live with it and living with the issue, at least for a while.

[2018-11-27 21:23] Ashton-Morris commented on #198
I tested it again today on my Macbook and recorded the clipping sounds.

Chrome: See the 7 second mark and the 14 second mark.
https://drive.google.com/open?id=1pS_nj_01HZ_m07fM55vznjKGoZ2JZdz2

Safari:See the 7 second mark and the 12 second mark.
https://drive.google.com/open?id=1uU0DfLhPhkBCnVmGVkl7iK_kkoQV5NhT

The problem did not occur in Firefox. Maybe looking into how they handle audio diffe

[2018-11-28 13:30] emily-phet commented on #198
@jbphet To be honest, the clipping doesn't really bother me. I don't think it would interfere with a learners experience with the sim. It seems to happen occasionally, and randomly (so a learner wouldn't think it was somehow related to the sim content).

I don't think it's worth further energy at this point to address. It seems like we know some about what conditions of the sound design might resu

[2018-11-28 15:53] jbphet commented on #198
Just to be clear, it isn't clipping that's occurring - there is no large-amplitude sound that is overdriving the output - it's a glitchy noise that I would call a "crackle".

[2018-11-29 17:33] pixelzoom commented on #198
Is this a general issue? Are we going to encounter this "crackling" with all sims, or is it somehow specific to RIAW?

[2018-11-29 18:04] pixelzoom commented on #187
@jessegreenberg I guess it depends on what you mean by "math symbols".  In Graphing Lines, Graphing Quadratics and similar sims, we decided to localize x,y,a,b,c,m, etc.  And we've seen that a couple of translators have actually changed these.

[2018-11-29 18:17] KatieWoe opened #200 "Significant iPad Performance issues"
Moved from https://github.com/phetsims/resistance-in-a-wire/issues/198 per @jbphet. For https://github.com/phetsims/QA/issues/219.
iOS 12, and to a lesser extent 10, has significant performance issues. When using the profiler querry parameter I saw the frame rate on iOS 12 drop as low as 15. This occurred on the published sim as well, though less drastically. iOS 10 crashed while using profiler bu

[2018-11-29 18:32] jessegreenberg commented on #187
Looks like symbols removed from translatable strings in that issue were infinity, pi, plus/minus, and theta, and it makes sense that those are not translatable. x and y were left for i18n.

[2018-12-03 22:37] KatieWoe commented on #200
Clarification per @ariel-phet.  Poor performance is present without profiler.  Lag felt about the same with and without it turned on.  Profiler may have made it slightly worse as there was at least one crash with it on.  Profilier was used to quantify lag.

[2018-12-03 22:57] ariel-phet commented on #198
@jbphet @emily-phet here are my thoughts on the matter...

Although I agree with @emily-phet that this "crackle" is not necessarily pedagogically damaging (I think it is pretty clearly glitchy and not related to the sim), I do think it is poor UX. Especially since this sound is now on by default and feels pretty central to the sim, it strikes me as feeling unprofessional. Our general policy would

[2018-12-03 23:15] pixelzoom commented on #198
Still wondering about my question from 4 days ago:

If it's a general thing that we will have to live with in all sims, then I agree with @ariel-phet - this is a poor UX.

[2018-12-03 23:18] KatieWoe commented on #198
I don't believe I've encountered it elsewhere, but that may in part be due to not having tested on a sim where the interactions @jbphet describe occur and that I think this may have been introduced a bit recently (I don't remember it occurring in older resistance rc's).  @jbphet if you know any other sims that might show this behavior I can do some testing.

[2018-12-04 16:36] Ashton-Morris commented on #198
@KatieWoe I re-tested [John Travoltage](https://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_en.html) on my macbook and noticed this problem as well. Its much quieter when it clicks/pops so I think that's why I haven't heard it before. I got it to happen when moving his foot slowly.

[2018-12-04 18:52] jbphet commented on #198
@ariel-phet - thanks for the input, I agree, and I have discussed with @emily-phet and I'll allocate time to determining the root cause and figuring out a way to prevent this from occurring.

@pixelzoom - you asked

It doesn't appear to be specific to RIAW.  The issue doesn't happen, or at least is not nearly as noticeable, in the John Travoltage sim, which also has sound being produced during use

[2018-12-05 21:47] jbphet commented on #198
I tried a number of things today, so far nothing is making the issue go away.  All testing was done on an iPad 2, iOS version 9.3.5,

+ I unhooked everything from the model properties in RIAW so that the letters in the formula weren't being scaled, the resistance value in the control panel wasn't being updated, and the wire wasn't changing.  The crackling could still be heard (though it seemed lik

[2018-12-05 21:49] jbphet commented on #198
Another thing to try: See if I can duplicate on @chrisklus's Mac, since I believe it is similar to the one that @Ashton-Morris used.

[2018-12-05 21:50] jbphet commented on #198
@Ashton-Morris - what version of macOS is running on the machine on which you duplicated this issue?

[2018-12-06 02:48] pixelzoom commented on #187
@zepumph Is there still something here that we need to discuss at developer meeting?

[2018-12-06 03:41] samreid commented on #198
Also an isolated test case (outside of a simulation) would be informative, if it is possible to create.

[2018-12-06 16:06] jbphet commented on #198
Another data point: I'm seeing/hearing one of the most severe manifestations of this issue on a [dev version of tambo](https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.7/phet/tambo_en_phet.html), 2nd screen, bottom slider, though it can be heard a bit on the top slider as well.  There is very little happening in the model when this slider is moved, and when I profile it in Chrome dev tools, ther

[2018-12-06 16:14] jbphet commented on #198
Some other things to try when I work on this next:
+ Try 48 k-sample/second versions of both the reverb and the marimba sound
+ Try eliminating the reverb altogether (i.e. temporarily taking it out of the signal chain) and then try both a 44.1 and 48 k-sample/second version of the marimba sound

[2018-12-06 16:16] jbphet commented on #198
There was an issue logged before about scratchy audio on an iPad, see https://github.com/phetsims/tambo/issues/33, and that turned out to be caused by issues with the sample rate.  This seems like a good direction to pursue next.

[2018-12-06 17:53] zepumph commented on #187
Yes the main question is if we, as a team, allow translatable strings in `MathSymbols.js`. I didn't know if it went against what people expected that file to look like. I think this issue should be solved by adding `ohms` back to `MathSymbols.js` as a translatable string.

We found that ohms were translatable, I would question why pi or theta would never be translatable and ohms would.

[2018-12-06 20:02] pixelzoom commented on #187
@zepumph said:

This seems like an argument for allowing translatable symbols in MathSymbols, so that we could make a symbol translatable without having to change client code.

[2018-12-07 18:48] jbphet commented on #194
Hey @samreid - I don't think I'm going to have time for this in the near future.  I also don't have any contacts at Legends of Learning.  I think we should pass on implementing this for now, and be ready to do it if and when they ask for it.

[2018-12-11 14:48] Ashton-Morris commented on #198
I tested Tambo on both Safari and Chrome on my Macbook (os 10.14) and I encountered the sound: On the Sim-Like Components page with it "running" at 8 objects I could hear it pop when I was using the counter going down from eight.

Also, with all 8 bouncing if I hit command+tab to look at another application then the audio would start popping more.

[2018-12-11 22:12] jbphet commented on #198
Tried the following ideas today, none of them made the problem go away:

+ Experiment: Try having the reverb and the marimba, which are the only two sounds used by the sim, be encoded at 48 ks/s.
  + Result: Didn't fix the problem and, though it's hard to say for certain, it seemed worse.
  + Noteworthy: I used an `alert` function to output `audioContext.sampleRate`.  On the iPad 2 "Tycho" it was

[2018-12-11 22:13] jbphet commented on #198
We had decided to invest a little more time in this, then move forward with publication of RIAW and pursue solutions in parallel.  Since I determined that the marimba sound is pretty long and shorter sounds seemed to make the problem less frequent, I'm going to reduce the duration and size of the sound, then move forward with a new RC.  We can test to see if we think the problem is any better on t

[2018-12-11 22:41] jbphet commented on #199
I just ran a test with some debug code and found that the audio context is being placed in the "interrupted" state in this case.  This is also what we saw sometimes when going into full screen mode in Safari, see https://github.com/phetsims/resistance-in-a-wire/issues/190.

[2018-12-11 23:12] jbphet commented on #199
Since this problem was occurring on mobile Safari, I wanted to make sure that it wasn't happening on the non-mobile version.  I tested on PhET's MacBook Pro "Dirac" running 10.11.6 "El Capitan" and Safari version 11.1.2, and the problem did not occur.  In other words, I could switch between tabs, play sound on both, and it continued to work on both.

[2018-12-12 15:59] KatieWoe opened #201 "CT: audio decode failed"
[code]

[2018-12-12 17:49] jbphet commented on #201
I think this was due to a new sound file that I'd failed to commit.  I've done so now, and will keep an eye on CT to see if this resolves the issue.

[2018-12-12 18:20] jbphet commented on #199
The title of this issue is a little misleading.  The problem only occurs if you open a sonified sim in both tabs.  Specifically (and these sequences were done on the iPad 2 "Tycho"), if I open RIAW in one tab and then open a 2nd tab and go to Google, then switch back to the original RIAW screen, sound still works fine.  I also tested the same scenario but instead of Google I opened a non-sonified

[2018-12-12 19:06] jbphet commented on #201
Three iterations of CT have succeeded since the sound file was committed, looks like the problem is solved, closing.

[2018-12-12 19:06] #201 closed

[2018-12-12 19:41] jbphet commented on #199
I've added code that resumes the audio context if it is in the "interrupted" state when the sim becomes visible after being made not visible.  This seems to improve the situation quite a bit, though I could still make the audio go away on iOS 11 after a lot of switching between tabs.

I'm going to call this fixed because I believe it fixes the scenario described in https://github.com/phetsims/resi

[2018-12-12 20:09] jbphet commented on #200
I tried the sim on several iOS devices, and the sim seems usable to me on all.  It definitely has some pauses, probably due to garbage collection.  I profiled it in the Chrome developer tools on my Windows 10 machine, and it looks like the new a11y code is adding a bit more time in each animation frame.  I don't think there is anything quick that we can do on this, so I'm going to move ahead with

[2018-12-12 20:37] jbphet commented on #189
@jessegreenberg - time to move this to the 1.6 release branch of RIAW if possible.  Marking as high priority, let me know if I can help.

[2018-12-12 22:30] jessegreenberg commented on #193
Thanks @jbphet, removing my assignment then.

[2018-12-12 23:04] jessegreenberg commented on #189
I cherry picked the commits into scenery's resistance-in-a-wire-1.6 branch. I tested in JAWS with Chrome and verified that this issue is fixed.  Reassigning to @jbphet so he is aware that this is done.

[2018-12-13 17:12] jbphet commented on #189
Thanks @jessegreenberg!  This will be verified in the next RC test, unassigning for now.

[2018-12-13 17:14] jbphet commented on #190
Unassigning while we await the results of the RC test.

[2018-12-13 17:14] jbphet commented on #196
Should be fixed in 1.6.0-rc.2, unassigning for now.

[2018-12-13 17:15] jbphet commented on #199
Fixed (more or less) in 1.6.0-rc.2, unassigning while we await the results of the RC test.

[2018-12-13 17:21] jbphet commented on #198
Ideas for more things to try:

+ Remove the 'onended' handler
+ Remove the dynamics compressor node (this will cause the clipping to return, but see if the crackling goes away)

[2018-12-13 20:13] pixelzoom commented on #187
12/13/18 dev meeting:

* Make a pass through MathSymbols.
* Constants for Greek characters (THETA, ROH,...) should not be translatable.
* Constants for "logical" things (OHMS, RESISTANCE,...) can be translatable.
* ROH and THETA should probably be change to RESISTIVITY and ANGLE respectively.

[2018-12-13 20:17] pixelzoom commented on #187
I'll handle fixing up MathSymbols.js. Then assign to @jbphet to work into 1.6 release of RIAW.

High priority.

[2018-12-13 21:03] pixelzoom commented on #187
MathSymbols.js has been "fixed up" in the above commit.

I added `MathSymbols .RESISTIVITY`, for use in RIAW.   The convention I choose for string keys is (e.g.) `"symbol.resistivity`.  @jbphet feel free to change this convention if you prefer something else.

One note: Things like resistivity and ohms are not technically math symbols, so there's a little dissonance with them being in MathSymbols.

[2018-12-14 22:11] KatieWoe commented on #189
This seems to be fixed in 1.6.0-rc.2

[2018-12-14 22:11] #189 closed

[2018-12-14 23:48] KatieWoe commented on #199
I had this happen once in rc.2 though I haven't gotten it to happen again.  iOS 12. @jbphet

[2018-12-14 23:49] KatieWoe commented on #198
I've still been hearing a bit of static.  rc.2 iOS 12 @jbphet

[2018-12-15 00:03] KatieWoe commented on #192
1.6.0-rc.2 confirmed

[2018-12-15 00:03] #192 closed

[2018-12-15 00:06] KatieWoe commented on #187
Confirmed fixed for 1.6.0-rc.2.  It looks like discussion is still going, so I'll let you close if ready @jbphet

[2018-12-17 18:16] KatieWoe opened #202 "NVDA sometimes reads out wrong data"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/239
At times, when reading through the values the screen reader will read out the wrong values for the sliders.  This was recorded at the end of the scene description.  It seems to occur a bit more if manipulation occurred with a mouse rather than keyboard nav,

[2018-12-17 18:59] KatieWoe commented on #198
@jbphet encountered a pretty big burst of static on Win 10 firefox when moving two of the sliders at once with the touch screen.

[2018-12-17 20:20] lmulhall-phet commented on #193
@jessegreenberg, @jbphet, the keynav bug is fixed for the sliders, however during testing I noticed that the same thing can occur with the reset all button if you press and hold the return key. Seems like a weird use case to me, but I thought I'd mention it if implementing https://github.com/phetsims/resistance-in-a-wire/commit/ffb9e758203cdc631d115d3b231999b9a4dc1481 for the reset all button woul

[2018-12-17 20:38] KatieWoe commented on #196
This looks fixed in 1.6.0-rc.2

[2018-12-17 20:38] #196 closed

[2018-12-17 21:00] KatieWoe commented on #193
Above found during https://github.com/phetsims/QA/issues/239.  Adding to connect the two issues.

[2018-12-17 21:18] emily-phet commented on #193
If this makes sense to @jessegreenberg, no need to elaborate...but for me it's not clear what the bug is for the reset all case. When reset all is selected, isn't the alert only something like "sim reset"? (I believe it's slightly longer than this, but ends with "sim reset".) Is the "sim reset" alert not read out?

[2018-12-17 21:22] lmulhall-phet commented on #193
@emily-phet, pressing and holding the reset all button adds a ton of "sim reset" alerts to the alert queue, so each of them is read as they are dequeued.

[2018-12-17 22:18] emily-phet commented on #193
Ahh - i see. thanks!

[2018-12-17 23:45] KatieWoe opened #203 "Max width of keyboardNav dialog"
Test device:
Dell
Operating System:
Win 8.1 and 10
Browser:
Chrome
Problem description:
For https://github.com/phetsims/QA/issues/239
The keyboardNav dialog can become large enough to slightly exceed bounds.  This is most easily seen by using stringTest=long and dev query parameters together.  It can also be seen by resizing the window of the sim.  It does not seriously exceed bounds, and the X is

[2018-12-17 23:48] arouinfar commented on #203
Nice catch @KatieWoe.

Seems like the dialog itself probably needs a maxWidth. I think we could let it get pretty wide, so long as it has a few px padding between the dialog and the layoutBounds, so perhaps 1004 px would be appropriate?

[2018-12-18 16:21] jessegreenberg commented on #202
Thanks @KatieWoe. Since NVDA says something like "Length Clickable Slider" before reading values, I think it is actually reading through the sliders and not necessarily the scene description. But I could be wrong I will check both.

[2018-12-18 16:23] KatieWoe commented on #202
Might be miscommunication on my part.  I thought that was part of the scene description.  To clarify, it is the part after the equation and wire are read out, and before the menu buttons.  I wasn't able to reproduce to see if it happened earlier in the description.

[2018-12-18 16:52] jbphet commented on #193
I'm going to leave this to @jessegreenberg - let me know if changes are made and I can get them into the 1.6 release branch if needed.

[2018-12-18 16:58] jessegreenberg commented on #202
Thanks @KatieWoe - I have been playing with the sim for about 10 minutes with combinations of mouse and keyboard interaction and haven't been able to see the issue yet. Ill try on my slower laptop.

[2018-12-18 17:00] jessegreenberg commented on #202
I also tried the same values that were presented in the video captures.

[2018-12-18 17:20] jessegreenberg commented on #202
Hmm, I tried for another 10 minutes or so an a different Windows 10 Devices with FF and NVDA and I haven't been able to see this issue yet. I tried combinations of mouse + keyboard interaction with page up/page down, arrow keys, and shift keys and NVDA is reporting the correct values when I read through the sliders individually with arrow keys  and when I read through the entire sim with "Read All

[2018-12-18 19:04] KatieWoe commented on #190
Have not seen in 1.6.0-rc.2.  @jbphet it sounded like you still wanted this open, so reassigning to you.

[2018-12-18 19:20] jbphet commented on #198
@Ashton-Morris was able to get the static crackling to occur on his Mackbook Pro on both Chrome and Safari.  Since @KatieWoe just reported that the problem is worse in some cases during more interaction, and I have suspected that it's due to resource conflicts between user input processing and audio processing, it would be a very helpful test to see if the problem can be reproduced using only keyb

[2018-12-18 19:31] jbphet commented on #203
Note to self: Whether we keep the quick fix described in the previous comment or integrate a more general solution, it will need to be propagated to the 1.6 release branch.

[2018-12-18 19:51] jbphet commented on #198
I tried a quick test where I removed the `onended` handler that fires when the playing of an `AudioSourceBufferNode` completes in `SoundClip` and then built and tested on an iPad 2, and this didn't get rid of the static crackle.

[2018-12-18 20:15] Ashton-Morris commented on #198
I tested it on both Safari and Chrome on my Macbook (os 10.14) with just the keyboard input and I only got one static pop within in a 5 minute window. I used key modifiers to change the sliders degree of movement as well and I did not get any popping except for the one time.

That one pop would have been relatively unnoticeable too if I weren't listening for it.

[2018-12-18 20:19] KatieWoe opened #204 "Sound blurs when dragging starts off of thumb"
**Test device:**
Dell and Mac
**Operating System:**
Win 10 and 10.11
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/239
It is possible to click on a part of the slider with the mouse and make the thumb jump to that position.  If you start dragging the thumb the resulting sound is grainy and seems to blur together.
**Steps to reproduce:**
1. Move the resistiv

[2018-12-18 20:20] KatieWoe commented on #204
Hard to record, so I showed @jbphet directly.

[2018-12-18 22:23] jessegreenberg commented on #193
The above commit is a workaround that fixes this issue for the Reset All button until we finish https://github.com/phetsims/sun/issues/424. @jbphet or @emily-phet can you please review https://github.com/phetsims/resistance-in-a-wire/issues/193#issuecomment-448378134? If that is OK then the above commit can be merged into the release branch. Otherwise we will need to get through https://github.com

[2018-12-18 23:54] jessegreenberg commented on #193
Thanks @jbphet, I clarified the documentation and added a TODO about removing the option once #424 is sorted.

[2018-12-19 00:13] jessegreenberg commented on #203
Thanks @jbphet the above commit looks reasonable to me. It seems like most PhET dialogs assume that their content is limited to dev bounds. This may be larger than just the KeyboardHelpDialog and I made the above issue to investigate.

[2018-12-19 15:16] jessegreenberg commented on #193
In https://github.com/phetsims/sun/issues/424 @emily-phet said

So phetsims/sun#424 is no longer blocking publication of this sim and https://github.com/phetsims/scenery-phet/commit/fa42c378433fdaaec0a46f0c02baaf7ec1be9977 can be brought into the RC branch.

https://github.com/phetsims/scenery-phet/commit/57baa7a2f7f29352f6c8ba381c4093584670baeb could also be included for the RC branch to be close

[2018-12-19 17:13] jbphet commented on #190
Nope, no need to keep it open if testing shows that it's fixed.  Closing.

[2018-12-19 17:55] jessegreenberg commented on #203
Update: We have a couple of options in https://github.com/phetsims/joist/issues/546 and we are narrowing in on a general solution for this. It is pending review. @jbphet we will let you know when this is ready.

[2018-12-19 17:58] jessegreenberg commented on #202
I am going to go ahead and close this with wontfix since we haven't been able to observe this again. Thanks for reporting though @KatieWoe and the screen captures were very helpful, we can return to those if this comes up again.

[2018-12-19 17:58] #202 closed

[2018-12-19 18:46] jessegreenberg commented on #193
I realized that this behavior will appear for the NavigationBarSoundToggleButton too because that button also has an alert when pressed. So the above commit will also need to be merged into the release branch.

[2018-12-19 20:48] jessegreenberg commented on #203
OK, we have a general fix for this in https://github.com/phetsims/joist/issues/546 and this is the joist commit to pull into the release: https://github.com/phetsims/joist/commit/428b7a2d985fd7918e0dbf2c9025d34b724db9db.

No longer on hold, @jbphet back to you, but let me know if I can help.

[2018-12-27 22:01] jbphet commented on #187
Some work has been done on this to incorporate the new, translatable, common code symbols.  As a result, this should be re-verified on the next RC.

Also, **do not close this issue** until it has been verified that the translations are correct after publication.  It will likely fall to me to do this.

[2018-12-27 23:04] jbphet commented on #193
I've pulled the latest to the 1.6 branch so the fix(es) should be available in v1.6.0-rc.3.

[2018-12-27 23:30] jbphet commented on #203
I've moved this to the 1.6 branch so the fix should appear in v1.6.0-rc.3.

[2018-12-28 00:44] jbphet commented on #204
I've implemented a fix for this, but I'm not sure it will be fully acceptable on master because it involves some changes to common code that I think other devs may want to address in a more general manner.  I'll leave it open and assigned to me to follow up on how to propagate to master.

[2018-12-28 00:48] jbphet commented on #199
I think it's reasonable to close this at this point.

[2018-12-28 00:48] #199 closed

[2018-12-28 00:49] #190 closed

[2018-12-28 00:50] jbphet commented on #180
The sound design has been approved, and RC testing is underway.  Closing.

[2018-12-28 00:50] #180 closed

[2019-01-03 15:46] KatieWoe commented on #204
This issue seems fixed on Win 10 chrome 1.6.0-rc.3

[2019-01-03 15:50] KatieWoe commented on #203
This looks good 1.6.0-rc.3

[2019-01-03 16:07] KatieWoe commented on #193
Fixed per @lmulhall-phet 1.6.0-rc.3

[2019-01-03 16:07] #193 closed

[2019-01-03 17:18] KatieWoe opened #205 "Small sound when muted"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Edge (Not reproducible on chrome or firefox that I've seen)
**Problem description:**
For https://github.com/phetsims/QA/issues/247
It is possible to hear a tiny fraction of the ding sound when moving a slider with keyboard nav just after muting the sound.
**Steps to reproduce:**
1. Make sure sound is on
2. Use keyboard nav shift to pu

[2019-01-03 21:13] rea-laura commented on #198
Still occurring on iOS 12 in https://github.com/phetsims/QA/issues/247 (rc. 3) but very rarely.

[2019-01-07 23:44] jbphet commented on #205
I'm able to duplicate on my Win 10 machine running Edge version 42.17134.1.0.  I appreciate the thorough testing that uncovered this.  In my opinion, this is a super minor issue - it's an unlikely use case on a lightly used browser that produces a hardly noticeable sound.  I'll spend a few minutes investigating, but I don't feel that it warrants much more than that.

[2019-01-08 22:06] jbphet commented on #205
In the course of investigating this, I added some code to the `soundManager` object that would look the gain value for the master gain node at every animation frame for a length of time specified by the client.  The method looked like this:

[code]

I made this method globally available, then invoked it whenever the sound enable/disable setting changed and whenever a sound was played.  This led me

[2019-01-09 00:50] jbphet commented on #205
I have something that may fix this issue.  The master gain level issue currently being set using the `setTargetAtTime` method.  When I use that method, the behavior is as I mentioned before, which is that the gain level in Edge and Safari doesn't change until a sound goes through the node, and then it changes based on the provided time constant.  I just tried using the method `linearRampToValueAtT

[2019-01-09 00:54] jbphet commented on #205
So that it isn't missed by anyone who is tracking this issue (or myself in the future), I want to be clear about something: Safari has this problem too, including the audible "small sound".  My testing was done on the MacBook Air named "Jordan", OS version 10.13.6, Safari version 12.0.2.

[2019-01-09 19:34] jbphet commented on #205
I've published two dev versions that log console output that shows the differences in handling gain changes between browsers.  https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.7.0-dev.2/phet/resistance-in-a-wire_en_phet.html shows the behavior when using `setTargetAtTime` for setting the master gain (which is how muting works), and  https://phet-dev.colorado.edu/html/resistance-in-a-wire/

[2019-01-09 21:10] jbphet commented on #205
This issue can be resolved by using `linearRampToValueAtTime` instead of `setTargetAtTime`.  As I mentioned above, I'm not absolutely certain **why** this works better, but it does.

I ended up adding a bunch of debug code in the process of trying this out, so the best way to fix it in a branch is probably to make the changes manually in tambo.

[2019-01-10 16:03] jbphet commented on #204
Reopening because I'd like to discuss the fix with other devs.  What I did was to make flags available for checking whether the slider thumb or track was being dragged, but this seems a bit hacky and I suspect that a similar situation may come up for other controls, i.e. where we want to be able to tell if the change to the control was done via mouse/touch versus keyboard interaction.

[2019-01-10 20:20] jbphet commented on #204
This was discussed in the 1/10/2019 developer meeting, and it was pointed out that the scenery event could be used to distinguish between the different usage modes, but that event isn't being passed through to the `startDrag` and `endDrag` methods.  An issue has been created to fix this deficiency in the slider, and once that's done I'll change the RIAW sim code to take advantage of the change.

[2019-01-15 17:34] jbphet commented on #205
I've propagated the fix to the branch of tambo that is used by the RIAW 1.6 branch.

[2019-01-15 17:40] jbphet commented on #205
Here's another thing that I'd like to be clear about in case we reference this issue in the future: It doesn't seem to me that `setTargetAtTime` should behave the way it does on Edge and Safari, which is that it doesn't seem to start changing until some signal is sent through the gain node.  For some reason, `linearRampToValue` behaves differently - it also doesn't seem to execute the operation ri

[2019-01-16 03:17] ariel-phet commented on #205
Removing my assignment for now since there is a pending fix.

[2019-01-16 18:52] jbphet commented on #204
This is done.  I handled it a little differently on the 1.6 release branch of RIAW than on master, since I had implemented a fix on that branch before I discussed the issue with the other devs, who provided an idea for a more general solution.  The more general solution was done on master.

[2019-01-16 18:53] #204 closed

[2019-01-17 03:11] jessegreenberg commented on #203
In https://github.com/phetsims/sun/issues/435 we decided that there wasn't a general solution for this, and the layoutStrategy added to KeyboardHelpDialog was removed. maxWidth should be set on the HelpContent text instead. Reopening to do so.

[2019-01-17 03:34] jessegreenberg commented on #203
I added nested options to SliderControlsHelpContent and GeneralNavigationHelpContent and used in the above commit, so the dialog is limited to the dev bounds.

This has aligned the sim with the decision in https://github.com/phetsims/sun/issues/435, but I do not think any further changes need to be propagated to the release branch, so closing.

[2019-01-17 03:34] #203 closed

[2019-01-17 17:31] JRomero0613 opened #206 "Esc Does Not Exit Key Nav Shortcuts Menu"
For https://github.com/phetsims/QA/issues/257 when testing the sim on Windows 10 using the "esc" button to close the keyboard shortcuts menu does not work unless the "x" button in the top right is highlighted via tab navigation. The same issue occurs when viewing the about menu in the PhET menu. This is quite a small issue as the menu can be closed by simply clicking the "x" or clicking outside of

[2019-01-17 17:52] arouinfar commented on #206
I believe this what @JRomero0613 reported in https://github.com/phetsims/coulombs-law/issues/94, which is actually the intended behavior for keyboard navigation. Escape exits a dialog only when its close button has keyboard focus.

Interesting find @JRomero0613. This does sound a bit odd to me. I was able to reproduce when the sim was in full screen mode (PhET menu > Full Screen) on macOS 10.13.6/

[2019-01-17 19:03] JRomero0613 opened #207 "JAWS Repeats Values"
**Test Device:** Hanson
**OS:** 1803.17134.523
**Browsers:** Firefox 64.0.2, Chrome 71.0.3578.98, Edge 42.17134.1.0
**Problem Description:** When using JAWS screen reader with all browsers if any sliders are adjusted a large amount JAWS will read out a value before the last slider value multiple times, and read out the final  slider value multiple times before ending. The screen reader will not re

[2019-01-17 20:07] KatieWoe commented on #202
Found again during https://github.com/phetsims/QA/issues/257.  Conversation with @jessegreenberg from Slack

I also believe I was using keyboard nav more than mouse at the time, but still a mix.

[2019-01-17 22:43] KatieWoe commented on #205
Looks good 1.6.0-rc.4

[2019-01-17 22:43] #205 closed

[2019-01-17 23:36] KatieWoe commented on #207
@jessegreenberg correct me if I'm wrong, but I believe this is known and documented in the known a11y bug tracking document number 11.

[2019-01-18 14:22] jessegreenberg commented on #207
That is correct @KatieWoe. Thanks for making an issue @JRomero0613. But we discovered this is the behavior for ALL sliders for JAWS, even those outside of a PhET simulation. It is unfortunate, but there is nothing we can do to prevent this bug of the assistive device. Closing.

[2019-01-18 14:22] #207 closed

[2019-01-22 16:41] jbphet commented on #206
Thanks for the updates everyone, closing.

[2019-01-22 16:41] #206 closed

[2019-01-22 17:24] emily-phet commented on #205
assigning to myself - want to refer to this later when creating helpful resources for the broader community. This issue seems like something relatively general that others would benefit from knowing about.

[2019-01-22 19:51] jbphet commented on #187
I've just verified the translations on the newly published 1.6.0 version, and they look good.  Closing.

[2019-01-22 19:51] #187 closed

[2019-01-22 19:52] jbphet commented on #184
The RCs for the 1.6 have passed testing, closing.

[2019-01-22 19:52] #184 closed

[2019-01-22 19:53] jbphet commented on #182
This is addressed, but I'll be leaving the issue linked in the comment above for some more scrutiny at a later date.  Closing this one.

[2019-01-22 19:53] #182 closed

[2019-01-22 19:55] jbphet commented on #194
And by the way @samreid, I'm okay with closing this if you are.  We can always open a more general issue about muting and LoL if we get a request to implement it.

[2019-02-04 22:08] jbphet commented on #194
@samreid - I am fine with closing this issue, but I don't think it should be my call.  I don't know much about how the sims are used by LoL, whether this feature is likely to matter to them, and if it has been discussed with them.  It is my strongly held opinion that it isn't worth the time and effort to implement this until there is some clear direction with respect to those questions.  So sure,

[2019-02-04 22:35] samreid commented on #194
Sounds good, let's escalate to @ariel-phet.

[2019-02-05 18:13] ariel-phet commented on #194
I think until LoL makes this sort of request to us, we don't have do do anything major here. Ideally we will deal with this in Tambo, to be figured out in https://github.com/phetsims/tambo/issues/57 so in future sim releases this will not be an issue. Closing

[2019-02-05 18:13] #194 closed

[2019-02-07 00:57] kathy-phet commented on #194
Added meeting: status label because I just want to know a bit more about this issue so I understand the current state for when I interact with LOL.

[2019-03-06 20:06] terracoda opened #208 "Update credits"
From https://github.com/phetsims/a11y-research/issues/134

The credits for this sim are missing a few people:
- Emily Moore and Taliesin Smith need to be added to the Team list
- Sound designers are  missing, too.

Reaching out to @Ashton-Morris and @emily-phet. Are Mike Winters and Ashton Morris the sound designers for this sim?

[2019-03-06 20:57] terracoda commented on #208
Once we have all the names, please assign to @jbphet and mark as Priority 3.

[2019-03-07 21:32] jbphet commented on #200
Assigning to @ariel-phet to take a look at the performance and make the judgement call as to whether to invest time and effort into improving this.

[2019-03-21 22:58] terracoda commented on #208
@emily-phet, could you verify the sound designers for Resistance in a Wire?

[2019-03-22 23:35] emily-phet commented on #208
@Ashton-Morris and @mikewinters10

[2019-04-10 17:11] KatieWoe opened #209 "Usability on Small screen review"
Template for Issues:
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS](https://user-images.githubusercontent.com/41024075/55899123-4cdd6f80-5b81-1

[2019-04-12 23:46] #209 closed

[2019-05-02 22:09] jbphet commented on #200
@ariel-phet looked at the performance on an iPad 2 and said that it is acceptable.  Closing.

[2019-05-02 22:09] #200 closed

[2019-06-04 17:36] samreid commented on #208
Assigned to responsible dev @zepumph to add `soundDesign: 'Ashton Morris, Mike Winters',` to the credits.

[2019-06-05 12:13] terracoda commented on #208
@zepumph, the A11y Team still needs to be added, too.
**Current Screen Shot of Published Sim:**
<img width="716" alt="Screen Shot 2019-06-05 at 2 04 08 PM" src="https://user-images.githubusercontent.com/1902116/58954955-e9e01180-879a-11e9-9368-668e0a2cc064.png">

Please **add bolded names** to Team without bold of course ;-):
- Team: Wendy Adams, Mindy Gratny, **Emily Moore**, Ariel Paul, **Talies

[2019-06-06 22:03] emily-phet commented on #208
Also - "Brianna Tomlinson" to end of team list.

[2019-06-07 15:52] terracoda commented on #208
@emily-phet, good catch, I added @briannatomlinson to the list in https://github.com/phetsims/resistance-in-a-wire/issues/208#issuecomment-499057633, and will be updating issues for other sims.

[2019-07-02 21:53] zepumph commented on #208
Implemented above, I also converted many usages of "Emily Moore" to "Emily B. Moore". Closing

[2019-07-10 20:26] zepumph commented on #208
Reopening. I should publish a MR so that the proper credits are published.

[2019-10-02 00:46] zepumph opened #210 "SliderUnit should use nested options"
This is also the case for ohms-law, and I think they could both be implemented in a very similar way. @twant said she would investigate. Thanks!

Perhaps something like:

[code]

[2019-10-09 06:53] twant commented on #210
@zepumph I pushed some changes to accomplish this. Would love your review. I noticed two different ways to handle the `startDrag` and `stopDrag` options between RIAW and Ohm's Law. I kept both for now, but would particularly love your advice about whether to condense down to a single way to handle these options.

[2019-10-09 17:36] KatieWoe opened #211 "CT api mismatches"
[code]

[2019-10-09 22:09] zepumph commented on #210
Review:

- [ ] In RIAW/ControlPanel, you moved startDrag/endDrag into the sliderOptions, but those were actually meant to be top level. If you see the default sliderOptions.startDrag in RIAW/SliderUnit, it is wrapping and then calling options.startDrag. Currently sound is broken for this. To fix this I would recommend doing exactly what we did with NumberControl's constrainValue yesterday. See how

[2019-10-09 22:11] zepumph commented on #211
Over in https://github.com/phetsims/resistance-in-a-wire/issues/210 @twant changed the api. I don't think it was purposeful, and will likely be changed back soon. Assigning to @twant to double check ct to make sure things are looking good after resolving over in the other issue.

[2019-10-11 14:43] pixelzoom commented on #211
This is still broken as of 10/11/19.

[2019-10-11 19:37] twant commented on #211
Apologies, just seeing this. I will take a look tonight and make changes!

[2019-10-11 19:49] twant commented on #210
Just pushed a change that should hopefully resolve the CT error documented in #211. Apologies again for not fixing this earlier @zepumph @pixelzoom! I'll keep an eye on CT to make sure the error is resolved with this change.

[2019-10-11 23:18] twant commented on #211
Okay, I broke CT again with that push, but I think I just fixed it with grunt update again -- will keep an eye on CT over the next couple of hours!

[2019-10-14 03:40] twant commented on #210
@zepumph regarding the `startDrag` and `endDrag` options, I've moved them back to the top level options. I think I understand the piece you're referring to from NumberControl (where we used options.delta in the sliderOptions), but would appreciate you checking over this change to confirm that it's consistent with the structure you were imagining.

In terms of gracefully wrapping the options, I'm n

[2019-10-14 22:34] zepumph commented on #210
Yes indeed. I think that for the most part I was looking at RIAW and trying to make sure we didn't lose functionality. Now looking at OL, it is more idiomatic to what was done in NumberControl, and makes more sense because it only uses a single option. (I will get back to you about the best pattern.

[2019-10-14 22:41] zepumph commented on #210
Other changes look good.

[2019-10-28 02:06] twant commented on #211
I think this has been resolved, so I'm closing for now!

[2019-10-28 02:06] #211 closed

[2020-01-09 19:42] zepumph commented on #208
I should also add "Emily Moore" to bad text, in preference with `Emily B. Moore`

[2020-02-05 05:29] zepumph commented on #210
I think wrapping the options is the best holdover pattern until https://github.com/phetsims/scenery/issues/1016 or https://github.com/phetsims/sun/issues/536 are figured out.

[2020-02-05 05:29] #210 closed

[2020-02-10 20:40] KatieWoe commented on #177
Does happen in https://github.com/phetsims/QA/issues/476, but not always consistently.

[2020-03-22 23:12] zepumph opened #212 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:27] zepumph commented on #212
@jessegreenberg could you help me out with this one?

[2020-04-06 18:02] jessegreenberg opened #213 "Not getting slider alerts"
Noticed while working on #212, I am not seeing any alerts in this sim other than "reset"  alert in the a11y view.

[2020-04-06 18:44] jessegreenberg commented on #213
It looks like the alerts that are getting used in `startDrag` and `endDrag` are being overridden in SliderUnit after changes that were needed for #210.

[2020-04-06 18:50] jessegreenberg commented on #213
This diff seemed to fix it but I am not sure what is best, can you take a look @zepumph?
[code]

[2020-04-06 18:52] jessegreenberg commented on #212
This is done, closing.

[2020-04-06 18:52] #212 closed

[2020-05-07 15:55] pixelzoom opened #214 "CT: Accessible section must have a label"
Lots of errors for this sim in CT, see below.

Most of these appear to be related to a11y:

[code]

[2020-05-07 16:21] zepumph commented on #214
I renamed the file also, but really the bug was that I was accidentally exporting the superType after the inherit call, instead of the subtype. Closing

[2020-05-07 16:21] #214 closed

[2020-05-07 18:39] jessegreenberg opened #215 "CT error: t.replace is not a function"
[code]

[2020-05-07 18:40] jessegreenberg commented on #215
It looks like the wrong export was accidentally set for AccessibleSummaryNode.

[2020-05-07 18:42] jessegreenberg commented on #215
It is also inheriting from AccessibleSectionNode, but the supertype is Node.

[2020-05-07 18:45] jessegreenberg commented on #215
@zepumph just got it in https://github.com/phetsims/resistance-in-a-wire/commit/73ec198497a4aba8a686c782948434d1d999210d, thanks!

[2020-05-07 18:49] #215 closed

[2020-06-10 20:27] oliver-phet opened #216 "User suggestion: resistance of a wire experiment"
![image](https://user-images.githubusercontent.com/5090275/84315188-8a8fac80-ab26-11ea-8dc1-7d42a73c790c.png)

[2020-10-09 16:05] terracoda commented on #208
@zepumph, this issue is a bit old, but it has not yet been done. Maybe it fell on your radar?
I updated the credits on the web site, adding Emily, myself, Brianna, and Ashton Morris and Mike Winters.

![Screen Shot 2020-10-09 at 1 32 18 PM](https://user-images.githubusercontent.com/1902116/95605716-e7976280-0a33-11eb-9738-c4d0463048a8.png)

[2020-10-10 13:51] mikewinters10 commented on #208
Could "Mike Winters" be included as well under sound?

On Fri, Oct 9, 2020 at 12:06 PM Taliesin L. Smith <notifications@github.com>
wrote:

[2020-10-12 18:35] zepumph commented on #208
Ahh yes @terracoda, thanks for the ping. I just updated the credits on the 1.6 branch and published them to the website. Please review.

https://phet.colorado.edu/sims/html/resistance-in-a-wire/latest/resistance-in-a-wire_en.html

[2020-10-23 14:20] terracoda commented on #213
This is still an issue. I am not getting context responses when adjusting the sliders in the A11y View or when using Voice Over.

[2020-10-23 14:23] terracoda commented on #213
I was using was 1.70-dev.4 on PhET Marks.

[2020-10-23 15:21] jessegreenberg commented on #213
This is my fault, I forgot to assign, apologies. Anyway, I reviewed #210 and https://github.com/phetsims/resistance-in-a-wire/commit/3dea6fc91241899736a1b79a29b97b16d979a7e2 and I am pretty certain that https://github.com/phetsims/resistance-in-a-wire/issues/213#issuecomment-609973260 is correct.

[2020-10-23 15:24] jessegreenberg commented on #213
This is fixed with the above commit @terracoda can you please verify?

[2020-10-23 17:35] terracoda commented on #213
Thank you @jessegreenberg. The context responses are firing now :-)

[2020-10-23 17:35] #213 closed

[2020-12-17 19:40] KatieWoe commented on #177
https://drive.google.com/file/d/1hexjqYRExi6u7Doq8CGbOSHKlDqNFM3y/view?usp=sharing
Seen with values in https://github.com/phetsims/QA/issues/582 when tick marks are on.

[2020-12-18 00:39] zepumph commented on #177
Sounds right, I don't see any progress on the Freedom Scientific issue.

[2022-03-11 23:28] jbphet opened #217 "Integrate sound generation that is now supported by Slider"
In https://github.com/phetsims/sun/issues/697, generalized support for sound generation by sliders was added.  The time was not taken to integrate this into all sims that were doing customized sound generation related to sliders, such as this one.  Instead, the default sound was simply turned off via the options.  Before this sin is released again off of master, we should consider integrating the

[2022-05-25 22:12] KatieWoe opened #218 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-05-26 16:23] zepumph commented on #218
Tracked and fixed in https://github.com/phetsims/sun/issues/761, closing.