[2013-03-14 20:49] samreid opened #1 "Initial code review"
I'll provide an initial code review of the simulation and make suggestions and recommendations.  I am going to make the recommendations in the code by adding code comments with the word REVIEW: in both javascript, html and css.  My review will cover style, techniques, documentation, etc.  Another group is testing and evaluating the user interface, this review is mainly for the code itself.

[2013-04-02 22:40] samreid opened #2 "The rho and L symbols fall beneath the division line"
The rho and L symbols fall beneath the division line.  I attached a screenshot that shows the original Flash version (right) and the current HTML5 version (left).

![symbol-locations](https://f.cloud.github.com/assets/679486/331280/0a801f22-9be6-11e2-8dff-9f79388b6d7d.png)

[2013-04-08 09:49] dkras opened #3 "Resizing the window can create scroll bars and partially obscure the "reset all button" (Win8+Chrome)"

[2013-04-08 10:06] dkras opened #4 "Remove deep copy of phet common and use repo links"

[2013-04-08 10:06] dkras opened #5 "resistance-in-a-wire/html/README.txt can be deleted"

[2013-04-08 10:06] dkras opened #6 "I think resistance-in-a-wire\html\reset.html could be moved into the index.html or Javascript if you think that's a good idea."

[2013-04-08 10:07] dkras opened #7 "You can add 'author' annotations into the files if you would like (I guess I noticed them some places but not all places)"

[2013-04-08 10:07] dkras opened #8 "It looks like the project needs a package.json file so that grunt will work. I think I added a sample copy of this and the gruntfile in the branch 'review-1'"

[2013-04-08 10:07] dkras opened #9 "Please rename packages like 'ResistorView' to 'resistor-view' if you can have hyphens in requirejs paths. (If not, then use style like 'resistorview')."

[2013-04-08 10:07] dkras opened #10 "Our team prefers variable names like 'totalWidth' to shortened ones like 'totW'"

[2013-04-08 10:07] dkras opened #11 "Consider naming the anonymous functions with an inline name like 'return function Slider(view,x,y,h,targetProperty,img) so that it will appear in the debugger and profiling tools."

[2013-04-08 10:07] dkras opened #12 "Rename the 'shapes' package to something more like 'view'"

[2013-04-08 10:08] dkras opened #13 "Please add 'fastclick' library so reset all button is pressed immediately on the ipad instead of after about 300ms. There is an example of this in Forces and Motion Basics html on github."

[2013-04-08 10:08] dkras opened #14 "Why did you put the <script data-main="js/resistance-in-a-wire-config.js" src="contrib/require-2.1.2.js"></script> in the <body> in the main html?"

[2013-04-08 10:08] dkras opened #15 "Please add some documentation in the resistance-in-a-wire.html (about the same amount of documentation as in example-sim.html)."

[2013-04-08 13:22] #1 closed, assigned to samreid

[2013-04-08 13:32] #9 closed, assigned to nobody

[2013-04-08 13:41] #4 closed, assigned to nobody

[2013-04-08 13:42] #5 closed, assigned to nobody

[2013-04-08 13:43] #7 closed, assigned to nobody

[2013-04-08 13:46] #6 closed, assigned to nobody

[2013-04-08 13:51] #12 closed, assigned to nobody

[2013-04-08 13:56] #10 closed, assigned to nobody

[2013-04-08 13:57] #14 closed, assigned to nobody

[2013-04-08 14:01] #11 closed, assigned to nobody

[2013-04-08 14:06] #13 closed, assigned to nobody

[2013-04-08 14:11] #15 closed, assigned to nobody

[2013-04-08 14:15] #8 closed, assigned to nobody

[2013-04-08 14:19] #2 closed, assigned to nobody

[2013-04-09 07:00] #3 closed, assigned to nobody

[2013-04-09 14:28] samreid opened #16 "Add a README.md file"
Resistance in a Wire (and PhET Simulations in general) should contain a top level README.md with the description copied from the original simulation, and a link to the original simulation.  I've assigned this issue to myself and will complete it shortly.

[2013-04-09 14:34] #16 closed, assigned to samreid

[2013-04-10 05:26] samreid opened #17 "Translations not being displayed"
When navigating to the sim with a query parameter like ?locale=fr, the English translation is still being shown.

[2013-04-10 14:35] samreid opened #18 "Fix file name upper/lower for files that return a constructor function."
For files that return a constructor, the file name should be CamelCased instead of lower-cased.  For instance, view/shape-views/resistor-view/arrow.js should be view/shape-views/resistor-view/Arrow.js and view/shape-views/resistor-view.js should be view/shape-views/ResistorView.js.

If just a function is being returned in the requirejs module, then lower-case function naming is preferred, but it l

[2013-04-10 14:39] samreid opened #19 "Factor out font name Verdana"
I would recommend to factor out the Verdana font name, since it is duplicated in several places.  Factoring it out would also make it easy to change if necessary.

[2013-04-10 14:42] samreid opened #20 "resistance string not translated for most (all?) contributed translations"
The string in the files has the form:

[code]

But the english one was changed to read like:

[code]

and the = sign is being provided in the code.

Perhaps I should hand-edit all of the translation files.

[2013-04-10 15:02] #20 closed, assigned to samreid

[2013-04-10 15:36] #17 closed, assigned to jbphet

[2013-04-10 19:01] ariel-phet opened #21 "Horizontal spacing of sliders in control panel needs adjusting"
The three sliders (and associated readouts/variables) should be spaced out more horizontally in the floating control. The mockup shows a more distributed spacing.
![Resistance_in_Wire](https://f.cloud.github.com/assets/4051174/363930/f6048872-a210-11e2-8e77-9ab4847ba6aa.png)

[2013-04-10 19:02] ariel-phet opened #22 "Numerical readouts under sliders should be moved down"
The numerical readouts at the bottom of each slider should be spaced down vertically. The negative space should be the same as from the top of the slider to the text labels at the top. See the mockup

[2013-04-10 19:06] ariel-phet opened #23 "Resistance Readout has too much space after equal sign"
The largest value of Resistance is 2000 Ohms, which leaves quite a bit of space to the equal sign, we should tighten up the space between the label "Resistance" and the equal sign.

![Resistance_Readout](https://f.cloud.github.com/assets/4051174/363955/88b982e4-a211-11e2-9ee3-36e9e8901eb9.png)

[2013-04-10 19:08] ariel-phet opened #24 "Text in Resistance Readout should scale for translated strings"
For this sim, I think we should specify that the text for "Resistance" should scale to fit translations...(I don't think the control panel should grow any larger)

[2013-04-10 19:11] ariel-phet opened #25 "Length of Animated Resistor Changes when adjusting Area slider"
To reproduce this bug, set the Length slider to its minimum value (0.10 cm) and adjust the Area slider...the length of the animated resistor will grow and shrink as you adjust the Area, but the animated length should stay constant.

[2013-04-11 11:33] #18 closed, assigned to dkras

[2013-04-11 12:02] #25 closed, assigned to nobody

[2013-04-11 12:04] #19 closed, assigned to dkras

[2013-04-11 12:33] #23 closed, assigned to nobody

[2013-04-11 12:35] #22 closed, assigned to nobody

[2013-04-11 13:17] #21 closed, assigned to nobody

[2013-04-12 08:30] #24 closed, assigned to nobody

[2013-04-18 04:28] ariel-phet opened #26 "Exponent on cm^2 label is too close to numeric readout"
The exponent of "2" on the "cm^2" squared label is too close to the numeric readout. The worst example occurs in IE...a screen shot is below

![RIAW_exponent](https://f.cloud.github.com/assets/4051174/394957/7a5172ba-a7df-11e2-9530-794cd5f3ee32.png)

Please move all the labels slightly down, and if possible move the exponent closer to the "cm" label as shown in this modified picture:

![RIAW_expon

[2013-04-18 05:20] ariel-phet opened #27 "The label "Resistance in a Wire" should have a label in the Nav bar like Ohm's Law"
Just as in Ohm's Law the sim should be labeled in the nav bar, with the label "Resistance in a Wire". This was not in the original spec.

[2013-04-18 14:09] #27 closed, assigned to nobody

[2013-04-18 14:12] #26 closed, assigned to nobody

[2013-04-18 23:23] phetsims opened #28 "The 'R' disappears from formula at max value"
In the current version, the "R" disappears completely from view at its max value.  In the Flash version, it is still visible behind everything else.  See screenshots for illustration.

![riaw-flash-version-max-R](https://f.cloud.github.com/assets/3045815/399793/f72601da-a87e-11e2-8999-3a26be24e096.png)

![riaw-html-version-max-R](https://f.cloud.github.com/assets/3045815/399794/ffa5007c-a87e-11e2-

[2013-04-18 23:29] ghost opened #29 "Gradient extends into flat portion of resistor drawing"
Gradient should be absent, or different in a way that enhances the perspective (as in the Flash version) for the resistor.  See the attached drawing of the current version.

![riaw resistor with odd gradient](https://f.cloud.github.com/assets/3045815/399807/ca62e0b8-a87f-11e2-9402-9edc3f673712.png)

[2013-04-18 23:35] ghost opened #30 "The "R" in the formula gets cut off at left edge for large values"
See attached screen shot.

![riaw-R-cut-off-on-left-side](https://f.cloud.github.com/assets/3045815/399827/9eab0210-a880-11e2-8a52-f37440afdc47.png)

[2013-04-19 08:22] #30 closed, assigned to nobody

[2013-04-19 11:04] #29 closed, assigned to nobody

[2013-04-19 23:12] ghost opened #31 "Dots disappear completely from the resistor in some browsers"
The dots that are meant to convey resistivity disappear completely in some cases.  The original Flash version made sure that at least one dot was always visible.  The attached screen shot shows this occurring in IE9 on Windows 7, but I also saw it on Safari on a Mac, on iPad, and on Android.

![riaw-dots-gone-from-resistor](https://f.cloud.github.com/assets/3045815/404412/93aed7c6-a946-11e2-9aeb-b

[2013-04-19 23:15] ghost opened #32 "Reset button goes under nav bar on iPad"
The reset button gets partially occluded by the nav bar in landscape mode on an iPad 2.  Since this is one of our primary targeted platforms, this should be fixed.  Please move the control panel panel and reset button up just enough that there is equal white space above and below the reset button in this (i.e. iPad) case.  I think that this will still look good on all other devices.

[2013-04-19 23:19] phetsims opened #33 "Resistor dots get messed up on Samsung Galaxy Tab 2"
The dots on the resistor disappear sometimes, sometimes only fill part of the resistor, and do other odd things on the Samsung Galaxy Tab 2.

Note: Don't fix this one yet unless it's quick and easy.  PhET and MLL will talk about whether this device can really be supported.  However, it would be good to make sure that MLL can test on this platform.

[2013-04-19 23:22] ghost opened #34 "Sliders sometimes hard to grab in touch environment"
It is frequently hard to grab the sliders when using this sim on a small tablet, such as a Nexus 7, and sometimes even on a larger tablet such as an iPad.  PhET has addressed this in the past by extending the "hit area", often by creating a larger invisible node for grabbing.

Please let us know cost to implement.

[2013-04-22 11:15] #32 closed, assigned to nobody

[2013-04-22 11:28] #34 closed, assigned to nobody

[2013-04-22 18:01] ghost opened #35 "Change layout such that formula is on top and resistor is on the bottom"
This was suggested during a group meeting after we noticed that the arrow looked as though it was associated with the formula instead of the wire in some cases.  This layout is closer to what was done in the original sim.

[2013-04-22 18:25] #35 closed, assigned to nobody

[2013-05-13 13:35] #31 closed, assigned to nobody

[2013-05-13 16:19] ariel-phet opened #36 "Length of Animated Wire appears to change when length is minimized and Area is varied"
If the length is made minimum (0.10 cm), and the Areas is varied, the length of the animated wire appears to change, see the screenshots below.

![riaw_a2](https://f.cloud.github.com/assets/4051174/496730/ccd6a1f0-bbe8-11e2-802f-2e6f4ba478d4.png)

![riaw_a1](https://f.cloud.github.com/assets/4051174/496729/ccd17b94-bbe8-11e2-8500-2620fe87df1a.png)

[2013-05-13 16:46] jbphet opened #37 "Cursor changes to "insertion" style when dragging sliders"
When dragging the slider, the cursor changes from being a finger point to being the 'text insertion' slider.

[2013-05-13 17:08] jbphet opened #38 "Layout of equals sign vs equation is off in several browsers"
In FireFox on Windows, Safari on Mac, and Chrome on Mac, the equals sign is not vertically centered on the equation.  It is fine on IE9 and Chrome on Windows.  Didn't explicitly test on Android, might be an issue there too.

Please see screen shot for an example.

![riaw-equals-sign-off-firefox](https://f.cloud.github.com/assets/3082831/496960/bb9e2b4a-bbef-11e2-8356-38a48c7b3821.png)

[2013-05-14 08:26] #37 closed, assigned to nobody

[2013-05-14 08:43] #36 closed, assigned to nobody

[2013-05-21 10:18] #38 closed, assigned to nobody

[2013-07-30 04:33] jonathanolson opened #39 "Performance"
Desktop performance is nice, and it's quite decent on the Nexus 7 (Chrome on Android). iPad 3 is slower (acceptable when the letters are small, but when they take up most of the screen it is quite slow), and Firefox on Android (not really a supported platform) is very slow.

[2013-08-19 15:20] oliver-phet opened #40 "User reported issue: Unable to load Resistance in a Wire"
Reported via phethelp by Danilo Mauro dmauro75@gmail.com on 8/18/2013:

"I can run your new html5 simulations with my iMac except for the last one:
"Resistance in a wire". It appears "Loading…" both with Safari and Firefox
but then nothing happens."

Debugging info from a working sim (Ohm's Law):

Troubleshooting information
Name: Legge di Ohm
URL: https://phet.colorado.edu/sims/html/ohms-law/late

[2013-08-28 19:04] jbphet opened #41 "Refactor to use PhetFont"
PhetFont should be used in all locations where fonts are specified.

[2013-08-28 20:50] #41 closed, assigned to nobody

[2013-08-28 21:36] pixelzoom opened #42 "resistivity symbol in equation doesn't match slider"
Compare the screenshots below. The resistivity symbols are different. Observed on Mac OS 10.8.4 + any browser.  This was true in 1.0.0 and it's still true as of sha 43ab1f518bde64bf420975e31dbde585072daab0.

![equation](https://f.cloud.github.com/assets/3046552/1045712/eba37172-1029-11e3-87d6-cfe038a5f702.jpg)

![slider](https://f.cloud.github.com/assets/3046552/1045714/eef42c5e-1029-11e3-88d4-7a3

[2013-08-28 21:54] pixelzoom opened #43 "make symbols translatable"
Symbols (V, R, p) are not currently localized in this sim. And they are in fact duplicated, in FormulaView and SlidersBox.

[2013-08-29 18:24] #42 closed, assigned to pixelzoom

[2013-08-29 18:25] pixelzoom opened #44 "use default PhetFont family instead of 'Verdana'"
Decided to do this at 8/29/13 status meeting, assigned to @pixelzoom.

[2013-08-29 18:26] #44 closed, assigned to pixelzoom

[2013-08-31 07:44] #40 closed, assigned to nobody

[2013-09-05 17:30] pixelzoom opened #45 "replace slider.png with image created by Sharon"
slider.png is currently from the Flash IDE image library, and we don't know if that meets PhET license requirements. So...
- get a new slider.png from Sharon, put it in images/
- update images/license.txt file
- include the original file, and put it under assets/

[2013-09-09 23:00] #45 closed, assigned to nobody

[2013-10-28 12:03] oliver-phet opened #46 "Publish teacher tips when HTML5 version is "main" version of Resistance in a Wire (include bit about what the dot representation means)"
Also make sure to answer phethelp user question:

I have a question regarding resistance of wire - in your applet on resistivity increasing resistivity is shown by adding grey dots in the wire.  I think this is confusing as the number of atoms is not changing, it is the nuumber of conduction electrons which is decreasing.  Particularly at A level where we consider conductivity, your applet has the

[2014-01-03 19:41] olleicua opened #47 "some references to resistance-in-a-wire/js/view/shape-views/slider-box-view/slider.js are miscapitalized"
references are made to `Slider.js` that break the sim on case sensitive file systems.

[2014-01-07 20:53] pixelzoom opened #48 "string not found for key: resistivity"
When the sim starts, it prints this to the console:

SliderBox has this import:

… and there is no such string in resistance-in-a-wire_en.json.

This occurs on all platforms. Testing with master (sha=c40a35e2285cf57bdb729520c7ed90619c1f55a8).

[2014-01-07 20:59] pixelzoom opened #49 "Reset All button is overlapping the control panel"
Reset All button is overlapping the control panel, see screenshot. Absolute coordinates are being used for layout in ResistanceInAWireStage. This (and all other layout) should be using relative coordinates.

This occurs on all platforms.
Testing with master, sha=c40a35e2285cf57bdb729520c7ed90619c1f55a8

![screenshot_11](https://f.cloud.github.com/assets/3046552/1863196/60452b12-77de-11e3-965f-f685

[2014-03-06 16:25] oliver-phet opened #50 "User reported issue: unable to load resistance in a wire"
Reported via phethelp@colorado.edu by Piet

The Html5 version of the “Resistance in a Wire” keeps loading and loading end never stops loading. All the simulations work, only this one does not work on whatever media whatsoever  (PC- Android Tablet), I did not try it on apple media.

It keeps hanging in the loading process. At the schoolsystem, at home etc.

Test device: PC + Android Tablet
Operatin

[2014-04-18 21:45] #49 closed, assigned to jbphet

[2014-04-18 21:46] #48 closed, assigned to jbphet

[2014-05-06 18:38] jbphet opened #51 "Incorporate new ResetAll button"
A new ResetAll button is available and should be incorporated into this sim.  See https://github.com/phetsims/sun/issues/94.

[2014-05-13 22:33] #51 closed, assigned to nobody

[2014-05-13 22:37] #50 closed, assigned to nobody

[2014-07-29 20:54] pixelzoom opened #52 "website thumbnail is not checked in"
assets/resistance-in-a-wire-128.png

[2015-01-16 22:07] pixelzoom opened #53 "directory structure violates PhET convention"
Source-code directory structure should look like this:

[code]

[2015-01-16 22:43] pixelzoom commented on #53
Directory structure fixed.

I also fixed copyright headers in all source files.  And the RESISTANCE_IN_A_WIRE path was not being used for importing sim-specific files.

Closing.

[2015-01-16 22:43] #53 closed

[2015-03-31 20:26] pixelzoom opened #54 "branch: review-1"
Please describe or delete if no longer necessary.

[2015-03-31 20:26] pixelzoom opened #55 "branch: review-2"
Please describe or delete if no longer necessary.

[2015-03-31 20:26] pixelzoom opened #56 "branch: single-file-1.1"
Please describe or delete if no longer necessary.

[2015-04-01 16:57] jbphet commented on #56
This was an early release attempt, superseded by the 1.1 branch.  Branch deleted, closing.

[2015-04-01 16:57] #56 closed

[2015-04-01 16:59] jbphet commented on #55
This was a technique that we tried out for code reviews.  Didn't work that great.  Branch deleted, closing.

[2015-04-01 16:59] #55 closed

[2015-04-01 16:59] jbphet commented on #54
This was a technique that we tried out for code reviews.  Didn't work that great.  Branch deleted, closing.

[2015-04-01 16:59] #54 closed

[2015-06-25 15:04] pixelzoom opened #57 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-08-04 16:54] #57 closed

[2015-08-06 15:41] jbphet commented on #52
Screenshot is now present, closing.

[2015-08-06 15:41] #52 closed

[2015-09-30 20:38] jbphet commented on #33
The Samsung Galaxy Tab 2 is no longer a supported platform (and hasn't been for a while).  Closing.

[2015-09-30 20:38] #33 closed

[2015-11-10 18:30] pixelzoom opened #58 "reduce coupling to ResistanceInAWireModel"
There are many cases where a constructor has parameter:

`@param {ResistanceInAWireModel} model`

... but only needs access to one or two things in the model.

For example:

`function CurrentResistanceView( model, x, y, w )`

... only needs access to `model.resistanceProperty`, so a better constructor would be:

`function CurrentResistanceView( resistanceProperty, x, y, w )`

[2015-11-10 19:21] pixelzoom opened #59 "i18n issues in SliderBox"
(1) Hardcoded strings should be translatable:

`51 this.addChild( new Text( 'ρ', {`
`82 this.addChild( new Text( 'L', {`
`113 this.addChild( new Text( 'A', {`

(2) Ordering should be determined by using a pattern (e.g. `{0} {1}`), not via string concat:

`73 this.addChild( new Text( 'Ω' + cmString.`
`135 this.addChild( new Text( cmString + '²', {`

(3) Superscript should be done via SubSupText, no

[2015-11-10 19:22] pixelzoom opened #60 "font family name is duplicated"
`'Times New Roman'` is apparently desired for equations and symbols. It's duplicated 5 times, in FormulaView and SlidersBox.

[2015-11-10 19:24] pixelzoom opened #61 "name mismatch"
Filename `ResistanceInAWireStageContainer.js` contains type `ResistanceInAWireStage`.

[2015-11-10 19:26] pixelzoom opened #62 "reset anti-pattern"
ResistanceInAWireModel extends PropertySet, and has 4 Properties:

[code]

It overrides reset like this:

[code]

There is a bug here, typical of this anti-pattern; the `resistance` Property is not being reset in this override.

And this override is likely unnecessary, since PropertySet handles resetting all of its Properties.

[2015-11-10 19:28] pixelzoom commented on #61
Btw... I would move all of the code in the `ResistanceInAWireStage` constructor into `ResistanceInAWireView`.  It adds nothing to have this addition type.

[2015-11-10 19:32] pixelzoom commented on #62
Whoa... There's another discrepancy here: `resistance` versus `resistivityProperty`. The latter is used throughout client code, and I don't see it defined anywhere, so I'm not sure how this sim is even working.

[2015-11-10 19:41] pixelzoom commented on #59
https://github.com/phetsims/resistance-in-a-wire/issues/43 is related to this, and mentions other i18n issues.

[2016-01-14 18:06] bryo5363 commented on #28
This bug is present on Microsoft Edge 25.10586.0.0

[2016-01-14 18:32] bryo5363 commented on #28
I noticed that this behavior does not need the resistance to be at the max value (at least for Microsoft Edge). I was experiencing this behavior with the following parameters

Resistivity : 0.06
Length : 3.57
Area : 0.01

[2016-01-15 20:23] elisemorgan opened #63 "Issues with String Tests"
Related to https://github.com/phetsims/tasks/issues/479

Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Chrome 47.0.2526.106

Problem description: Issues with Long strings. Minor detail in rtl test, don't know if it is significant.

Steps to reproduce: Perform string tests

Severity:

Screenshots:
Long:
![screen shot 2016-01-15 at 1 20 00 pm](https://cloud.githubusercontent.co

[2016-01-15 20:27] elisemorgan opened #64 "showPointerAreas not showing on sliders"
Related to https://github.com/phetsims/tasks/issues/479

Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Chrome 47.0.2526.106

Problem description: In Ohm's Law, the sliders are highlighted with showPointerAreas, but in Resistance in a Wire they are not. I'm not sure whether or not this is an issue, but it is an inconsistency.

Steps to reproduce: showPointerAreas test

Severit

[2016-02-16 23:16] ariel-phet commented on #46
Looks like this sim needs an updated teacher tips, and this was probably supposed to happen with the whole switch over to the HTML5 sim pages. Not a major rush since not a super popular sim, but would be good to take care of.

[2016-02-16 23:22] ariel-phet opened #65 "Layout tweaks"
Since this was one of our earliest HTML5 sims, we had not decided on some general look standards. Would be good to change the layout a bit to that shown below:

![riaw](https://cloud.githubusercontent.com/assets/4051174/13094667/6f8b5142-d4c9-11e5-9bd3-7ab2c2808503.PNG)

[2016-02-16 23:23] ariel-phet commented on #65
@jbphet if this is truly an easy change, go ahead and do it for the redeploy when addressing i18n issues, if not, please just mark as deferred and an unassign yourself

[2016-02-16 23:27] ariel-phet commented on #47
@jbphet might be good to verify if this can be closed.

[2016-02-17 17:33] ariel-phet commented on #39
None of the problem platforms are "supported" platforms anymore, closing

[2016-02-17 17:33] #39 closed

[2016-02-17 17:36] ariel-phet commented on #46
Btw @arouinfar, @phet-steele has now helped with a few teacher tips. His plate is fairly full with QA tasks currently, but he could help on this task when those settle down and help set up a nice skeleton for the teacher tips (with screenshots and such)

[2016-02-17 18:17] arouinfar commented on #46
Sounds good @ariel-phet. I will coordinate with @phet-steele to get these tips done once his QA workload settles down.

[2016-02-22 21:39] jbphet opened #66 "flatten out directory structure"
There are two directories under the js/view dir that are not, in my opinion, offering much organizational value.  They are ```shape-views``` and ```silder-box-view```.  These should be removed and the directory structure flattened out.

[2016-02-22 21:45] #66 closed

[2016-02-22 23:27] jbphet opened #67 "fix up sim structure to match current conventions"
This sim was written very early in the history of porting HTML5 sims, and it has "stage" classes and such that are leftover from Flash.  This should be cleaned up to more closely match our current approach.

[2016-02-23 22:07] jbphet commented on #67
done, closing

[2016-02-23 22:07] #67 closed

[2016-02-23 22:09] jbphet commented on #61
I have gotten rid of the "Stage" classes and structured the code to more closely match our current conventions, see #67.  Closing.

[2016-02-23 22:09] #61 closed

[2016-02-23 22:12] jbphet commented on #59
I did one thing in the process of addressing this issue that is perhaps a bit unconventional.  I made the symbols translatable, but if a translator attempts to use more than one character for a symbol, the string will be truncated to the the first character.  This was a lot easier than changing the FormulaView class to handle arbitrary strings, with didn't seem worth the effort.  This was discusse

[2016-02-23 23:30] jbphet commented on #64
I looked briefly at this, and it appears to be an issue with how the knobs are created in Slider.js.  It could be fixed, but doesn't seem worth the effort, since I checked with @phet-steele and he said that there were no issues with using the knobs on touch devices.  I'm going to label this as "won't fix" and close it.

[2016-02-23 23:30] #64 closed

[2016-02-23 23:49] jbphet commented on #62
Fixed, closing.

[2016-02-23 23:49] #62 closed

[2016-02-23 23:54] jbphet commented on #60
Consolidated into a constant in each of the offending files.  I didn't put it into a shared file because there may be a desire to change these independently at some point.  Closing.

[2016-02-23 23:54] #60 closed

[2016-02-23 23:57] jbphet commented on #47
I searched through the code and it looks like @samreid fixed all occurrences.  Closing.

[2016-02-23 23:57] #47 closed

[2016-02-23 23:59] jbphet commented on #43
Fixed with commit aed7422534251ffbd0498a6efda8640122dd43f5, but referenced the commit to the closely related issue #59.

[2016-02-24 02:52] ariel-phet commented on #46
@arouinfar, I don't think @phet-steele's QA load is going to settle any time soon, please take on this task yourself

related to https://github.com/phetsims/tasks/issues/524

[2016-02-24 16:53] arouinfar commented on #46
Got it @ariel-phet. I will prioritize this issue on Friday.

[2016-02-24 18:03] jbphet opened #68 "clipping not working on Edge 20"
Clipping is now used for the dots shown in the wire.  This works great in most places, but is not working on Edge 20.  If I start the sim and immediately reduce the length of the wire, it looks like the screen shot below.  As soon as the window is resized, the clipping kicks in and the dots look good.

![riaw-clip-issue](https://cloud.githubusercontent.com/assets/3082831/13295472/463ce6c0-dae6-11e

[2016-02-24 18:04] jbphet commented on #68
Discussed with @jonathanolson and he has logged a Scenery issue, see https://github.com/phetsims/scenery/issues/521.

[2016-02-24 18:07] jbphet opened #69 "text artifact on Edge"
On Edge version 20.10240.16384.0 the following odd artifact is seen:

![riaw-text-artifict](https://cloud.githubusercontent.com/assets/3082831/13295567/bac74580-dae6-11e5-8dce-a2ead264e9c8.PNG)

[2016-02-24 18:08] jbphet commented on #69
This was also seen in Graphing Lines, see https://github.com/phetsims/graphing-lines/issues/60.

[2016-02-24 18:10] jbphet commented on #69
I discussed this with @jonathanolson and he has logged a Scenery issue, see https://github.com/phetsims/scenery/issues/520.

[2016-02-24 21:56] jonathanolson opened #70 "Area and radius of the wire"
It's bugging me that the displayed area is not at all proportional to the area slider.

The area slider controls the radius of the wire (not area), so the displayed area is the square of what is shown in the slider. This makes it off by a factor of 5 or so.

Should this be ignored?

[2016-02-25 00:18] ariel-phet commented on #70
It should be ignored for now, at some point we will go back and do a thorough code review of RIAW (likely when ready for instrumenting) and we can address then. Marking as priority deferred and clearing assignee

[2016-02-26 20:44] jbphet commented on #65
assigning to @ariel-phet to verify on v1.2.0-rc.1 (http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.2.0-rc.1/resistance-in-a-wire_en.html)

[2016-02-26 22:48] brroberts1231 opened #71 "Rtl causes no symbols to be in equation, and causes IE11 to crash"
When using stringTest=rtl, there are no symbols whatsoever in the equation.
![capture](https://cloud.githubusercontent.com/assets/11947677/13367453/0f11693a-dca0-11e5-80b2-1945bad745eb.PNG)

I'm not sure if this was intended related to #43 or not, but it looks like a problem.
Tested on Windows 7, all browsers.

[2016-02-26 22:58] ariel-phet commented on #65
@jbphet now that you moved the symbols to all be on the same "baseline" the resistance readout needs a bit more negative space. I think we should extend the panel vertically a smidge and add negative space as shown in the mockup below:

![riaw](https://cloud.githubusercontent.com/assets/4051174/13367719/d274c8f8-dca1-11e5-8cfc-da40e8c854d8.PNG)

[2016-02-26 22:59] ariel-phet commented on #65
otherwise, all changes look good!

[2016-02-26 23:01] brroberts1231 commented on #71
Test device: Personal Windows 7

Operating System: Windows 7 64-bit

Browser: IE11

Problem description: With stringTest=rtl, attempting to drag any slider in IE11 will cause the browser to crash.

Steps to reproduce: Use stringTest=rtl, drag any slider, IE will become unresponsive.

Troubleshooting information (do not edit):

Name: ‫تست (زبان)‬

URL: http://www.colorado.edu/physics/phet/dev/html/

[2016-02-26 23:05] brroberts1231 commented on #71
Related to phetsims/tasks#528

[2016-02-27 00:16] arouinfar commented on #46
Teacher tips have been uploaded. Closing.

[2016-02-27 00:16] #46 closed

[2016-02-29 18:32] jbphet commented on #71
Looks like the code needs to be a bit more thorough in extracting printable characters from a string that included direction embedding symbols.  I've added this, and it fixes it on Chrome.  Will test on IE11.

[2016-02-29 18:44] jbphet commented on #71
Just tested this fix on IE11 with @phet-steele, and it did not crash.

[2016-02-29 20:37] jbphet commented on #65
Assigning to @ariel-phet to verify latest round of 'tweaks' on v1.2.0-rc.2 (http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.2.0-rc.2/resistance-in-a-wire_en.html).

[2016-02-29 20:43] ariel-phet commented on #65
looks good, closing

[2016-02-29 20:43] #65 closed

[2016-03-02 18:16] elisemorgan commented on #43
Fixed
Related to https://github.com/phetsims/tasks/issues/531

[2016-03-02 18:16] #43 closed

[2016-03-02 18:20] elisemorgan commented on #63
@jbphet  double string test related to https://github.com/phetsims/tasks/issues/531
![screen shot 2016-03-02 at 11 17 36 am](https://cloud.githubusercontent.com/assets/12610678/13470283/b22787d2-e068-11e5-8e56-ceeb4830bf9d.jpg)

[2016-03-02 18:23] elisemorgan commented on #63
Related to https://github.com/phetsims/tasks/issues/531
@jbphet Is it intentional that the symbols turn into 1's on the long string test? I don't think I've seen this happen before
![screen shot 2016-03-02 at 11 22 41 am](https://cloud.githubusercontent.com/assets/12610678/13470370/1a1ec4a4-e069-11e5-9193-9232fecf817e.jpg)

[2016-03-02 18:29] brroberts1231 opened #72 "stringTest=xss fails"
Test device: Dirac

Operating System: OSX 10.11.3

Browser: Safari, Firefox, Chrome

Problem description: When using stringTest=xss, the loading icon briefly appears, but then the page just goes black without loading the sim.

Screenshots:
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/11947677/13470537/d8cd1694-e069-11e5-8a8e-faf4672e3b27.gif)

Troubleshooting information (d

[2016-03-03 21:11] phet-steele opened #73 "1.2.0-rc.2 wire gradient"
The gradient in the wire is vastly different in this new version when compared to an older version:
New:
![resistanceinawiregradientnew](https://cloud.githubusercontent.com/assets/5863899/13509419/8f157ed0-e148-11e5-8e63-5b936aabfaf6.PNG)

Old (1.1.0)
![resistanceinawiregradientold](https://cloud.githubusercontent.com/assets/5863899/13509435/a26a550a-e148-11e5-8c44-58f3397c6d76.PNG)

@jbphet says

[2016-03-03 21:37] jbphet commented on #72
This is a problem with SubSupText and/or the nature of the xss string test, and does not reflect any sort of vulnerability or bug in the sim.  I've logged a ticket in scenery-phet to fix the problem long term, see https://github.com/phetsims/scenery/issues/528, and will close this issue here.

[2016-03-03 21:37] #72 closed

[2016-03-03 23:01] jbphet commented on #73
Good eye.  I started working to fix this, and thought, "While we're messing with this, why not make the wire look like copper, since that's the material that most people associate with wires?"  I discussed with @ariel-phet and Mike D and both were fine with it, so I'm going for it.

[2016-03-03 23:40] jbphet commented on #63
I did some investigation on this and the problem is unique to pattern strings.  It can be eliminated by turning on the call to ```simplifyEmbeddingMarks``` in StringUtils.format (currently only called when running on the Edge browser).  However, this would have some effect on performance, and since doubling of strings in patterns is not something that real world users - including translators - are

[2016-03-03 23:41] #63 closed

[2016-03-04 17:05] jbphet commented on #63
By the way, I tested this on Win10 + Chrome, Firefox, and Edge and the problem did not occur there.  I was only able to reproduce on iOS 9.2.1.  I didn't try it on OSX.

[2016-03-04 19:11] jbphet opened #74 "update dependencies.json on the 1.2 branch to match the latest 'approved set'"
See https://github.com/phetsims/tasks/issues/476#issuecomment-191927692 for information about the SHAs that should be used.

[2016-03-04 19:19] phet-steele commented on #59
@jbphet resolved in 1.2.0-rc.2

[2016-03-04 19:19] #59 closed

[2016-03-04 19:19] phet-steele commented on #68
@jbphet resolved in 1.2.0-rc.2

[2016-03-04 19:19] #68 closed

[2016-03-04 19:19] phet-steele commented on #69
@jbphet resolved in 1.2.0-rc.2

[2016-03-04 19:19] #69 closed

[2016-03-04 19:19] phet-steele commented on #71
@jbphet resolved in 1.2.0-rc.2

[2016-03-04 19:19] #71 closed

[2016-03-04 19:49] jbphet commented on #74
Updated, will be used for the next RC, which will be 1.2.0-rc.3.  Closing.

[2016-03-04 19:49] #74 closed

[2016-03-04 19:51] jbphet commented on #73
I've made the wire look more like copper, here's a cropped screen shot:

![riaw-copper-wire](https://cloud.githubusercontent.com/assets/3082831/13538432/bbc47598-e207-11e5-8ac9-84cb704ec01f.PNG)

[2016-03-07 16:50] phet-steele commented on #73
@jbphet the gradient has certainly been adjusted and updates correctly when changing area (on may platforms & 1.2.0-rc.3).

[2016-03-07 16:50] #73 closed

[2016-03-14 23:36] jbphet opened #75 "wire is not updated if only one parameter is changed and then reset is pressed"
The title pretty much sums up the issue.  This can be seen on http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.2.0/resistance-in-a-wire_en.html, which as of this writing is the published version.

[2016-03-14 23:40] jbphet commented on #75
The problem is because the model code has what is essentially a derived property (resistance) as a property in the property set, so reset behavior is a little odd.  I had tried to simplify the reset behavior, and I almost certainly introduced this problem at the time.  I should just pull out the resistance property from the list of PropertySet properties and make it a derived property.

[2016-03-15 19:05] jbphet commented on #75
This is now fixed on the latest release branch and on master.  In my opinion, this warrants a maintenance release.  I'm moving forward with this.

[2016-09-09 05:35] pixelzoom opened #76 "ResistanceInAWireModel is not created on demand"
`ResistanceInAWireScreen` constructor looks like this:

[code]

The model is not supposed to be instantiated by the constructor, it's supposed to be instantiated on demand by Sim.js, when the Screen's `createModel` function is called.  Unless there's a good reason to do things differently in this sim, the constructor should look like this:

[code]

If there is a legitimate reason why it needs to b

[2016-09-09 06:07] pixelzoom commented on #76
In https://github.com/phetsims/bending-light/issues/356#issuecomment-245826609, @samreid said:

[2016-09-09 16:20] samreid commented on #76
I realized this will not interfere with the current loading bar proposal, but it should still be fixed.

[2016-09-09 18:53] jbphet commented on #76
fixed, closing

[2016-09-09 18:53] #76 closed

[2017-02-27 16:33] samreid opened #77 "Instrument for PhET-iO"
This is a small and simple simulation and would be a great introduction to sim instrumentation for @zepumph.  Would be good to collaborate on to start with.  Generally, we'll paste the checklist from https://github.com/phetsims/phet-io/blob/36d9b4cb5e01107bd5fab43b0fb1a54b14d73e69/doc/how-to-instrument-a-phet-simulation-for-phet-io.md into this comment and follow those directions.

# How to Instru

[2017-04-15 18:27] veillette opened #78 "Change PropertySet to Property"

[2017-04-15 18:31] veillette commented on #78
This was tackled in https://github.com/phetsims/resistance-in-a-wire/commit/2498b26bbe78e4230665b645172832849483fb6c (The tag in the commit is incorrect)

[2017-04-15 18:31] #78 closed

[2017-04-26 16:24] zepumph opened #79 "Code Review for phet-io instrumentation"
*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pa

[2017-04-26 16:29] zepumph opened #80 "Browser Violations on ?fuzzMouse"
[code]

[2017-04-26 16:35] zepumph opened #81 "Double string test problem with the Ohm symbol"
It looks like there are some problems in how the Ohm cm unit is being i18lized.

![image](https://cloud.githubusercontent.com/assets/6856943/25445566/ef62ce7e-2a6b-11e7-8814-cbdbe9261239.png)

[2017-04-26 17:39] zepumph commented on #79
@samreid do these credits seem alright to you?

    credits: {
      leadDesign: 'Michael Dubson',
      softwareDevelopment: 'Michael Dubson, John Blanco',
      team: 'Wendy Adams, Mindy Gratny, Ariel Paul',
      thanks: 'Thanks to Mobile Learner Labs for working with the PhET development team\nto convert this simulation to HTML5.'
    }

[2017-04-26 17:42] phet-steele commented on #81
@samreid @zepumph, there isn't a problem because this string is a double pattern:

this: {0}{1}

becomes {0}:{0}{1}:{1}:{0}:{0}{1}:{1}

There as been discussion here: phetsims/chipper/issues/413, and keep in mind that `?stringTest=double` is only used for testing but is, in this case, not revealing a true problem for any translator.

[2017-04-26 18:19] samreid commented on #79
The credits seem reasonable, nothing unexpected jumping out at me.

[2017-04-26 19:54] zepumph commented on #79
There is no dispose function for the ResistanceInAWireScreenView, but there is this call:
[code]
I don't think more has to be done here, but there is no documentation about that listener being removed.

[2017-04-26 20:01] zepumph commented on #79
@samreid there are just a few points I want to go over with you, otherwise this issue is basically complete.

[2017-04-26 21:06] zepumph commented on #79
@samreid please close if you feel like all looks good.

[2017-04-26 23:37] samreid commented on #79
I did some more refactoring in the above commits, SlidersBox still needs attention.

[2017-04-27 15:43] zepumph commented on #79
@samreid in https://github.com/phetsims/resistance-in-a-wire/commit/588c5ce7900b8eea7cd4b32dc16f5df46b6a0e57 I noticed that you moved the `Node.call()` down to the end of the constructor. I am thinking that that is because the tandem must be passed as the last thing in the constructor.

Could you comment on your implementation vs:
[code]

[2017-04-27 16:27] samreid commented on #79
No, the tandem doesn't need to be last.  The main reason for the change was to move from an imperative style to a declarative style.  Here's a simplification of the change:

[code]

The main principles for why to prefer the 2nd approach:
1. It is preferable to create the node with its correct state rather than creating it in the incorrect state and mutating it over a period of time.
2. Less opport

[2017-04-27 21:29] phet-steele opened #82 "thumb.png license entry"
[code]

[2017-04-27 21:31] samreid commented on #82
I committed a fix above, @phet-steele can you see if it is legit?

[2017-04-27 22:48] phet-steele commented on #82
Seems like it, thanks.

[2017-04-27 22:48] #82 closed

[2017-04-29 18:38] veillette opened #83 "How to handle ._shuffle"
For PhET-IO, how should,
[code]
in WireNode.js be handled, if at all?

[2017-04-29 18:43] veillette opened #84 "Instrumentation of slider and readout"
SliderUnit.js makes use of HSlider rather than a custom slider.
Here is my attempt at instrumentation.

[code]

In addition, there is a readout that displays the value of the slider. This is not intsrumented.

[code]

[2017-05-01 16:26] jbphet commented on #83
Hi @veillette!  If you're asking about how to make it compatible with phet-io so that results are repeatable, plese use `phet.joist.random.shuffle`.

[2017-05-01 23:34] zepumph commented on #83
I fixed the line of code. Closing

[2017-05-01 23:34] #83 closed

[2017-05-02 22:10] zepumph commented on #84
Covered in #77. Closing. Thanks @veillette for doing the hard work.

[2017-05-02 22:10] #84 closed

[2017-05-02 22:48] zepumph commented on #79
@veillette did some great work on this front. I think it still needs another pass to make sure all is good. But I think we are close.

[2017-05-02 22:56] zepumph commented on #77
I have done many steps in the check list. I need to make sure that @samreid and I work on https://github.com/phetsims/phet-io/issues/1080 in this issue.

[2017-05-03 16:12] zepumph commented on #79
@samreid I think this is ready to close, I refactored further and got things pretty crisp and clean. Please have a look and comment if there is more to be done. Thanks!

[2017-05-03 16:34] samreid commented on #79
Things look much better, thanks!  Closing.

[2017-05-03 16:34] #79 closed

[2017-05-03 16:36] samreid opened #85 "Slider thumbs jump during drag"
After clicking on a slider thumb, then first drag event causes the knob to jump vertically by some 50 pixels or so.  This is a new bug, possibly introduced during recent refactoring.  The thumb should move continuously without a large discrete jump at the beginning.

@zepumph can you take a look?

Discovered in #79 and will need to be fixed for #77

[2017-05-03 17:38] veillette commented on #85
FYI, the slider was replaced by HSlider but with a custom Thumb.
[code]

[2017-05-03 17:39] zepumph commented on #85
I found out the cause of this. It is because of the switch to HSlider.js. In general this is a great refactor, it simplified code and made things work well. Unfortunately there is just one problem. Because this is an 'H' slider, it has some places in the code that it assumes horizontal motion versus vertical. For instance with this bug. See here in the drag started listener. . .

[code]
Notice how

[2017-05-03 17:41] samreid commented on #85
Are the vertical sliders in Color Vision rotated HSliders?  Why do they not exhibit this problem?

[2017-05-03 17:41] zepumph commented on #85
The reason they don't is because they don't pass in a 'thumb' node, so their 'thumb.x' is 0.

[2017-05-03 17:42] samreid commented on #85
If I omit the `thumb` option in RIAW, then the bug goes away.  Perhaps we just need to center the new thumb properly?

[2017-05-03 17:44] samreid commented on #85
I tried passing
[code]
to normalize the thumbNode, but it suffered from the same problem.  It looks like this has the same problem too:

[code]

[2017-05-03 17:45] zepumph commented on #85
I think it is more than that. I think that it is because this is desired functionality. In a horizontally positioned slider, if you click on a the right side of a very long thumb image, it makes sense that it would jump to that position on the slider based on the width of the node.

[2017-05-03 17:46] veillette commented on #85
@ariel-phet  mentionned some time ago that he would welcome a refactor of these sliders with our generic thumb

[2017-05-03 17:50] samreid commented on #85
In my opinion, the generic thumb looks fine for this sim:

![image](https://cloud.githubusercontent.com/assets/679486/25673986/8bdce692-2ff6-11e7-93fb-c77dfbbaec52.png)

In other cases we need to support different thumbs so it would be good to (eventually?) get to the bottom of this.

[2017-05-03 17:57] zepumph commented on #85
I seems reasonable to me to use these generic sliders, but @ariel-phet or a designer will have to have the final say. I also think it seems reasonable to me for HSlider to handle vertical sliders also. Can't we adjust the event.pointer.position back to a position that makes sense to the position relative to the HSlider (basically just account for that rotation because using x's and y's).

This cou

[2017-05-03 17:58] samreid commented on #85
Will we ever want to have a slider at an arbitrary angle?  Perhaps we can do some trigonometry and get the correct answer for all angles?

[2017-05-03 18:57] zepumph commented on #85
I wanted to make sure we were barking up the right tree, and it turns out we aren't. I think this is just a problem with HSlider in general, and not because of the transform.

To figure this out I jury rigged ESPB with this same image instead of the default slider. See here, the problem is the same.
![hsliderriaw](https://cloud.githubusercontent.com/assets/6856943/25676652/0cdf29f4-3000-11e7-8f6a-

[2017-05-03 19:59] zepumph commented on #85
This will be handed in phetsims/sun#288. Closing

[2017-05-03 19:59] #85 closed

[2017-05-05 16:21] veillette commented on #58
After the refactoring, the model for resistance in a wire does contain only four properties.

 Four of the view modules need all the properties from the model and one needs  three of these properties which is more or less the entire model.

Therefore, it makes sense to pass the entire model.

Closing.

[2017-05-05 16:21] #58 closed

[2017-05-05 17:19] samreid commented on #77
I emailed the skype channel:

[2017-05-05 17:24] samreid commented on #77
@jonathanolson recommended using the legacy process for Resistance in a Wire until we have had more time to consider finalize the "one branch" process.

[2017-05-05 17:35] zepumph opened #86 "Make phet and phet-io branches and publish rcs for testing."

[2017-05-05 17:46] zepumph commented on #86
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-rc.1/

[2017-05-05 17:49] zepumph commented on #86
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.1/

[2017-05-05 19:52] zepumph commented on #86
Both are published, take a look at https://github.com/phetsims/tasks/issues/836. Closing

[2017-05-05 19:52] #86 closed

[2017-05-11 20:57] zepumph commented on #77
The rc phet-io version has been deployed and has been sent into the test queue. Closing.

[2017-05-11 20:57] #77 closed

[2017-05-29 03:49] samreid commented on #81
Thanks @phet-steele.  @zepumph can you please see if that all makes sense?

[2017-06-05 16:30] zepumph commented on #81
Thanks @phet-steele, that is great. Closing

[2017-06-05 16:30] #81 closed

[2017-06-14 16:27] jessegreenberg opened #87 "Add keyboard navigation"
Like https://github.com/phetsims/ohms-law/issues/49, we would like to add keyboard navigation to this sim.

[2017-06-20 18:58] jessegreenberg commented on #87
@mbarlow12 added keyboard navigation to this sim, here is the latest link:
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.4.0-dev.1/resistance-in-a-wire_en.html?accessibility

In the meeting on 6/20/17 we discussed adding a modifier key to make the slider move at a smaller precision.  We agreed on the "shift" modifier key.

[2017-06-26 21:22] mbarlow12 commented on #87
Completed shift key step modification 15b5d955a5b60112adf91b12302f3e3b5fd53cd1

[2017-06-26 22:29] zepumph opened #88 "Release new version for phet and phet-io brand"
from https://github.com/phetsims/QA/issues/4#event-1139529251, it would be good to do a dev release first. I will do one for phet-io, and then create RC's for the phet and phet-io versions.

I should do these first:
* https://github.com/phetsims/sun/issues/289#issuecomment-300243201 (use the default thumb with silver)
* https://github.com/phetsims/sun/issues/293 for RIAW before this though.

[2017-06-27 18:01] jessegreenberg commented on #87
@emily-phet @arouinfar @amanda-phet @amyh-phet in 6/27/17 meeting, we discussed that the keyboard steps could be larger for some sliders since the shift modifier will give user fine control. If they should change, what should they be?

@emily-phet what is the next step for the keyboard help dialog in this sim?

[2017-06-27 21:24] emily-phet commented on #87
@jessegreenberg Something to note regarding slider stepsize. When using my Mac and the fn modifier key to increase the slider stepsize - the stepsize changes at the far end of the slider to allow access to the min/max of the slider range. So either a) this is functionality we can make use of, or at the very least, b) it's not unusual behavior for stepsize to change during interaction (from a usabi

[2017-07-03 22:54] zepumph commented on #88
After talking with @ariel-phet, we think the best approach to get both a phet-io and phet brand published is to do the following three qa tests:

1. phet brand dev release
2. phet brand rc
3. phet-io rc

[2017-07-03 23:08] jessegreenberg commented on #87
@emily-phet, here is a version with the shift key acting like a modifier key for fine movement:

http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.4.0-dev.2/resistance-in-a-wire_en.html?ea&brand=phet&accessibility

[2017-07-03 23:25] zepumph commented on #88
Alright the dev version is ready

[2017-07-03 23:39] zepumph commented on #88
https://github.com/phetsims/QA/issues/16

[2017-07-05 15:56] emily-phet commented on #87
@jessegreenberg I've decided for keyboard nav that it is important to have a moderate step value by default, and friendly numerical values - even if this means the step isn't equal across the span of the slider.
- Please have the voltage slider default to a 0.5V increment (from the bottom that would look like 0.1, 0.5, 1.0, 1.5,...9.0). Also add the ability for the shift modifier key to allow incr

[2017-07-05 16:13] jessegreenberg commented on #87
Sounds great @emily-phet, reassigning to @jessegreenberg and @mbarlow12.

[2017-07-05 20:10] ariel-phet commented on #70
@zepumph @phet-steele pointed out that this should probably be taken care of (note the old comment above). You and I can work on polishing it, but basically I would keep the maximum "visual size" the same and we can do a proper scaling so the radius shrinks down properly (but nowhere near as small as now)

[2017-07-05 20:57] phet-steele opened #89 "QA Credits"
This sim is void of QA credits.....let's add them!

`Steele Dalton, Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin`

@zepumph, please do not close until 1.3 is published, but feel free to add these now.

For phetsims/QA/issues/16.

[2017-07-05 21:52] zepumph commented on #28
This is happening in dev testing as part of https://github.com/phetsims/QA/issues/16, I am not really sure how to move forward, but @phet-steele and I are pretty sure that this was crashing his computer. For me (windows) it happens only on firefox (not chrome) and it won't crash anything, it just goes blank for a bit while it redraws or something like that. I think one solution could be to make th

[2017-07-05 21:56] jonathanolson commented on #28
Could just grab path information from an open-source font and use those glyphs (like we do for font-awesome?)

[2017-07-05 23:29] zepumph commented on #70
Ignore the commit and revert from phet-io-wrappers above, oops. I made it so that the diameter of the wire is accurate to the formula. @ariel-phet please pull master and see how you like it.

[2017-07-05 23:31] zepumph commented on #28
@jonathanolson have we used an open source font before? Would that still be translatable?

[2017-07-05 23:41] zepumph commented on #88
Make sure to do https://github.com/phetsims/resistance-in-a-wire/issues/89 before publishing

[2017-07-06 02:35] jessegreenberg commented on #87
@emily-phet here is an updated version:

http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.2/resistance-in-a-wire_en.html?accessibility

Can you please review?

[2017-07-06 07:11] jonathanolson commented on #28
Yes, this was required for high-performance label display in webgl for molecule-shapes. See https://github.com/phetsims/sherpa/blob/master/lib/liberation-sans-regular-subset-numeric-degrees.js (has the font data).

Only technically yes (my last experiment added ~2MB to the sim to include most characters needed, don't want to reopen that can of worms yet). So basically no.

[2017-07-06 18:07] ariel-phet commented on #70
Pulled and looks good! Closing

[2017-07-06 18:07] #70 closed

[2017-07-06 18:12] ariel-phet commented on #70
thanks @zepumph

[2017-07-06 20:04] emily-phet commented on #87
@jessegreenberg Looks great!

[2017-07-06 21:21] jessegreenberg commented on #87
Excellent!  @emily-phet what are the next steps before deploying a new version with this?  In my mind, they are the keyboard help dialog, dev testing, then RC testing.  Is there anything else?

[2017-07-11 16:38] jessegreenberg opened #90 "Keyboard navigation Home/End on AreaSlider causes the sim to freeze in Firefox"

[2017-07-11 16:39] jessegreenberg commented on #90
Sometimes, not always.

[2017-07-11 16:43] phet-steele commented on #90
@jessegreenberg what does Home/End do? In your tests, were you making the R very large with keyboard nav? A big R on Mac FF is no bueno for performance, sort of documented at https://github.com/phetsims/resistance-in-a-wire/issues/28#issuecomment-313237439

[2017-07-11 17:03] jessegreenberg commented on #90
Yes, 'End' will make R the biggest value it can be.  I just reproduced this by sliding with the mouse, so this does not seem related to keyboard nav.

It looks like the sim is effectively frozen when R is big in FF.

[2017-07-11 17:11] phet-steele opened #91 "[i18n] Equation shifts and panel enlarges"
Here is `?stringTest=double` in 1.3.0-dev.2:

<img width="1920" alt="screen shot 2017-07-11 at 11 01 42 am" src="https://user-images.githubusercontent.com/5863899/28080287-acdd2db2-6628-11e7-8c18-cfe95fb7ba54.png">

Point of comparison in production version (the good behavior!):
<img width="1920" alt="screen shot 2017-07-11 at 11 01 28 am" src="https://user-images.githubusercontent.com/5863899/280

[2017-07-11 18:59] zepumph commented on #88
Issues to tackle before RC:

https://github.com/phetsims/resistance-in-a-wire/issues/28
https://github.com/phetsims/resistance-in-a-wire/issues/91

[2017-07-11 22:04] emily-phet opened #92 "Mockup of Keyboard Nav Dialog"
Need customized keyboard nav help dialog. Should include two sections (note: wording not refined) with content for:

- Sliders
Arrow keys move slider
Shift + arrow keys, Smaller step size modifier (Resistance)
FN + arrow keys, Larger step size modifier
PG Up/Pg Dn Jumps to slider min/max

- General [this is same as in other sims]
Tab key forward
Shift-Tab backward
Esc closes dialog

Should follow

[2017-07-12 21:19] emily-phet commented on #87
@jessegreenberg Keyboard help dialog is in progress, as well as sonification for UI components. It's too early to know for sure if we'll be able to get sonification in within a reasonable timeline, but it's possible so let's hold off on at least RC testing (maybe dev testing as well?) until I have a better sense of the sonification plan. I should be able to make a call on whether or not to proceed

[2017-07-13 04:15] jessegreenberg commented on #28
We observed this in Firefox while working on keyboard nav as well, Firefox crashed on my machine when R is large, see #90.

[2017-07-18 00:01] zepumph commented on #80
These happen in all sims. I don't see this as a problem, and this (RIAW) isn't the place to solve this. Closing

[2017-07-18 00:01] #80 closed

[2017-07-18 00:53] zepumph opened #93 "Should RichText or something else be used for <sup> here?"
Since I'm in this sim right now anyways, should I implement this instead with RichText. @jonathanolson could you provide some guidance about if it's worth it/difficult. I would be republishing this mainly for phet-io, but it would probably be rereleased on the main site too. How would this effect the current translations (which are just translating the cmString? See RIAW/ControlPanel.js for this c

[2017-07-18 01:55] zepumph commented on #93
Sorry, I misread the code, it is being used right now.

[2017-07-18 01:55] zepumph commented on #93
Closing

[2017-07-18 01:55] #93 closed

[2017-07-18 02:55] zepumph commented on #88
I made some substantial changes in #91, and I will do another dev test before going to RC.

[2017-07-18 03:37] zepumph commented on #28
I found an open source font where I could use the SVG glyph data. I created a new Type called `LiberationSansNode` that works exactly as FontAwesomeNode does, and I used it to draw the R instead. The font is totally off, but it is a proof of concept (the scaling is off as well), the bug is fixed in this dev version:

http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.3/re

[2017-07-18 03:38] zepumph commented on #28
@jessegreenberg @phet-steele can you confirm that this bug is fixed for you guys, I have yet to get my browser to crash, so I can only do so much from over here.

[2017-07-18 03:41] zepumph opened #94 "branch: rGlyph"
for experimenting with #28

[2017-07-18 03:45] arouinfar commented on #92
@emily-phet I imagine this dialog will be (nearly) identical to the one in https://github.com/phetsims/ohms-law/issues/61. I pasted a few options into that issue, so temporarily unassigning myself.

[2017-07-18 16:14] jbphet commented on #28
I just checked babel, and there **is** one translation that sets the value of R to something other than R.  However, the translation appears to have added a full word, and it doesn't work well at all, so it seems like the translator missed the point (the translation is Tibetan for anyone who wants to have a look).

Still, I'm not fully comfortable with the idea of making R non-translatable.  Can w

[2017-07-18 16:18] jessegreenberg commented on #28
Unfortunately, the version in http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.3/resistance-in-a-wire_en.html is still crashing for me.

[2017-07-18 16:22] jessegreenberg commented on #28
This would be my preference too.

[2017-07-18 18:30] zepumph commented on #28
I like that too, I'll see what I can do, and then will pass it off to @ariel-phet to see what he thinks.

[2017-07-20 00:46] zepumph commented on #28
Could you explain what you mean a bit more.

[2017-07-20 18:32] jbphet commented on #28
Scenary Text nodes have an option called 'boundsMethod' that describes how the bounds of a given text node should be calculated.  There is a performance tradeoff with using accurate bounds because it takes longer to calculate, but inaccurate bounds can lead to other problems, like artifacts on the screen, and rendering that is essentially out of the bounds.  My thought was that this might be contr

[2017-07-20 18:34] jbphet commented on #28
For more info, please check out http://phetsims.github.io/scenery/doc/ and search for 'boundsMethod'.

[2017-07-20 18:49] jonathanolson commented on #28
The default boundsMethod is 'accurate'. Is that being overridden here?

[2017-07-20 20:49] zepumph commented on #28
I don't believe so, see the instance creations here from FormulaNode:
[code]

[2017-07-20 21:21] jessegreenberg commented on #28
I just tried ```fast``` and ```fastCanvas``` ```boundsMethod``` values, still seeing Firefox get stuck.

[2017-07-21 19:27] zepumph commented on #28
@jbphet and I were talking about this problem, I think it would be good to add "anti artifact rectangles" behind the text nodes to see if that helps, as done in Ohms-law. Thanks @jbphet for the great name.

[code]

[2017-07-22 00:56] zepumph commented on #28
I too @jbphet's advice. I added the 'antiArtifactRectangle' and calculated the text bounds with 'accurate'. Unfortunately this was still not enough to fix the problem.

Then I implemented the workaround where a box shows once the R is 'capped' because it is too big. I am also scaling the lineWidth based on the value of current.

Here is a version of this change, it is really rough.

http://www.col

[2017-07-24 16:32] ariel-phet commented on #28
@zepumph I think you are going to need to find a solution where the "R" can continue to grow. I thought what @jbphet was suggesting was basically at some point, replace the "R" with a rectangle.

The current behavior is odd and I am guessing Kathy would veto it anyhow. I think we need to hit on a solution that visually acts like the published version.

[2017-07-24 16:49] jessegreenberg commented on #28
@zepumph I gave 1.3.0-dev.4 a test.  It sounds like we might not be able to use that solution, but there was no crashing in Firefox with that version.

[2017-07-25 01:15] zepumph commented on #28
@ariel-phet you are so right, sorry that I completely missunderstood. I tried to implement it again but by detecting the screen's layoutbounds, and when the 'R' was larger than it, just making the R into a big box, and it still ran into problems. I just realized (at the end of the day) that I was still drawing a potentially HUGE rectangle because it was based on the bounds of the letter. Tomorrow

[2017-07-25 20:52] zepumph commented on #28
Here is what I have tried so far. Each time firefox has still had a 'flickering' red screen when the R was too big.

* There is an antiartifact around the text. When the letter is bigger than the screen, make that box filled red and set the text to invisible.
* the same as above but remove the text child when it gets too big, and just show the rectangle.

I think that a problem with the above meth

[2017-07-27 00:59] zepumph commented on #28
This is the next version.

http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.5/resistance-in-a-wire_en.html

Here I simplified the code up a lot, and rather than detecting an edge case where the R was getting too big, I just scaled the R down so that it looks good through its whole range. Now it is a bit less responsive to small changes. It is hard to notice changes on t

[2017-07-27 01:04] zepumph commented on #91
@phet-steele would you look at http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.5/resistance-in-a-wire_en.html?stringTest=double and see if the layout seems better to you now. I see that the numerator variables still overlap, but I seem to remember @samreid telling me that this is expected from the current implementations of OL and RIAW, and ok.

[2017-07-27 22:44] jessegreenberg commented on #87
It looks like the navigation order was slightly changed in the investigation of #28.

[2017-07-27 22:45] jessegreenberg commented on #90
Closing, this is surely caused by #28.

[2017-07-27 22:45] #90 closed

[2017-07-27 22:53] jessegreenberg commented on #28
No breaking in Firefox for me @zepumph.  It will still pause sometimes, when dragging quickly it will get to about 1.46 cm^2 and stall for about 11 seconds before snapping to 0.01cm^2. But a Firefox is able to recover with the smaller R.

[2017-07-27 22:56] jessegreenberg commented on #28
When dragging slowly, I can get much farther before it seizes, it gets to 0.08 cm^2 consistently and then pauses before snapping to 0.01 cm^2.

[2017-07-27 23:07] jessegreenberg commented on #28
I replaced

[code]

With
[code]

And Firefox pauses for ~3 seconds when the values changes from ~1.2 cm^2 to 0.01 cm^2.

[2017-07-27 23:43] zepumph commented on #28
@jessegreenberg and I just screen shared to discuss this, and we found that this time there were no issues with dev.5

Neither my issues stated above, or @jessegreenberg's were present. This makes me feel better about this issue being closer to solved. Since it is inconsistently a minor problem (never crashing the browser, and only sometimes lagging it down at large values), I think of this an imp

[2017-07-28 21:46] zepumph commented on #94
We will not be needing this anymore, closing and deleting branch.

[2017-07-28 21:46] #94 closed

[2017-07-31 16:09] ariel-phet commented on #28
@zepumph - I am definitely getting buggy/laggy behavior on FF

perhaps bring up at dev meeting to brainstorm the issue and possible solutions?

I am OK with the time you are spending. Obviously it is over something very "nit picky" but I figure (despite some frustration you might be having) you are getting to learn a thing or two :).

[2017-07-31 17:05] zepumph commented on #28
I am indeed learning! I don't mind taking the time it takes at all, I just wanted to check in to make sure we are all on the same page. I'll mark it for dev meeing next week (since I will be gone for the meeting this week) to see if there are any thoughts on the matter.

[2017-07-31 17:50] zepumph commented on #28
Actually I decided to poke around a bit more this morning and I think I fixed the laggy behavior. I decreased the font size, which I think was a lot of the computation in Firefox. Then I increased the scale so that the letters are pretty much the same size. @ariel-phet could you see if this version looks better.
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.6/resista

[2017-07-31 22:29] ariel-phet commented on #28
@zepumph looking good to me in latest version!

[2017-07-31 22:31] ariel-phet commented on #28
Well - the "R" behavior anyhow. There is some bouncing around of sim elements, but I believe that is a known issue for you

[2017-08-01 17:57] zepumph commented on #28
@ariel-phet that is great news!! The 'jostling' or bouncing is in both OL and RIAW, and is being addressed in https://github.com/phetsims/ohms-law/issues/68.

As for this issue. I defer to you as the designer to report if there is any pixel polishings/minor scaling changes that you would like to do with the R before closing. I set a scale that looked "pretty good" to me, but I didn't try to make i

[2017-08-01 18:00] zepumph commented on #28
If changes are small, it could be nice to complete them today before I create a dev release for accessibility work. My plan was to get RIAW into dev testing before I leave tomorrow.

[2017-08-01 18:34] ariel-phet commented on #28
@zepumph a few polishes:

1. the "rho" should be properly aligned with the "L" (see the published version). The vertical alignment of "rho" and "L" is correct in the control panel but not in the equation

![raiw1](https://user-images.githubusercontent.com/4051174/28840890-a94ad99a-76b5-11e7-991c-e2d7997a12b1.PNG)
![riaw-dev](https://user-images.githubusercontent.com/4051174/28840889-a94296ae-76b5-

[2017-08-01 18:49] zepumph commented on #28
Thanks @ariel-phet, let's pick up these pixel polishes in a new issue. Closing

[2017-08-01 18:49] #28 closed

[2017-08-01 18:53] zepumph opened #95 "Pixel polishes"
RIAW has gone through a lot in the last few months. Especially in #28. This issue is to fine tune it before dev testing.

From https://github.com/phetsims/resistance-in-a-wire/issues/28#issuecomment-319457938, @ariel-phet thought there should be two changes:
- [x] "rho" is a lower case letter, it should be aligned with the 'L' accordingly, like in the published version
- [x] The 'R' scaling is ver

[2017-08-01 19:34] zepumph commented on #95
Here is the next version @ariel-phet to look at. The scaling is basically what it was before, but now it works on firefox. The key for #28 was to make the text size small, and the scale it large, rather than having a large text that scales down and up (just an fyi).

Would you look at this link on firefox to make sure that it isn't laggy for you either. Also I want you to comment on a difference f

[2017-08-01 22:47] ariel-phet commented on #95
@zepumph looks great, I think the layering of the dividing line and equals sign is a nice touch/improvement!

[2017-08-01 22:47] #95 closed

[2017-08-01 23:48] zepumph commented on #95
Thanks for all your help!

[2017-08-02 00:01] zepumph commented on #88
phet-io dev test: https://github.com/phetsims/QA/issues/32

[2017-08-02 18:55] phet-steele commented on #28
Can confirm I'm not crashing anymore 👍 👍 👍 .

[2017-08-02 19:20] phet-steele opened #96 "Screenshot needs updating"
@zepumph, please before #88.

[2017-08-02 19:20] phet-steele commented on #88
@zepumph don't forget #96 either!

[2017-08-02 19:55] phet-steele commented on #28
For the record, @EthanWJohnson DOES see flickering on Win 10 FF 53.0.2, but does NOT see flickering after updating FF to 54.0.1.

[2017-08-04 17:30] zepumph commented on #89
@phet-steele let me know if this looks good to you.

[2017-08-04 20:46] phet-steele commented on #91
@zepumph this is fine. Not perfect when compared to published, but `?stringTest=double` passes without totally changing the layout like before.

[2017-08-04 20:46] #91 closed

[2017-08-04 20:53] phet-steele commented on #89
@zepumph it's good, but we need more now. `Alex Dornan, Ethan Johnson`as well, please. You'll probably have to put a line break in there somewhere.

[2017-08-04 21:09] zepumph commented on #89
Thanks @phet-steele, closing

[2017-08-07 16:31] phet-steele opened #97 "No max width on the slider value text"
@zepumph I'm not entirely convinced that this is important to address.

Editing these three tandems...

[code]
...and making the text long enough pushes sliders out of the panel. It seems there is no max width where there should be.

<img width="768" alt="screen shot 2017-08-07 at 10 30 05 am" src="https://user-images.githubusercontent.com/5863899/29036139-70208a98-7b5b-11e7-862c-69f105e15951.png"

[2017-08-07 18:39] zepumph commented on #97
Thanks @phet-steele. Good catch.

[2017-08-07 19:47] phet-steele commented on #97
@zepumph, still some slight movement, but the movement stops after the text reaches a certain length. Probably just the the maxWidth is **slightly** too large. Not too concerned for the initial dev release.

[2017-08-07 20:02] phet-steele commented on #86
Above commit is for #89..... 😢

[2017-08-07 20:05] phet-steele commented on #89
You didn't preserve the alphabetic sorting 😛 . Fixed it myself but totally referenced the commit to the issue above because that's how I roll.

[2017-08-07 20:51] zepumph commented on #89
Oops sorry, this commit here fe7aafe

[2017-08-07 22:55] zepumph commented on #97
This is fixed now, I wasn't setting the maxWidth of the SliderUnits correctly. Closing

[2017-08-07 22:55] #97 closed

[2017-08-07 23:53] zepumph opened #98 "Rename tandem: resistanceInAWireModel/View ---> model/view"
It is so verbose to have "resistanceInAWire.resistanceInAWireScreen.resistanceInAWireModel. . ."

[2017-08-07 23:55] #98 closed

[2017-08-10 22:14] zepumph commented on #89
because of https://github.com/phetsims/joist/issues/435, we don't need the newline anymore. Should be good now!

[2017-08-10 22:14] #89 closed

[2017-08-16 15:38] jessegreenberg opened #99 "Add units to screen reader readout of slider values"
Was requested for sonification testing.

[2017-08-16 15:53] jessegreenberg opened #100 "Add labels to sliders"
Requested for sonification testing, slider labels should be available on focus.

[2017-08-16 16:16] jessegreenberg commented on #99
Done in the above commit.

[2017-08-16 16:16] #99 closed

[2017-08-16 16:41] jessegreenberg commented on #100
Done in the above commit, closing.

[2017-08-16 16:41] #100 closed

[2017-09-25 23:17] jessegreenberg opened #101 "Add keyboard help dialog"
Keyboard navigation in this sim is complete, if we add a keyboard help dialog this sim can be republished with keyboard navigation.  Keyboard navigation in this sim is pretty much the same as in john-travoltage.

[2017-09-28 03:17] jessegreenberg commented on #101
Added in the above commit! Here is the dialog now:
![capture](https://user-images.githubusercontent.com/6396244/30947838-3ef7017c-a3c9-11e7-9f77-c8a7a162a49a.PNG)

[2017-09-28 03:17] #101 closed

[2017-09-28 03:19] jessegreenberg commented on #87
Regarding  https://github.com/phetsims/resistance-in-a-wire/issues/87#issuecomment-314900304, we decided that this sim can proceed with deployment for keyboard navigation. In #101 we added a keyboard help dialog that will work until we settle on a long term design. Keyboard nav is complete so we can close this issue.

[2017-09-28 03:19] #87 closed

[2017-09-28 03:21] jessegreenberg commented on #92
This can be closed, we added one in #101 that looks the same as the one @arouinfar mocked up in https://github.com/phetsims/ohms-law/issues/61.  A "long term" style for the Dialog is still getting designed, but this will get us through publication of this sim with keyboard nav. Closing.

[2017-09-28 03:21] #92 closed

[2017-09-28 03:22] jessegreenberg opened #102 "Deploy a version with keyboard navigation"
#87 and #101 are complete, this sim can be redeployed with keyboard navigation, but I need to check on the status of the open issues in this repo first.

[2017-09-28 03:22] jessegreenberg commented on #102
#96 and #88 are the remaining issues.

[2017-09-28 03:24] jessegreenberg commented on #88
@zepumph what is the status of this issue?  We are ready to deploy a PhET brand RC of this sim with keyboard navigation, should we coordinate?

[2017-09-28 16:42] zepumph commented on #88
I think there is just https://github.com/phetsims/ohms-law/issues/68 (which effects RIAW as well). I would love some help on it, I think it has to do with some layout changes I did earlier in the summer, but I can't track down the problem.

[2017-09-28 16:46] jessegreenberg commented on #88
Ok, thanks @zepumph.  Does that need to be fixed before a redeploy?  Does the currently deployed version have that issue as well?

[2017-09-28 16:58] zepumph commented on #88
I don't think it is in the latest version on phet. I'll take another look at it and see what I can do.

[2017-09-28 20:17] zepumph commented on #88
https://github.com/phetsims/ohms-law/issues/68 is fixed, and we are ready for a release. I'm not sure if we should do a PhET-iO version now, since there seems to be no request for it. @samreid do you think we should release RIAW for phet-io right now?

[2017-09-28 20:22] samreid commented on #88
It is up to @kathy-phet.

[2017-09-28 20:58] samreid commented on #88
On second thought, If the sim is improved, it seems we should also test and publish the phet-io one too.

[2017-09-28 22:39] zepumph commented on #96
@phet-steele I think this is is top again, @jessegreenberg and I are rolling out new phet and phet-io versions quite soon.

[2017-09-28 22:47] zepumph opened #103 "Update tandems on keyboardNav panel"
I noticed that many tandems were the same as other components, so RIAW was broken. I fixed the duplications by removing unneeded layout tandems, but there is still some work to be done. (1) Not all texts/icons have tandems, and (2) not all tandems are named appropriately.

1. When I make all instrumented items on the panel invisible, this is what I still see in instance proxies.
![image](https://u

[2017-09-28 23:01] zepumph commented on #88
@samreid how stable do you think master is right now due to https://github.com/phetsims/phet-io/issues/1223. Should we worry?

[2017-09-28 23:16] samreid commented on #88
It still needs attention and should be considered unstable.  You could grab an estimate earlier sha or wait unit it is resolved

[2017-09-28 23:20] zepumph commented on #88
I think that resolution sounds like a good idea. I will crank away at some of them, and try to get it more stable so we can figure out if that's the way we want to go definitively.

[2017-09-29 16:13] zepumph commented on #103
Also, yesterday we talked about only creating these items (which means registering these tandems too) if accessibility is enabled. Otherwise all of these needless tandems will be created even if accessibility isn't enabled, and there is no keyboard nav button.

[2017-10-02 02:15] phet-steele commented on #96
Nope! This step isn't done until the sim passes all testing.

[2017-10-02 18:28] jessegreenberg commented on #103
In the above commit I made sure that all icons and descriptions have a tandem and that the tandem names follow convention and that icon and description tandem names are similar so that they are linked as suggested in https://github.com/phetsims/resistance-in-a-wire/issues/103#issue-261483987.

[2017-10-02 18:32] jessegreenberg commented on #103
To address https://github.com/phetsims/resistance-in-a-wire/issues/103#issuecomment-333170089, a11y is now enabled by default in this sim since keyboard navigation is nearly ready for deployment.

[2017-10-02 18:32] jessegreenberg commented on #103
I tested in instance-proxies and I think everything is working well. @zepumph could you please review?

[2017-10-03 16:30] jessegreenberg opened #104 "New mockup for keyboard help dialog"
We have settled on a style for the keyboard help dialog, @arouinfar and @terracoda can you please create a new mockup for the "concise" version of the dialog in this sim?

[2017-10-03 22:28] zepumph commented on #103
Looks really nice. Thanks for doing that. I'm not sure that we will need these layout tandems ever.

* `resistanceInAWire.keyboardHelpContent.sliderIconsVBox`
* `resistanceInAWire.keyboardHelpContent.sliderDescriptionsVBox`

But heck, I'm not really even sure that any of this needs to be instrumented. For now I would say it is good to go, we can always update it later. Thank you!

[2017-10-03 22:28] #103 closed

[2017-10-03 23:21] arouinfar commented on #104
Here's a mockup using the Ohm's Law controls, with Home and End split into two lines. @terracoda can you please review?
![screen shot 2017-10-03 at 5 19 07 pm](https://user-images.githubusercontent.com/8419308/31153556-0cf21168-a85f-11e7-9d22-3027332dbdf5.png)

[2017-10-04 00:51] terracoda commented on #104
@arouinfar, another suggestion from the design crit was to use consistent language, so use "adjust" or "move", but not both. We could use, "move" or "adjust", or "adjust value of", "adjust values in", and "adjust value to" for the Slider Controls. I picked "move" as it seemed like the simplest language.

**Slider Controls**
- Move sliders:
- Move in smaller steps:
- Move in larger steps:
- Move to

[2017-10-04 00:51] terracoda commented on #104
@arouinfar and a little more line spacing would be good, too.

[2017-10-04 16:43] arouinfar commented on #104
Thanks for the feedback @terracoda! I think the updated text is a a lot cleaner and simpler. I'll change the wording and add a bit more padding to the mockups.

[2017-10-04 16:55] arouinfar commented on #104
@terracoda back to you for review!
![screen shot 2017-10-04 at 10 54 40 am](https://user-images.githubusercontent.com/8419308/31188535-756dccd0-a8f2-11e7-80f0-2ec8137d8eaf.png)

[2017-10-04 20:42] terracoda commented on #104
@arouinfar, looks super nice!

[2017-10-04 20:43] terracoda commented on #104
@jessegreenberg, I think it is ready for implementation.

[2017-10-06 23:22] jessegreenberg commented on #104
Alright, done in the above commits,  @arouinfar @terracoda could you please review? Any final pixel polishing?
![capture](https://user-images.githubusercontent.com/6396244/31301906-cd433a70-aaba-11e7-9c3e-823c1b88ef7a.PNG)

Can be seen in this version:  http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.15/resistance-in-a-wire_en.html

[2017-10-09 15:16] arouinfar commented on #104
Looks good to me @jessegreenberg!

[2017-10-09 23:59] jessegreenberg commented on #104
Excellent thanks!  Closing issue.

[2017-10-10 00:12] jessegreenberg opened #105 "Readout values shrink with 4 digits"
![capture](https://user-images.githubusercontent.com/6396244/31363694-617a741a-ad1d-11e7-969e-e4b70ae14a09.PNG)

I am not seeing this in the deployed version, looks new.

[2017-10-10 00:17] jessegreenberg commented on #105
It looks like the max width used to be
[code]

Now it is `ResistanceInAWireConstants.SLIDER_WIDTH`

[2017-10-10 00:20] jessegreenberg commented on #105
SLIDERS_HORIZONTAL_SEPARATION used to be 115,  SLIDER_WIDTH is 60, that explains it.

[2017-10-10 00:27] zepumph commented on #88
@jessegreenberg think that master is more stable now for an RC

[2017-10-10 00:30] jessegreenberg commented on #88
Thanks @zepumph!

[2017-10-10 16:05] jessegreenberg commented on #105
When I change valueText maxWidth, the the slider track size changes, weird.

[2017-10-10 17:21] terracoda commented on #104
At todays's keyboard navigation we made some changes to the keyboard dialog representation of how to use two-sliders sliders. This change will affect other keyboard dialogs with two-way sliders e.g. Ohm's Law, Molecules and Light (to add github issues)

Changes are summarized as:
- Pair the Arrow keys as 2 options: [Left Right] or [Up Down]
- Make a two-line stack with one label for the Move in sm

[2017-10-10 17:23] terracoda commented on #104
@arouinfar re-opening and assigning to you. I will update the previous comment with the affected issues.

[2017-10-10 17:40] arouinfar commented on #104
Thanks for summarizing @terracoda! I've made the requested changes. I think the left/right arrow keys have a bit more contrast with one another, so I decided to put those first. Can you review and assign others from the meeting who may also be interested in reviewing?
![screen shot 2017-10-10 at 11 34 12 am](https://user-images.githubusercontent.com/8419308/31401091-f6262c4e-adae-11e7-9438-b37c70a

[2017-10-10 18:31] jessegreenberg commented on #104
Why are they paired this way?  Shouldn't it be [Left Down] and [Up Right] to indicate decrement/increment respectively?

[2017-10-10 18:32] jessegreenberg commented on #104
I could be wrong, maybe I didnt' understand the reasoning for breaking them up in the first place.

[2017-10-10 18:35] arouinfar commented on #104
Since there's an "or" between the options, I don't think you want to pair the redundant controls. Using left/right, you can traverse the entire slider track. Using left/up, you'd only be able to decrease the slider value.

[2017-10-10 18:37] zepumph commented on #105
I worked on this with @jessegreenberg today, we will probably need to redo more of the layout to account for double string test, but for now this was a quick fix. Increasing the slider_width constant fixes this. If we find that the layout is too wide for the control panel now, we should be able to decrease the hbox spacing to account for this increase. Back to you @jessegreenberg.

[2017-10-10 18:47] jessegreenberg opened #106 "ControlPanel layout"
While fixing #105, we noticed some slightly strange layout within the control panel for translated strings.
![capture](https://user-images.githubusercontent.com/6396244/31404108-585646d4-adb8-11e7-8343-a07df8fcaef6.PNG)

@zepumph and I tried a few different layout strategies including using different VBoxes, and AlignGroup with AlignBoxes.  But it didn't work out because the different slider compo

[2017-10-10 18:47] jessegreenberg commented on #106
Here is the layout with default strings
![capture](https://user-images.githubusercontent.com/6396244/31404400-320f736e-adb9-11e7-8336-78dd41ee5797.PNG)

[2017-10-10 18:55] jessegreenberg commented on #104
Ok thanks @arouinfar.  I was mistaken, I thought the goal was to break it into "Left and down decrease" while "up and right increase".  But pairing them as two options for navigating the slider range makes sense.

[2017-10-10 18:58] jessegreenberg commented on #105
Thanks @zepumph I just compared against the spacing with 1.2.8 (latest deployed version) and the separation between the wire and the panel when length is maxed is almost identical so I don't think anything else needs to be done. Thanks for the help on this @zepumph, closing.

[2017-10-10 18:58] #105 closed

[2017-10-10 20:04] terracoda commented on #104
@arouinfar, looks awesome!

[2017-10-10 20:07] terracoda commented on #104
Ooops, did you intentionally remove the "s" on "Move sliders"?

[2017-10-10 20:15] terracoda commented on #104
@emily-phet, @ariel-phet, @amanda-phet, @oliver-phet, @zepumph comments welcome on the new mock-up in https://github.com/phetsims/resistance-in-a-wire/issues/104#issuecomment-335551751

Please comment and/or un-assign yourself.

[2017-10-10 20:16] terracoda commented on #104
@arouinfar, I think the new Arrow keys and the order look great. Just wondering about the missing "s".

[2017-10-10 20:17] oliver-phet commented on #104
I like this and do think it is clearer than all together.

[2017-10-10 20:23] amanda-phet commented on #104
I like the new triangles! It all looks great to me.

I'm noticing that the "move in larger steps" row uses the word "or", and am wondering if "and" would be more appropriate here since we use "or" to indicate alternative controls, not complementary controls. Or perhaps no word at all between the buttons (we don't use words between the arrow buttons after all).

[2017-10-10 20:28] terracoda commented on #104
@amanda-phet, hmm, I think of them as two alternatives. I think we say "or" for other things like "Space" or "Enter" for buttons in other cases.

[2017-10-10 20:31] amanda-phet commented on #104
Maybe I don't know what those buttons do.. I assumed page up was a large jump up, and page down is a large jump down. We don't use "or" between a regular up and down arrow.

[2017-10-10 20:33] oliver-phet commented on #104
I agree. Leaving out "or" between page up/down would be the most consistent.

[2017-10-10 20:45] terracoda commented on #104
@amanda-phet, Oh I agree with you. I think we need an "and" for [Pg Up] and [Pg Down]. They are complimentary.

[2017-10-10 20:46] terracoda commented on #104
Or leaving it blank like @oliver-phet said. Both work for me.

[2017-10-10 21:22] ariel-phet commented on #106
@jessegreenberg yes we should fix these layout issues.

[2017-10-10 22:28] jessegreenberg commented on #106
Ok, thanks. We should do this before the upcoming redeploys.

[2017-10-10 22:47] jessegreenberg commented on #106
@zepumph here is what I am thinking:
Keep `SliderUnit`, but instead of making it responsible for layout, it just collects the components and provides an API to get them in the control panel.  Then, in the control panel we use getters to get valueText, unitText, and so on. The control panel could create some align boxes that guarantees that rows are aligned.

In control panel:
[code]

[2017-10-11 15:23] jessegreenberg commented on #106
Alright, thanks Ill give it a shot.

[2017-10-11 22:46] jessegreenberg commented on #106
Before using AlignGroup, I tried again to do the layout relative to the bottom text for consistency and it worked out.

![capture](https://user-images.githubusercontent.com/6396244/31470870-31c82ece-aea3-11e7-92cd-406bf283535f.PNG)

@zepumph would you please review? The remaining problem is with the unit text for stringTest=double, which I believe is a bounds problem with scenery RichText (https:/

[2017-10-11 23:09] zepumph commented on #106
Nice! I didn't realize that this was a know bug, and already in the published version. @jessegreenberg thanks for diving in again. To me it looks good.

[2017-10-11 23:44] ariel-phet commented on #106
@jessegreenberg sorry I am a little unclear on what aspect this question is referring to?

[2017-10-11 23:47] jessegreenberg commented on #106
Sorry, the slight misalignment of the bottom row of units text with `stringTest=double`, shown in the second image in https://github.com/phetsims/resistance-in-a-wire/issues/106#issuecomment-335970449.

[2017-10-11 23:57] ariel-phet commented on #106
@jessegreenberg - a quick scan of the translations of the current published version show that the majority of the translations do not change the units.

However, a few do, such as https://phet.colorado.edu/sims/html/resistance-in-a-wire/latest/resistance-in-a-wire_kn.html

You will see this slight misalignment is present in the published version (it seems acceptable)

So, it would be ideal to fix

[2017-10-12 00:00] jessegreenberg commented on #106
Sounds great, thanks @ariel-phet. I think the fix will require work in https://github.com/phetsims/scenery/issues/687, so we will  see what @jonathanolson suggests before deciding.

[2017-10-12 00:22] jessegreenberg commented on #104
Here is the new dialog based on the updated mockup and above comments, interested parties have thoughts or request additional pixel polishing?

![capture](https://user-images.githubusercontent.com/6396244/31473271-a75314da-aeb0-11e7-90b2-4aa288fe87a0.PNG)

Version to see it live: http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-dev.16/resistance-in-a-wire_en.html

[2017-10-12 14:41] terracoda commented on #104
Looks great, @jessegreenberg.

I think the ESC item, should read "Exit this dialog: [Esc icon]".

Other than that, looks great to me.

[2017-10-12 15:40] arouinfar commented on #104
Looks great @jessegreenberg!

@terracoda I'm not sure if we need to use "this" for the ESC item. Sims have multiple dialogs -- Keyboard Shortcuts, About, and sometimes there are additional dialogs in the sim (e.g. Show Light Spectrum in MAL). All dialogs can be exited with ESC. I doubt that "this" would cause confusion, though -- users would likely try ESC if they close other dialogs.

[2017-10-12 15:45] terracoda commented on #104
@arouinfar, our original text was something like:

We have iterated and simplified a lot since then, so sure let's see how the more general "Exit a dialog: [Esc icon]" works. I am fine with that approach.

@jessegreenberg, looks good to me!

[2017-10-12 16:29] jessegreenberg commented on #106
@jonathanolson provided a recommendation that is working nicely in this case, thanks!
![capture](https://user-images.githubusercontent.com/6396244/31507507-28320750-af38-11e7-93af-ff2f9e9deb1a.PNG)

[2017-10-12 16:33] jessegreenberg commented on #106
Fixed in the above commit, this can be closed.

[2017-10-12 16:33] #106 closed

[2017-10-12 17:45] ariel-phet commented on #104
Looks good to me!

[2017-10-12 19:54] jessegreenberg commented on #104
Thanks everyone, sounds like this is ready to go. Closing.

[2017-10-12 20:02] zepumph commented on #106
@jessegreenberg @jonathanolson you two are heros. Thanks for cracking down on this. I think next Ohms Law will need to be handled in the same manner. I'll make an issue.

[2017-10-12 21:35] jessegreenberg commented on #88
A phetio rc was deployed for testing here:
https://github.com/phetsims/QA/issues/53

Once it passes testing, phet branded version will use the same SHAs.

[2017-10-12 21:36] jessegreenberg commented on #102
This issue is now a duplicate of #88, lets continue in that one. A  phet-io branded version was made for testing, once it passes a PhET branded version can start testing.

[2017-10-12 21:37] #102 closed

[2017-10-13 16:48] brroberts1231 opened #107 "Mirror Inputs: Bottom screen doesn't update with keyboard nav"
For phetsims/QA#53

In mirror inputs, when playing with the sim in the top screen using keyboard navigation, the bottom screen does not update.

[2017-10-13 17:06] lmulhall-phet opened #108 "[Safari, Simulation] Background white when it should be red"
**Test device:**

Tycho

**Operating System:**

iOS 9.3.5 (13G36)

**Browser:**

Safari

**Problem description:**

When resistivity and length are maximum and area is minimum, the standard background color appears below the wire and in the upper left corner. The whole background should be red. Thus far, I've observed this issue on the iPad 2 and on the iPad Air 2, but on the iPad Air 2, there is n

[2017-10-13 17:41] brroberts1231 commented on #107
@phet-steele asked me to look back at old issues under phet-io, john-travoltage, or balloons-and-static-electricity to see if I could find any mention of this being already known and just ignored because it's expected. The closest thing I could find was https://github.com/phetsims/john-travoltage/issues/194#issuecomment-280453783 . This is the only mention I can find about things like this being e

[2017-10-13 17:49] zepumph opened #109 "Republish phet-io RC with https for wrappers"
Because of https://github.com/phetsims/special-ops/issues/82, we need to release an RC.3

[2017-10-13 18:04] zepumph commented on #109
https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.3/wrappers/index/

[2017-10-13 18:04] #109 closed

[2017-10-13 18:13] BryceAG commented on #107
This is also present in recording

[2017-10-13 18:26] jessegreenberg commented on #107
@emily-phet @kathy-phet @ariel-phet this is a general issue, PhET-iO doesn't capture accessibility input events yet.  Making sure that phet-io and a11y work together has been a long term goal, not high priority yet.  But should this be supported now?  If not, I think we should disable a11y in the phet-io release of this sim, and not release phet-io and keyboard navigation/a11y together yet.

[2017-10-13 18:29] phet-steele opened #110 "Impossible set state: ...aboutDialog.closeButton.isFiringProperty"
In the state wrapper: https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.3/wrappers/state/state.html?sim=resistance-in-a-wire&relativeSimPath

Open the about dialog to get the below error. I'm a little confused since I thought phetButton related things don't get captured in state.

[code]
Seen on macOS 10.12.6 Chrome. For phetsims/QA/issues/53.

[2017-10-13 18:41] jessegreenberg commented on #107
It looks like phet-io john-travoltage was published with keyboard navigation, so perhaps we are OK with leaving this issue in phet-io deployments for now.

[2017-10-13 19:24] ariel-phet commented on #107
@jessegreenberg this is definitely a call for @emily-phet and @kathy-phet to discuss as they have the best view of the broad goals of a11y and iO together.

I agree it is a high level goal for iO and a11y to play nicely, but given other priorities I would lean towards your recommendation of not releasing iO and keyboard navigation together yet.

[2017-10-13 20:28] brroberts1231 opened #111 "Should Reset All be able to move sliders that have been disabled?"
For phetsims/QA#53

In instance proxies, I set the resistivity slider to its max of 1, and deselected its Enabled property `resistanceInAWire.resistanceInAWireScreen.view.controlPanel.resistivitySlider.slider.enabledProperty`. This allows you to only move the other two sliders when you launch the sim, but if you press reset all, even the disabled slider is reset to its default position. I imagine

[2017-10-13 20:36] phet-steele commented on #111
@brroberts1231 good question. The answer is here: https://github.com/phetsims/phet-io/issues/584.
The best solution for the end user is to disable the Reset All button, and that is documented for them to read. It's temporary, but does the trick.

[2017-10-13 20:36] #111 closed

[2017-10-13 21:38] brroberts1231 commented on #108
We have also seen similar behavior in Mirror Inputs on Mac Safari, plus a weird 'drawing' phenomenon in the bottom screen as shown in the gif below.
![resistance in a wire](https://user-images.githubusercontent.com/11947677/31567377-7c98aad4-b02c-11e7-9ff0-e662914ec6f2.gif)

[2017-10-13 21:40] lmulhall-phet commented on #108
Seems to be isolated to Safari...

[2017-10-13 21:42] phet-steele commented on #108
.....that's cool. @brroberts1231 please make https://github.com/phetsims/resistance-in-a-wire/issues/108#issuecomment-336573764 its own issue.

[2017-10-13 21:48] emily-phet commented on #107
@jessegreenberg Yes, agreed - long term goal to have phet-io and a11y as close friends, but in the meantime we cannot pause to focus on that. I'm fine with either decoupling phet-io and a11y releases, or keeping them together but accepting that there will be a11y bugs in phet-io. Which option we go with there should be @kathy-phet. I don't know the pros/cons of keeping releases together, though I

[2017-10-13 21:57] lmulhall-phet opened #112 "[mirror inputs] Drawing phenomenon when area is minimum"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6 (16G29)

**Browser:**

Safari Version 11.0 (12604.1.38.1.7)

**Problem description:**

There is a "drawing" phenomenon when area is minimum. This was discovered testing mirror inputs wrapper. This is for phetsims/QA/issues/53. This is similar to phetsims/resistance-in-a-wire/issues/108.

**Steps to rep

[2017-10-13 23:17] lmulhall-phet commented on #108
Just noticed this in the state wrapper on Safari...

![screen shot 2017-10-13 at 5 09 32 pm](https://user-images.githubusercontent.com/31285590/31569734-58247882-b03a-11e7-9cce-a69cd1671ddf.png)

[2017-10-14 00:10] jessegreenberg commented on #108
Very weird, thanks for finding this. @jonathanolson do you know why Text might be doing this?

[2017-10-14 00:16] phet-steele commented on #112
@jessegreenberg...I'm going to jump the gun on assuming we will need help from @jonathanolson. Co-assigning to him.

[2017-10-14 00:20] phet-steele commented on #108
@jessegreenberg @jonathanolson it seems significant that the area slider is at a minimum in every screenshot for this issue and #112.

[2017-10-14 00:22] lmulhall-phet commented on #108
@jessegreenberg @jonathanolson @phet-steele Can confirm. Needs to be minimum. Also, I've only observed this issue in Safari.

[2017-10-16 01:57] samreid commented on #110
@zepumph can you take a look?

[2017-10-17 17:27] arouinfar commented on #104
@jessegreenberg in today's keyboard navigation meeting we further refined the language used for slider controls. This will apply to all sims with sliders that look like sliders, including Ohm's Law and MAL.

![screen shot 2017-10-17 at 11 23 47 am](https://user-images.githubusercontent.com/8419308/31679224-b2fdaecc-b32d-11e7-9583-7a9a6a1b99ba.png)

[2017-10-17 19:21] zepumph commented on #107
I agree, but for our sake moving forward, I think we should make sure that we know what published phet-io sims out there have working a11y, and which do not, especially if it ends up being on a sliding scale of completeness.

[2017-10-17 21:15] zepumph commented on #110
I updated isFiringProperty so that it stays out of the state. The error is now fixed in master. Leaving open to confirm in next RC.

[2017-10-17 23:29] zepumph commented on #88
Unassigning, let me know how I can help.

[2017-10-17 23:39] zepumph commented on #104
I'm on it

[2017-10-17 23:50] zepumph commented on #104
Here is master:
![image](https://user-images.githubusercontent.com/6856943/31694771-9e924180-b352-11e7-8601-e177bf080aa0.png)

I'll leave open to make sure that this gets cherryPicked into the rc branch. Back to you @jessegreenberg.

[2017-10-18 04:03] arouinfar commented on #104
Looks great @zepumph!

[2017-10-18 16:41] jessegreenberg commented on #104
Thanks @zepumph, looks great! We will cherry pick into 1.3 and 1.3-phetio when ready.

[2017-10-18 17:13] jessegreenberg commented on #107
Thanks @emily-phet and @zepumph, lets talk about this at status meeting. I think the question for @kathy-phet is whether we want partial completeness of a11y /phet-io features to be published now vs waiting to add keyboard nav in phet-io sims until all features are supported.

[2017-10-18 17:16] kathy-phet commented on #107
Probably best to not support keyboard nav since its only partially supported. So just disable that feature in the PhET-iO sims for now. K

[2017-10-18 17:18] jessegreenberg commented on #107
Thanks @kathy-phet, that sounds good to me.

[2017-10-18 17:29] jessegreenberg commented on #88
@zepumph in #107 we decided not to include keyboard nav in phet-io releases until a11y features work with PhET-iO.  So the current plan is  to deploy 1.3-phetio without keyboard nav and then a 1.4 PhET brand version with keyboard nav.  Does that sound correct?

[2017-10-18 17:51] terracoda commented on #104
Thanks @zepumph, @jessegreenberg and @arouinfar! I agree. Looks great.

[2017-10-18 20:31] zepumph commented on #88
That sounds like our current plan, although it is kinda a pain in the butt. I want to double check with @samreid. Sam does this seem right to you?

[2017-10-18 20:39] samreid commented on #88
Perhaps we should defer further phet-io releases until we get Faraday's Law stabilized and have PhET-iO design meetings for each sim?

[2017-10-18 20:42] zepumph commented on #88
That would be a question for @kathy-phet, using the old way of instrumenting. OL and RIAW are both ready for phet-io releases. The question is should we spend the QA time to do this if we will just need to republish a "stable" version soon.

[2017-10-18 20:43] zepumph commented on #88
@kathy-phet should we proceed with RIAW phet-io release even though it has not had design time to move it to a "stable api?"

[2017-10-24 17:36] jessegreenberg commented on #108
Thanks @phet-steele and @lmulhall-phet, is this happening in the deployed version?

[2017-10-24 18:03] jessegreenberg commented on #108
@phet-steele said that the first image  in https://github.com/phetsims/resistance-in-a-wire/issues/108#issuecomment-336588766 has been happening before, but the second image in https://github.com/phetsims/resistance-in-a-wire/issues/108#issuecomment-336588766 was not.

[2017-10-24 18:07] jessegreenberg commented on #108
In https://github.com/phetsims/ohms-law/issues/68, we added `preventFit` to fix an issue where components were  jostling during use. Really just a shot in the dark, but could that be related?

[2017-10-24 18:07] jessegreenberg commented on #112
In phetsims/ohms-law#68, we added preventFit to fix an issue where components were jostling during use. Really just a shot in the dark, but could that be related?

[2017-10-27 03:44] jonathanolson commented on #112
This looks like the browser is having issues with how large the font ends up being. Maybe the mouse movement triggers the refresh on the top one (no clue).

Does this happen with rootRenderer=canvas?

[2017-10-30 22:37] jessegreenberg commented on #112
@jonathanolson I cannot reproduce this problem with rootRenderer=canvas.

[2017-10-30 22:44] jessegreenberg commented on #112
@jonathanolson is ```renderer: canvas``` for the letters in this sim a recommended fix?

[2017-10-30 22:56] jessegreenberg commented on #108
I can't fully reproduce this. Occasionally I see a window in the top left corner of the screen, but I can't get it to look like the examples with the large spaces at the top and bottom of the screen.

To see the small window in the top corner, I move resistivity to max, length to max, then area slowly to min. Then after ~5 seconds the small window in the top left corner appears.

[2017-10-30 22:59] jonathanolson commented on #112
Forcing that may affect performance and/or font/shape antialiasing.

@ariel-phet, should I look into workarounds for the specific case, so that we wouldn't have to force Canvas in this situation?

[2017-10-30 23:07] jonathanolson commented on #108
Probably related to https://github.com/phetsims/resistance-in-a-wire/issues/112. Might be worth trying rootRenderer=canvas to see if that reproduces or not.

I don't recall if this has been tried, but you could try increasing the font size (with a corresponding decrease in scale), or do the reverse. There's a decent chance that may help.

A somewhat-more probably foolproof but tricky way would be

[2017-10-30 23:07] jonathanolson commented on #112
See https://github.com/phetsims/resistance-in-a-wire/issues/108#issuecomment-340611488 for potential workarounds.

[2017-10-30 23:18] jessegreenberg commented on #108
`renderer: canvas` does fix this issue (to the extent I could reproduce anyway).

A few solutions for scaling the letters was recently investigated in #28, Ill  take a look there to  see what has been tried.

[2017-10-30 23:22] jessegreenberg commented on #108
In https://github.com/phetsims/resistance-in-a-wire/commit/56b3170de6e23080d0bdfec5f1ed407eeb568467 (the fixing commit for #28) the font size was significantly reduced and the scale significantly reduced. This improved the performance on for Firefox, but may have introduced this issue (and maybe also #112).

[2017-10-31 19:20] ariel-phet commented on #112
@jonathanolson I am fine with forcing canvas unless it is brutal on performance. My quick look at font shape/aliasing seemed acceptable. I would rather not look into work around if not necessary.

@jessegreenberg perhaps only force canvas on safari? I would be fine with that

[2017-11-02 23:39] jessegreenberg commented on #108
I tried `toImage` on the text, the result is surprisingly clear, not seeing fuzzy borders or pixelation. But I am still seeing empty space when the 'R' gets  very large.

![screen shot 2017-11-02 at 5 30 20 pm](https://user-images.githubusercontent.com/6396244/32355410-123f297e-bff4-11e7-9ec5-c514d6402472.png)

[2017-11-02 23:40] jessegreenberg commented on #112
One recommendation from  #108 was to rasterize text to images and scale that way. I tried that in #108, but I am still seeing this  problem

[2017-11-02 23:43] jessegreenberg commented on #108
Here is what I tried in `symbolTexts.forEach`:
[code]

The original text was scaled up by 40 to make it look less pixelated.

[2017-11-07 20:16] jessegreenberg commented on #108
Fixed with the above commit, tested with safari 10.0.1 and safari on iOS 9.3.5. Not quite as smooth on safari 10.0.1 after the change,  but still feels fluid when dragging slider. Seems acceptable to me, but would be good to have verified by QA team.

[2017-11-07 20:17] jessegreenberg commented on #112
In #108, this was fixed by rendering with canvas when using safari. Marking as fixed, pending testing.

[2017-11-07 20:19] jessegreenberg commented on #107
This is going to be worked on  in https://github.com/phetsims/phet-io/issues/1205 when we are ready. Closing this issue since it will be worked on there.

[2017-11-07 20:19] #107 closed

[2017-11-07 20:20] jessegreenberg commented on #104
Closing, we are in RC phase!

[2017-11-07 20:21] jessegreenberg commented on #104
Wait, this needed to be cherry picked??

[2017-11-07 20:22] jessegreenberg commented on #104
Yes it did, marking as fixed-pending-testing.

[2017-11-08 17:28] phet-steele commented on #112
Fixed in macOS 10.13.1, iOS 11.0.3, and iOS 9.3.5.

[2017-11-08 17:28] #112 closed

[2017-11-08 17:36] phet-steele commented on #108
Fixed in macOS 10.13.1, iOS 11.0.3, and iOS 9.3.5.

[2017-11-08 17:36] #108 closed

[2017-11-08 19:20] jessegreenberg opened #113 "Formula text not centered when set in instance proxies"
@phet-steele found this bug. From https://github.com/phetsims/QA/issues/65. Steps to reproduce

1) In instance proxies, go to
[code]
2 ) Set text value to something new. The text will be off center.
3) Adjust the area slider. The text will re-center to the correct location.

@ariel-phet @samreid is this something that should be addressed?  Is this more of a cosmetic issue that can be deferred? @ph

[2017-11-08 19:39] ariel-phet commented on #113
@jessegreenberg totally cosmetic issue that can be deferred.

The equation is still holding true (and almost everyone is going to use R, or another uppercase letter in a different locale).

[2017-11-08 20:28] samreid commented on #113
We will revisit this when we have the PhET-iO design meeting for the simulation.

[2017-11-09 20:46] jessegreenberg opened #114 "Update QA credits for 1.4"

[2017-11-09 20:47] jessegreenberg commented on #104
Changes in both release branches (1.3-phetio and 1.4)

[2017-11-09 20:47] #104 closed

[2017-11-11 01:23] zepumph commented on #88
phetio 1.3.0-phetio released!
https://phet-io.colorado.edu/sims/resistance-in-a-wire/1.3.0-phetio/wrappers/index/

[2017-11-11 01:24] zepumph commented on #88
@jessegreenberg you are taking on the phet version in a different issue and a different version (since it has accessibility enabled by default). Closing.

[2017-11-11 01:24] #88 closed

[2017-11-13 19:44] CWilson4960 opened #115 "Keyboard Navigation, using arrows to navigate doesn't allow slider movement"
Test device: Dell xps (Hanson)

Operating System: Windows 10 1703.15063.673

Browser: Mozilla Firefox 56.0

Problem description: You are no longer able to adjust the slider with arrows after using arrow keys to navigate to the sliders, as opposed to using tab.

Steps to reproduce:
1) Load sim
2) Tab through the controls until the focus box is on the reset button.
3) Use the arrow keys to navigate

[2017-11-13 19:54] jessegreenberg commented on #115
Thanks @CWilson4960, this is weird.  I am unable to reproduce with Windows 10 Firefox 56.0.2.

How are you able to do this? Do you have custom settings to enable navigation with arrow keys? Or were you by chance using a screen reader prior to testing?

[2017-11-13 20:25] arnabp opened #116 "Resistance symbol on stringTests disappears at high values"
On double and long string tests the symbol for resistance will disappear instead of filling the entire screen read, I assume because there is white space at the center of the symbol in those cases. I know we can't control whether there is white space in the center of this symbol for other languages, but I just wanted to make sure we're okay with this behavior?

For phetsims/QA#66

![screen shot 20

[2017-11-13 22:46] jessegreenberg commented on #115
I just tried to reproduce with Hanson testing machine, when I turned volume on NVDA started talking to me, so the screen reader was enabled. When I turn the screen reader off,  the problem goes away. I can no longer use the arrow keys to move focus. Closing.

[2017-11-13 22:46] #115 closed

[2017-11-14 01:09] jessegreenberg commented on #116
@ariel-phet I assume we are OK with this for the reasons mentioned in #113 (very few people translate the symbols and those that do will use single letters)?

[2017-11-14 05:54] ariel-phet commented on #116
@jessegreenberg I went through all simulations, It seems that everyone is using a single letter (even if they change the symbol).

The only one that seems messed up is Tibetan, but it seems the translator did something odd, and still kept the symbols:

https://phet.colorado.edu/sims/html/resistance-in-a-wire/latest/resistance-in-a-wire_bo.html

[2017-11-14 05:55] ariel-phet commented on #116
So yes, i think we are OK with this behavior, I am going to get Oliver to email the Tibetan translator to let them know.

[2017-11-14 17:37] CWilson4960 commented on #115
Thank you Jesse! Sorry I didn't catch that! I hope it wasn't too much of an inconvenience.

[2017-11-14 19:23] jessegreenberg commented on #115
Not at all, it was definitely more of an inconvenience for you, I was most likely the last one who left it on. Sorry about that!

[2017-11-14 22:13] jessegreenberg commented on #116
Great, thanks. Closing  this issue. @arnabp thanks for bringing it up!

[2017-11-14 22:13] #116 closed

[2017-11-14 22:26] phet-steele commented on #96
@jessegreenberg, screenshots are updated.

[2017-11-14 22:26] #96 closed

[2017-11-14 22:27] jessegreenberg commented on #96
Great, thanks @phet-steele!

[2017-11-14 22:35] phet-steele commented on #114
Updated.

[2017-11-14 22:35] #114 closed

[2017-11-21 23:06] jessegreenberg opened #117 "Deploy 1.4.0-rc.2"
To track what needs to be done for 1.4.0-rc.2. See https://github.com/phetsims/QA/issues/66 for previous RC.

- [x]  verify https://github.com/phetsims/john-travoltage/issues/252 is fixed in this version
- [x] cherry pick commits for help dialog updates (https://github.com/phetsims/a11y-research/issues/62)
  - https://github.com/phetsims/scenery-phet/commit/24bd572b2c0068b2569254b6730a6d69d64fb807

[2017-11-21 23:08] jessegreenberg commented on #117
On slack, got verification that we should be OK. @jonathanolson said

[2017-11-21 23:10] jessegreenberg commented on #117
I would like to get review comments from a few more assignees before proceeding.

[2017-11-22 19:54] jessegreenberg commented on #117
We got all  the 👍 we need in https://github.com/phetsims/a11y-research/issues/62,  I think we are ready to go!

[2017-11-27 17:16] jessegreenberg commented on #117
I tried to cherry-pick commits  in for dialog changes but ran into too many merge conflicts, will have to grab a few more in between the ones listed in https://github.com/phetsims/resistance-in-a-wire/issues/117#issue-275890400.

[2017-11-27 18:05] jessegreenberg commented on #117
Done, https://github.com/phetsims/resistance-in-a-wire/commit/e46c2a4905ef29bd7f6587c67d80a3037294df34 isn't necessary on the release branch.

[2017-11-27 18:07] jessegreenberg commented on #117
We are ready for a spot check RC.

[2017-11-27 18:51] phet-steele opened #118 "Hard to see the focus highlight on a red background"
Not sure we would ever have another sim with a background color like this, but when the 'R' takes up the entire screen, the contrast between the background and focus highlight is minimal. This only affects the focus highlight when on the Reset All button:

<img width="1228" alt="screen shot 2017-11-27 at 11 36 24 am" src="https://user-images.githubusercontent.com/5863899/33282927-71773f22-d367-11e

[2017-11-27 18:57] terracoda commented on #118
You have found and interesting in-context contrast issue, @phet-steele.

The same issue might exist in Ohm's Law.

[2017-11-27 19:01] terracoda commented on #118
It exists half-way in Ohm's Law:
<img width="477" alt="screen shot 2017-11-27 at 15 30 17" src="https://user-images.githubusercontent.com/1902116/33283912-ed4320ce-d387-11e7-942e-3322cbd35b5e.png">

[2017-11-27 19:04] terracoda commented on #118
@jessegreenberg, is there a way to address this problem by changing the focus highlight color of the background has changed?

[2017-11-27 19:31] jessegreenberg commented on #118
@terracoda there is no way to determine when the background behind the reset all button has changed color. What do you think about changing the focus highlight color for this sim, or changing the focus highlight color for this reset all button permanently? Maybe to a light blue or something?

Also assigning to @emily-phet so she is aware and in case she has any comments.

[2017-11-27 19:49] jessegreenberg commented on #117
RC was deployed and verification issue opened, closing this issue.

[2017-11-27 19:49] #117 closed

[2017-11-27 20:45] zepumph commented on #118
It would be pretty cool (but expensive) if scenery had a constrastListener that you could wire up between the focusHighlight and other colors in the sim (like the background). And update the focusHighlight accordingly.

[2017-11-27 21:10] jessegreenberg opened #119 "Focus incorrectly managed when using mouse + keyboard"
From https://github.com/phetsims/QA/issues/73

@phet-steele found that this sim is susceptible to https://github.com/phetsims/scenery/issues/713. It is particularly obvious when interacting with the PhET menu. Steps to reproduce buggy behavior:

- Focus "Area" slider by tabbing to it.
- Open the PhET menu with a mouse.
- Focus highlight goes away
- Use arrow keys. Observe that the  Area slider mov

[2017-11-27 21:11] jessegreenberg commented on #119
Actually,  it looks like for this sim, this is a buggy implementation for the current implementation of handling keyboard + mouse interaction with the PhET menu. When the PhET menu is shown, we have

[code]

this removes the focus highlight, but does NOT blur the active element.

[2017-11-28 12:54] terracoda commented on #118
@jessegreenberg, I was thinking that an inner black stroke, or even possibly an inner and outer black stroke could work for the RIAW reset button.

The same or similar solution could work for the sound button and reset button in OL.
I can try to do a quick mock-up.

[2017-11-28 12:55] terracoda commented on #118
@zepumph, very interesting idea re comment https://github.com/phetsims/resistance-in-a-wire/issues/118#issuecomment-347322298

[2017-11-28 13:23] terracoda commented on #118
Very rough additional stroking idea. I tried a 3 px stroke inside the pink focus.

![focus-issue-reset-riaw](https://user-images.githubusercontent.com/1902116/33321819-90200ade-d421-11e7-8fb5-4577e32ffeb2.jpg)

![focus-issue-sound-ol](https://user-images.githubusercontent.com/1902116/33321830-9575555c-d421-11e7-9eb0-ba0dffe6d2eb.jpg)

[2017-11-28 13:26] terracoda commented on #118
Perhaps if the inner bounds between the button and the pink focus was all filled with a high contrast color like black, it would look nicer?

[2017-11-28 17:18] jessegreenberg commented on #118
For this sim, we decided to use a black outer focus
[code]

[2017-11-28 17:19] jessegreenberg commented on #118
Also, this will only be on the reset all button.

[2017-11-28 18:05] jessegreenberg commented on #119
@phet-steele I believe this is resolved in master, would you please verify?

[2017-11-28 18:39] phet-steele commented on #119
Verified!

[2017-11-28 18:39] #119 closed

[2017-11-28 20:21] jessegreenberg commented on #118
Added, change will need to be cherry-picked into  release branch.

[2017-11-28 20:54] jessegreenberg commented on #118
Cherry-picked into 1.4, closing.

[2017-11-28 20:54] #118 closed

[2017-11-28 23:20] pixelzoom opened #120 "why has the html file size increased dramatically?"
#Slack developer channel:

Chris Malley [4:08 PM]
RIAW 1.2.8 was ~850K.  1.3.0-phetio and the recent 1.4.0 are 1.3MB. What accounts for the dramatic (53%) increase?

Jesse Greenberg [4:12 PM]
Hmm, I'm not sure, I would not have expected keyboard nav to increase it by that much

[2017-11-28 23:25] pixelzoom commented on #120
Assigning to @zepumph and @jessegreenberg to investigate, since they deployed 1.3.0-phetio and 1.4.0 respectively.

[2017-11-28 23:30] pixelzoom commented on #120
I started to compare file sizes to see when the increase occurred, but I bailed.
Odd that 1.2.9-rc.1 was deployed (by @jbphet) after 1.3.0-phetio and 1.4.0-rc.1.

[2017-11-29 00:11] pixelzoom commented on #120
Looking at other sims... There appears to be a general increase in html file size.  For example, function-builder 1.0.6 (1358908) to 1.0.7 (1660565) - I'm responsible for this sim, and there were no significant changes that I'm aware of.

[2017-11-29 00:34] jessegreenberg commented on #120
For RIAW, I am seeing the largest increase between 1.2.8 at 831K (14-Apr-2017) and 1.3.0-rc.1 at 1.1M (05-May-2017).

The 1.2.9-rc.1 build is smaller at ~831K.

[2017-11-29 06:20] samreid commented on #120
images/ is 322,761 bytes after https://github.com/phetsims/function-builder/commit/1f90c8067415d297f8e304a91e753fc4c30092ed
images/ is  96,026 bytes in the parent commit which is https://github.com/phetsims/function-builder/commit/20ce3711725c42e8747bcc636ca99ea225c9ae1f

This is a difference of 226735 bytes, may account for most of the added 301657 bytes (still 74922 bytes unaccounted for).

[2017-11-29 22:07] pixelzoom commented on #120
Hmmm... Not sure why that commit added 301657, looks like we were just replacing images with the same dimensions.   Will investigate in https://github.com/phetsims/function-builder/issues/115.

[2017-11-30 01:45] jessegreenberg commented on #120
A build of molecules-and-light off of master is 1498426 bytes while 1.1.15 is 1212717 bytes (24% increase). When I did `grunt checkout-shas` for molecules-and-light 1.1 and resistance-in-a-wire 1.2, I saw that those versions had no a11y in common code, so I wondered if increase was caused by a11y.

I removed all a11y code in scenery, and removed all a11y code in molecules-and-light dependencies. A

[2017-11-30 22:27] arouinfar opened #121 "Create LoL Icons and Desciptions"

[2017-12-04 06:00] samreid commented on #120
I recalled we decided to use the larger lodash, according to https://github.com/phetsims/sherpa/issues/58 it was only 38kb larger (minified) and we did that in early 2017.  However, the dates don't match up with https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-347712176

[2017-12-04 17:01] jessegreenberg commented on #120
Dates in https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-347712176 are misleading, SHAs for 1.2 are actually from 07-Mar-2016, probably more important than the date of the maintenance release.

[2017-12-07 01:25] jessegreenberg commented on #120
Adding to developer meeting to make sure that the dev team knows that file size for all sims has grown by ~22% in the last 21 months, to discuss whether or not this is a concern, and to discuss next steps.

[2017-12-07 17:56] arouinfar commented on #121
The icon and description is now on Drive.

[2017-12-07 17:56] #121 closed

[2017-12-07 19:06] jessegreenberg commented on #120
In 19-Feb-2016 example-sim was 830K and it is now 1175K, which is ~41% increase.

[2017-12-07 20:08] jessegreenberg commented on #120
Dev meeting: 12/7/17 -

@jessegreenberg will look into this more thoroughly, recommendation was to look at increase to scenery and example-sim and chains since they are smaller sims.

[2017-12-14 18:51] jessegreenberg commented on #120
Removing developer meeting label, was discussed last week and plan is to continue with  https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-350079994

[2017-12-20 22:26] jessegreenberg commented on #120
I was unable to get example-sim to build off of old SHAs, so I have been testing with builds of RIAW and scenery.

A build of RIAW master is 1.24 MB. A build of RIAW 1.2 is 830 kb. This is an increase of 410 kb. I tried inspecting a diff of old and new builds with --mangle=false, but there are too many changes to isolate any one increase. Here is a list of some additions I found in the diff:

- Ne

[2017-12-20 22:32] jessegreenberg commented on #120
This and https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-353200809 make it seem possible that the increase in file size could be caused by code additions.  In scenery, I see many new types that have been added in the past year that are large like everything under scenery/js/display/drawables/ and new listener types under scenery/js/listeners/. All of these could explain th

[2017-12-20 23:04] jessegreenberg commented on #120
I wrote a script that checks out the SHA of each scenery commit in the last year, builds, and prints size if build succeeds. This plot shows build after commits from Wed Mar 9 23:47:51 2016 to Mon Dec 18 17:03:08 2017. 0s are build failures. Growth seems fairly steady.

All builds failed after Tue Dec 13 12:14:24 2016 since dependencies stayed on master. I disabled eslint to get more builds. Betwe

[2017-12-21 17:14] pixelzoom commented on #120
During today's status meeting, @jessegreenberg said he wanted to discuss this at today's developer meeting, so labeling as discussion.

[2017-12-21 18:51] pixelzoom commented on #120
12/21/17 dev meeting:

@jessegreenberg will do something similar to https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-353208750 for RIAW.   Determine if it's a slow steady growth, or if there are spikes.

[2017-12-21 18:53] jessegreenberg commented on #120
https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-353428099

I will look into checking out dependencies at the same date as eac RIAW SHA to get a better sense of project growth.

[2017-12-21 18:55] samreid commented on #120
I read about git checkout by date here: https://stackoverflow.com/questions/6990484/git-checkout-by-date

[2017-12-24 02:36] jessegreenberg commented on #120
I modified the script to get scenery commits in the last 2 years, and for each commit, check out sim and dependencies at commit date, npm prune and update in chipper and sim, and print size of built sim file. Here is a plot of the output after doing this.
![2-year](https://user-images.githubusercontent.com/6396244/34323833-58bf5482-e817-11e7-836f-62e3bbda9f16.png)

Here is a zoom in on 2017, it lo

[2017-12-24 02:43] jessegreenberg commented on #120
February jump happened between these two commits:
[code]

[2017-12-24 03:17] jessegreenberg commented on #120
The jump in September happened sometime between these commits:
1168104 bytes after:
[code]
1213422 bytes after
[code]

[2018-01-03 04:53] zepumph commented on #120
Unassigning before my time off.

[2018-01-03 22:54] jessegreenberg commented on #120
@samreid do you think that "Merge branch 'tandem'" could be the cause of the spike in Feb 2017?

`git log --since "2017-09-21" --until "2017-09-28"` in kite shows 30 commits related to CAG, presumably the increase in size in that week is mostly from those changes? I will try another test against those commits, it would show us if growth is steady during that time.

[2018-01-03 23:44] jessegreenberg commented on #120
Results are in:
![kite-plot](https://user-images.githubusercontent.com/6396244/34544424-677967f8-f0a3-11e7-9bfa-6b9d5a25d814.png)

The commit on the jump on Sep 26 is https://github.com/phetsims/kite/commit/d1fafef7e6fff41748c793751e6d26bbf3f77ad8, which is where `Graph` was added to `Shape`.

The commit on the size increase on Sep 28 seems unlikely to have caused it.
https://github.com/phetsims/k

[2018-01-04 01:19] jessegreenberg commented on #120
RIAW got a KeyboardHelpDialog on Sep 27, 2017 which included the first usages of AlignGroup and KeyNode in this sim, and the view code required for Dialog layout. I would be surprised if this caused the entire 20KB increase between Sep 27 and 28.

Looking through commits around september 28 with `git log --since "2017-09-27" --until "2017-09-29"` I see lots of commits throughout the project with a

[2018-01-04 03:32] samreid commented on #120
Merge branch tandem has 2 parents:
* updated to lodash 4.17.4
* initial tandem in scenery support

The former is known to add many KB.  I skimmed through file changes in the latter and it looks like it is adding 100+ lines of code (probably between 100 and 300).

I wonder if we should be asking the question "how can we reduce our download size"--that is, focusing on being able to visualize the siz

[2018-01-04 20:37] jessegreenberg commented on #120
Discussion from 1/4/2018:

Regarding the big jump in size in early February, we would like to learn more. We will make a similar plot over commits across the whole project in that time frame.

Regarding

@ariel-phet says that right now that is not necessary, the goal for this issue was just to determine what caused the increase. Even with the observed increase our sim sizes are acceptable.

[2018-01-04 20:39] jessegreenberg commented on #120
We are also going to put this script in perennial.

[2018-01-05 17:27] jessegreenberg commented on #120
A plot against commits for the entire project around the increase in february looks like this:
![all-plot](https://user-images.githubusercontent.com/6396244/34620304-431dfa62-f202-11e7-8a46-3cff2c3e81ad.png)

Zooming in on Feb 3:
![feb3-plot](https://user-images.githubusercontent.com/6396244/34620316-56f472a0-f202-11e7-9529-b43cdc3ba31d.png)

All commits at the spike have the message
"Updated to l

[2018-01-05 17:31] jessegreenberg commented on #120
The last commit that had the sim < 950 KB was for scenery at Fri Feb 3, 207 15:55:20 with message "Updated to lodash 4.17.4..."

One second later at Fri Feb 3, 2017 15:55:21 sherpa got a commit with message
"Updated to lodash 4.17.4..."

Which caused the increase of 88.2 KB.

[2018-01-11 18:33] jessegreenberg commented on #120
Adding dev meeting label to go over https://github.com/phetsims/resistance-in-a-wire/issues/120#issuecomment-355615214 and to see if we should talk about this more or begin to think about optimizing file size.

[2018-01-11 19:35] #120 closed

[2018-01-11 19:36] jessegreenberg commented on #120
Discussed in dev meeting:

For now, we don't need to worry about optimizing file size. This issue can be closed. For now we should be watching file size. Every maintenance/minor release we should be watching file sizes to make sure that our sims aren't growing out of control.

This issue can be closed.

[2018-01-17 04:16] terracoda opened #122 "Final Check on descriptions for RIAW"
To make sure the descriptions meet the pedagogical goals for this sim, I need a
1. A sanity check from content experts, and
2. I would like to request Design Time for Next Week (not this week)

The design doc with the descriptions can be found here:
[https://docs.google.com/spreadsheets/d/11OoUnYOpeEYojNxCOMyyOyEQfO4tdkFWEGJbt-qwqsQ/edit#gid=0](https://docs.google.com/spreadsheets/d/11OoUnYOpeEYoj

[2018-01-17 04:19] terracoda commented on #122
@ariel-phet, when you have a bit of time we can look at the spread sheet together.
@emily-phet please add anything if I have forgotten to mention anything this issue.

[2018-01-17 20:21] ariel-phet commented on #122
@terracoda I would be happy to. How pressing is this?

[2018-01-17 21:59] terracoda commented on #122
Somewhat pressing. Are you available Friday morning?

@emily-phet wants to identify any description design issues that I can quickly address, so @jessegreenberg implement and we can get the sim re-published with description.

[2018-01-17 22:43] emily-phet commented on #122
@ariel-phet @terracoda @jessegreenberg
I think there has been some miscommunication. I don't think this discussion is urgent. I think it can all be discussed in a design meeting next week.

@terracoda The things that you mention in your list were intended to be done at the design meeting next week - not to have done in advance of a design meeting.

[2018-01-17 23:25] terracoda commented on #122
Oh sorry, my apologies. We will discuss at the design meeting next week @ariel-phet .

.
.

[2018-01-23 04:34] emily-phet commented on #122
@terracoda @ariel-phet during design meeting with this sim, let's spend a little time exploring with NVDA (PC folks) or VO (Mac folks). This is a great opportunity for folks to start learning the basics, and will help with productive feedback for @terracoda

[2018-01-24 18:05] terracoda commented on #122
@emily-phet that's a great idea, but I don't yet have a version with any implemented descriptions.
I thought we were going to go over the descriptions for any design gaps and then implement?

I'm just checking with @jessegreenberg in case I am missing a version somewhere.

[2018-01-24 18:41] emily-phet commented on #122
@terracoda we can use Ohm's Law as an example, since they're so similar. I think that we should start - as a general practice - listening to screen readers do their thing at least a little when doing these description design meetings with the broader team. I think that will take some of the verbal load off of you (I know it's really hard for me at least to have to phrase things as screen readers d

[2018-01-24 18:44] terracoda commented on #122
Awesome, I was thinking the same thing. Demo, OL, and then look at the RIAW design spreadsheet and identify the gaps or issues there before full implementation.

[2018-01-26 13:06] emily-phet commented on #122
discussed in 1/25 design meeting. notes in @terracoda's RIAW description spreadsheet.

[2018-01-28 01:58] terracoda commented on #122
@terracoda is updating the design document and may still have a couple of outstanding questions.

[2018-02-01 17:23] terracoda opened #123 "Describing size of letters in equation and scaling factor issue"
I have explored a few cases for RIAW, in order to get a sense of what the descriptions should be to describe the size of letters in the equation. There are some scaling factors that I want to make sure align with what I am seeing visually and the descriptions that I am designing.

**Description Design Question**
What is the physical size of letter R when the Resistivity, Length and Area the slider

[2018-02-01 17:26] terracoda commented on #123
@ariel-phet, and @kathy-phet could you comment please.

[2018-02-02 21:22] ariel-phet commented on #123
@terracoda I think the actual size of the letter R is not so important. Of your two choices I might go with option 1.

However, I think you could just refer to "R" independently. How R changes, its relation to the other variables is what is key.

So I think you could just say R is "extremely small, small, medium size, big, enormous" or such.

[2018-02-02 21:28] terracoda commented on #123
@ariel-phet, this description is the dynamic description of the equation. It describes the state of the equation.

Students get alerts about R growing or shrink when the play with  the sliders.

Are the letters all supposed to me the same size  if the sliders are at the same level, or can R be different, as it is when all sliders are set to minimum?

[2018-02-05 18:24] terracoda commented on #123
@ariel-phet, actually, I will just check with Jesse about the actual numerical size of letter R at Page Load, at MAX, and at MIN. It might be that a size difference is there at Page Load and at Max, but that it is hard to see the difference visually. It is very clear that there is a size difference when all the sliders are set to MIN.

Regarding the actual size of letter R, that might be useful in

[2018-02-05 18:56] terracoda commented on #123
@ariel-phet, for example, the alerts sound like this:

[2018-02-07 00:54] terracoda commented on #123
@ariel-phet, @kathy-phet, I discussed some edge-case explorations with @emily-phet today, and we think that the current descriptions and alerts accurately describe what is happening in the sim.

The edge cases we discussed are outlined in the design document if you would like to see them.

I am closing this issue for now. We can discuss further changes or tweaks if needed once teh current descript

[2018-02-07 00:54] #123 closed

[2018-02-07 01:36] terracoda commented on #122
@terracoda has updated the google sheet containing all the descriptions and alerts for RIAW. These descriptions can be implemented with one global change - descriptions and alerts should say "ohms" everywhere except when Resistance actually has the value of 1 ohm. if you can't do the exception, "ohms" is to be used everywhere.

Please note that there will be a couple of visual design changes requi

[2018-02-07 01:42] terracoda opened #124 ""ohm" to be changed to "ohms" in visual sim"
As noted in issue #122,

While exploring final versions of descriptions and alerts in Jan 25th design meeting it was noted that using "ohm" is only correct when Resistance is actually 1, so it would be better if we use "ohms" in the visual and non-visual experiences.

Please change "ohm" to "ohms" in the visual sim.

[2018-02-07 01:53] terracoda opened #125 "Rounding error found in visual sim"
As noted in issue #122,

While exploring edge cases with extreme slider values, I was able to see a zero value for Resistance even though a zero value is not actually possible since the sliders for resistivity, length and area do not have zero values.

This edge case happens when Length is at minimum, and Area is at maximum, and the user explores the Resistivity slider. Values for Resistance range

[2018-02-07 07:05] ariel-phet commented on #125
@terracoda I think we could easily solve this issue by adding a third decimal place when the value of the resistance is less than 1.00. The sim already handles 4 digits (Length and Resistivity maximum, and Area minimum gives 2000 ohm resistance). We are playing a little fast and loose with significant digits but nobody seems to have minded. This seems like a simple change that could be made.

If t

[2018-02-07 13:12] terracoda commented on #125
@ariel-phet, if this solution means Resistance won't ever register as 0.000, that sounds good to me.

I will assign to @jessegreenberg. We can then see if an an extra zero will impact the visual layout.

[2018-02-07 13:13] terracoda commented on #125
@jessegreenberg, please add a third decimal point when resistance is less than 1.00.

[2018-02-07 13:16] terracoda commented on #124
@ariel-phet, I just want to confirm that you are good with changing "ohm" to "ohms". My understanding from the design meeting was that would be good change to the visual sim.

[2018-02-07 17:27] terracoda commented on #125
@jessegreenberg, please re-assign to me if you have any design questions. I am un-assigning myself.

[2018-02-07 17:31] ariel-phet commented on #124
@terracoda yes, "ohms" would be preferable

[2018-02-07 17:34] terracoda commented on #124
Thanks @ariel-phet. I will assign to @jessegreenberg now.

@jessegreenberg, please change "ohm" to "ohms" in the visual sim.

I will try to do a search and replace in the RIAW description google sheet. I am pretty sure I used "ohm" in there because of the visual design.

[2018-02-07 18:57] terracoda commented on #124
@jessegreenberg, I cleaned up the google sheet. It has "ohms" now.

[2018-02-07 22:07] jessegreenberg commented on #125
Change made in the above commit. @terracoda can you review? It is still possible for 0.000 to show up when R is smallest.

[2018-02-07 22:25] jessegreenberg commented on #124
Change made in the above commit, in the english version the readout now says "ohms".

[2018-02-07 22:25] #124 closed

[2018-02-07 22:27] jessegreenberg commented on #125
If we add a fourth decimal place then there will always be a value in the readout.

[2018-02-07 22:28] jessegreenberg commented on #122
Thanks @terracoda. I am going to create a new issue for implementation since this one was about checking the design. Closing.

[2018-02-07 22:28] #122 closed

[2018-02-07 22:29] jessegreenberg opened #126 "Implement accessible descriptions in this sim"
From #122, we are ready to add accessible description to this sim.

[2018-02-08 01:12] terracoda commented on #126
Thanks for starting a new issue @jessegreenberg.

[2018-02-08 01:40] terracoda commented on #125
@ariel-phet and @emily-phet, it looks like we have just enough visual space for another decimal place. I think it would be ideal if the fourth decimal place was also restricted - only added when resistance becomes less than 0.001.

Here's an example edge case: the lowest 7 values for Resistivity where Length is at minimum and Area is at maximum produce values for Resistance lower than 0.000.

<img

[2018-02-08 02:02] ariel-phet commented on #125
As I mentioned, we don't seem to be sticking to pedantically to significant digit rules, and you can get a 4 digit resistance like 1990. So I think adding a 4th decimal in the less than 0.001 case is fine

An argument could be made for the resistance being "effectively" zero, which would be the other way to go when resistance is very small. But in this case, 0.0001 ohms is a perfectly measurable r

[2018-02-08 03:49] jessegreenberg commented on #125
Thanks @ariel-phet and @terracoda, changed in the above commit. Closing.

[2018-02-08 03:49] #125 closed

[2018-02-08 19:07] phet-steele opened #127 "Undefined not allowed for Node key: accessibleLabelAsHTML"
Be sure to use `?stringTest=xss`

[code]

[2018-02-08 21:14] jessegreenberg commented on #127
This one is fixed but revealed a new bug, ill create a new isssue. Thanks @phet-steele.

[2018-02-08 21:14] #127 closed

[2018-02-08 21:15] jessegreenberg opened #128 "Uncaught Error: Assertion failed: Setting bottom is invalid when the node has invalid (empty/NaN/infinite) bounds. (stringTest=xss)"
From #127 - once that issue was fixed I started to see this error when running with stringTest=xss.
[code]

[2018-02-08 21:16] jessegreenberg commented on #128
It is complaining about this:
[code]

[2018-02-08 21:16] jessegreenberg commented on #128
When I remove `boundsMethod`, the problem goes away. Also when I use RichText instead of Text the problem goes away.

[2018-02-08 21:35] jessegreenberg commented on #128
I tried looking through `Text.js` and `setBoundsMethod`, but nothing is jumping out. @jonathanolson does this issue ring any bells?

[2018-02-08 22:14] jessegreenberg commented on #128
This problem is not showing up in continuous testing... hmm

[2018-02-09 21:28] jessegreenberg commented on #126
Implementation was completed with the above commits. I made an issue in https://github.com/phetsims/QA/issues/92 to test behavior. Closing this issue since new issues will be made during review and testing.

[2018-02-09 21:28] #126 closed

[2018-02-09 21:33] jessegreenberg commented on #128
After 24 hours, this isn't showing up in continuous testing. I am still unable to run sim locally with stringTest=xss.

[2018-02-09 21:35] jessegreenberg commented on #128
Bug is there in phettest.

[2018-02-09 22:43] jessegreenberg opened #129 "Incorrect relative description when r is much much larger than other letters"
From phetsims/qa#92, @terracoda said

![](https://user-images.githubusercontent.com/1902116/36051781-ca4a1c94-0dc5-11e8-9e05-846a4c230226.png)

Thanks for the report @terracoda, it should say

"Size of letter R is much much larger than the size of letter rho, letter L, and letter A."

[2018-02-10 01:38] terracoda commented on #129
@jessegreenberg, yes, that is what it should say. If the comparison is all the same, it is better not to repeat the phrases.

[2018-02-12 18:33] terracoda opened #130 "Incorrect description of control panel in Scene Summary."
In RC testing, @phet-steele pointedg out that RIAW does not have a mute sound button.

The reference to the mute sound button needs to be removed from the end of the opening paragraph.

Please change:
" In the Control Panel, buttons mute sound or reset the sim."

To:
"The Control Panel has a button to reset the sim."

[2018-02-12 18:39] terracoda commented on #130
Self-assigning. I will make this small change.

[2018-02-12 18:45] terracoda commented on #130
commit 0f4757b68c104dceefa343ffec355034064cfda0 fixes this issue.

[2018-02-12 18:48] terracoda commented on #130
Waiting for response from @phet-steele re https://github.com/phetsims/QA/issues/92 before closing this issue.

[2018-02-12 19:13] terracoda commented on #130
Thanks @phet-steele. I am closing this issue.

[2018-02-12 19:13] #130 closed

[2018-02-12 23:58] lmulhall-phet opened #131 "(JAWS) multiple readouts per increment"
**Test device:**

Hanson

**Operating System:**

Windows 10

**Browser:**

Firefox ESR

**Problem description:**

When increasing or decreasing resistivity, length, or area, JAWS will read multiple values for a single increase or a single decrease. For example, I'll increase length from 10.00 cm to 11.00, and JAWS will say "11.00 cm, to increase or decrease use the arrow keys, 11.00 cm." It will s

[2018-02-14 23:31] lmulhall-phet opened #132 "Multiple issues with JAWS"
**Test device:**

Hanson

**Operating System:**

Windows 10

**Browser:**

Firefox ESR 52.6.0

**Problem description:**

NVDA, JAWS, and VoiceOver aren't behaving similarly. NVDA and JAWS are, I think, not behaving how they're supposed to. JAWS is much worse than NVDA in this regard. I hope this issue can be an overview/outline of the issues we find with JAWS and NVDA. I already made an issue for

[2018-02-16 23:45] lmulhall-phet commented on #132
JAWS is behaving differently (more or less correctly) today. Not sure if settings have been altered.

[2018-02-16 23:48] lmulhall-phet commented on #132
Did notice that in the scene summary, JAWS will read out "rho is 0.50 bullet ..." Wondering why "bullet" is in there.

[2018-02-16 23:50] lmulhall-phet commented on #132
Also noticed that using keyboard navigation and JAWS leads to some performance issues if the sliders aren't increased or decreased in discrete steps. In other words, if you press and hold an arrow key to increase or decrease length, for instance, there will be some lag between input and the sim moving the slider up or down.

[2018-02-20 18:23] lmulhall-phet commented on #132
Update: NVDA is behaving correctly. I did some testing yesterday and today. I think the NVDA issues were related to settings. JAWS, on the other hand, is not behaving correctly. Here are the issues I'm seeing with JAWS:
- Not reading sim description
- Not reading "as x grows, y shrinks"
- Reading "tab" when tab is pressed
- Reading values twice, i.e. "11.00 cm, to increase or decrease use the arro

[2018-02-20 18:44] lmulhall-phet commented on #132
Did some VoiceOver testing this morning, and I'm wondering why VoiceOver isn't reading the sim description.

[2018-02-20 18:46] jessegreenberg commented on #132
Regarding these kinds of issues,  the screen reader might not read the entire sim every page load. @lmulhall-phet are you still able to read the sim description with the reading keys?

[2018-02-20 18:58] lmulhall-phet commented on #132
@jessegreenberg Yes, sorry. My fault. Difficult to transition between the screen readers. VoiceOver looks good.

[2018-02-20 19:04] jessegreenberg commented on #132
@lmulhall-phet the same question applies to JAWS, are you able to read the sim description with reading keys, even if it doesn't read through  on load?

[2018-02-20 19:13] lmulhall-phet commented on #132
@jessegreenberg using default settings, I'm unable to get JAWS to read the sim description using insert+down arrow, insert+B, caps lock+a, or caps lock+down arrow.

[2018-02-21 00:12] jessegreenberg commented on #132
Sorry @lmulhall-phet I am not able to reproduce this. I just tried with JAWS and Firefox, I am able to read through  the scene summary, hear the correct alerts about the equation, and so on. I will try on hanson tomorrow.

[2018-02-21 02:01] lmulhall-phet commented on #132
@jessegreenberg then if I had to guess, I’d say it’s probably just ineptitude on my part. I probably should have spent more time getting familiar with the JAWS keystrokes and screen readers in general before logging the issue. Sorry about that.

[2018-02-21 17:46] jessegreenberg commented on #132
No worries at all @lmulhall-phet, @phet-steele and I were able to reproduce the problem today.

@phet-steele and I played with the sim. At first the problem was there. We restarted FF and the problem went away. Then he was able to make the problem resurface after doing both of these

- Restarting computer
- Navigating the sim before turning JAWS on.

We aren't sure which one is causing the problem

[2018-02-21 18:14] jessegreenberg commented on #132
I just did the above steps on my machine and encountered the same problem. Restarting FF made the problem go away. Going to try to reproduce with another non-PhET webpage.

[2018-02-21 18:19] jessegreenberg commented on #132
I did the above steps with reddit.com, and encountered the same problem. This is not a PhET problem.

[2018-02-21 18:21] jessegreenberg commented on #132
I tried insert+z to toggle virtual cursor on and off, had no impact. We should submit a bug report to FF.

[2018-02-21 21:27] jessegreenberg commented on #132
I submitted a bug report to Firefox about this issue in the above a11y-research issue. Thanks @lmulhall-phet and @phet-steele for reporting this problem and looking into it. It sounds like the best way to prevent this is to

- Open JAWS, wait for screen reader to fully boot
- Boot up Firefox
- Navigate to webpage

Any other order may or may not work with JAWS.

Closing.

[2018-02-21 21:27] #132 closed

[2018-02-23 18:21] phet-steele opened #133 "VO may not read alerts"
**_This was NOT occurring in macOS 10.12.6 + Safari 10.1.2. It IS occurring in macOS 10.13.3 + Safari 11.0.3._**

Go here:
https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-dev.1/phet/resistance-in-a-wire_a11y_view.html

1. With VO enabled, tab into the sim and press the Reset All button. Verify you hear "Sim screen restarted..."
2. Tab out of the sim (press tab three more

[2018-02-23 18:23] jbphet opened #134 "resistance readout shouldn't go to zero"
I'm working on sonification of the sim, and one of the challenges is to map the huge range of resistance values to pitch values.  It seems like perhaps the range to *too* large, since it causes the readout to go to zero, as shown in the screen shot below.  Zero resistance is a real thing in superconductivity, but we are showing zero resistance in a normal, presumably room-temperature wire, which i

[2018-02-23 18:24] jbphet commented on #134
Assigning to @ariel-phet to decide if we should do something about this.  One solution would be to revise the range, another would be to show more digits (perhaps dynamically).

[2018-02-23 18:26] terracoda commented on #133
For the record, my system is macOS 10.13.3 + Safari 11.0.3, and I do indeed experience this problem often. I do not recall experiencing the problem (at least not frequently) before upgrading.

[2018-02-23 18:27] jessegreenberg commented on #133
Great to know, thanks @terracoda.

[2018-02-23 18:28] phet-steele commented on #134
@jbphet the readout was updated to three decimal places. See https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-dev.1/phet/resistance-in-a-wire_en_phet.html

[2018-02-23 18:29] phet-steele commented on #134
@jbphet maybe you are stale or maybe the commits were only in a branch, but the issue is here: https://github.com/phetsims/resistance-in-a-wire/issues/125

[2018-02-23 18:32] jbphet commented on #134
I'm using an older phet-io version.  Glad to hear it's been resolved - closing.

[2018-02-23 18:32] #134 closed

[2018-02-23 18:53] phet-steele commented on #131
@jessegreenberg it was part of #132, not technically the "same". But yes it can be closed.

[2018-02-23 18:53] #131 closed

[2018-02-23 19:17] jessegreenberg commented on #133
I can get this bug to happen consistently in the main sim in macOS 10.13.3 Safari 11.0.3 by switching browser tabs. If I leave the sim browser tab and then return to it, all aria-live alerts stop. Reloading the sim fixes the problem. If I switch applications and then come back to Safari, alerts still work.

I have not been able to reproduce the case where alerts stop happening without switching ta

[2018-02-23 19:25] phet-steele commented on #133
@jessegreenberg makes a whole lot of sense. Can reproduce on my end, thanks!

[2018-02-26 23:51] terracoda commented on #133
@jessegreenberg, thanks for testing out the other aria-live attributes.

[2018-02-28 00:08] jessegreenberg commented on #129
The problem is that rho, L, and A scales are not at comparable levels, but the pattern used needs to describe them as such.

[2018-02-28 00:41] jessegreenberg commented on #129
Should be fixed in the above commit. Thanks @terracoda, closing.

[2018-02-28 00:41] #129 closed

[2018-03-02 19:15] jessegreenberg opened #135 "Changes to keyboard help hint"
After an interview @terracoda said she would like to update the hint for keyboard help content.  @terracoda when this is done can you please let me know?

Once this is done we will likely be ready to deploy an an RC of this sim with a11y description.

[2018-03-02 21:16] terracoda opened #136 "Slightly re-work general cue to find Keyboard Shortcuts more easily"
Based on user feedback, visually impaired users may benefit from some instructions on where to actually find the Keyboard Shortcuts button.

Current cue is:
- "If needed, checkout keyboard shortcuts for this sim."

Iterations:
1. "If needed, checkout keyboard shortcuts at bottom of sim."
2. "If needed, checkout keyboard shortcuts at bottom of sim, under Sim Resources and Tools."

I think example o

[2018-03-02 21:18] jessegreenberg commented on #135
Duplicate of #136,  closing.

[2018-03-02 21:18] #135 closed

[2018-03-02 21:29] terracoda commented on #136
Oops, sorry, I didn't see duplicate.

[2018-03-02 21:31] terracoda commented on #136
@jessegreenberg and @emily-phet, I can't think of any reason why this small change would be a bad idea.

[2018-03-03 00:27] jessegreenberg commented on #136
Seems fine to me @terracoda. Just throwing out an alternative
"If needed, check out keyboard shortcuts in the navigation bar."

Is it important that it say "bottom of sim"? "navigation bar" sounds nicer and more accurate to me but I don't feel strongly.

[2018-03-03 01:13] terracoda commented on #136
@jessegreenberg, that is a very reasonable suggestion. I also considered that, but we don't have any content or ARIA role in the sim right now that communicates "navigation bar". How is a blind user to know if the navigation bar is at the beginning or end of the sim? I guess they could rule out beginning because they are at the beginning.

Added Iterations to the first list:
1.  "If needed, checko

[2018-03-06 17:59] jessegreenberg commented on #136
Discussed in 3/6/18 keyboard navigation meeting. Together, we came up with this:
"If needed, checkout keyboard shortcuts under sim resources."

We will use this for now, but we also discussed restructuring the accessible HTML of the navigation bar to put sim screens in a navigation section and the help dialog and PhET menu in a "resources" region.

[2018-03-07 23:02] jessegreenberg commented on #136
String has been changed.

[2018-03-08 00:33] terracoda commented on #136
@jessegreenberg, when you change and commit the string, can you be sure to change the h2 heading, "Sim Resources and Tools" to "Sim Resources".

I just listened on PhET Test and didn't hear the change in either place.  Maybe you still need to commit.

[2018-03-08 18:37] jessegreenberg commented on #136
Sure, Ill change the H2 as well, thanks @terracoda.

[2018-03-08 18:41] jessegreenberg commented on #136
OK, both strings were updated. Closing this issue.

[2018-03-08 18:41] #136 closed

[2018-03-08 19:02] terracoda opened #137 "Double check that sliders have a vertical orientation set with aria-"
In a recent interview where RIAW and OL were explored, a JAWS user identified the sliders as horizontal sliders, and the participant commented "I'll use the right left arrow keys".

While all the Arrow keys work regardless of orientation it was not an issue for the user.

However, it is likely beneficial for students that vertical sliders are identified as vertical sliders. The horizontal orientat

[2018-03-08 19:04] terracoda commented on #137
Just noticed that that in Aria 1.1, the implicit default is undefined.

[2018-03-08 21:41] jessegreenberg commented on #137
Sounds good @terracoda, aria-orientation is currently not used. Ill add it to sun's AccessibleSlider.

[2018-03-08 22:08] jessegreenberg commented on #137
AccessibleSlider now supports aria-orientation and it has been used in resistance-in-a-wire. Closing  this issue @terracoda.

[2018-03-08 22:08] #137 closed

[2018-03-09 03:41] terracoda commented on #137
Thanks @jessegreenberg!

[2018-03-09 18:42] jessegreenberg commented on #128
According to the RC checklist:

Is this a non issue? @jonathanolson is that why this isn't tested in CT?

Since the sim crashes and doesn't redirect, I am going to proceed with the RC for this sim.

[2018-03-12 22:08] jessegreenberg opened #138 "aria-orientation attribute prevents JAWS from entering forms mode automatically"
@lmulhall-phet found this for https://github.com/phetsims/QA/issues/108. When using tab to focus on a slider JAWS does not enter forms mode automatically. You have to press "enter" to enter forms mode, then you can use the arrow keys to interact with the slider.

This is a problem for 1.5.0-rc.1, but NOT a problem for 1.5.0-dev.1. The only change between the two versions (other than some minor str

[2018-03-12 22:10] jessegreenberg commented on #138
IMO we should keep using aria-orientation in spite of this JAWS inconsistency. JAWS users rarely navigate with "tab" anyway,  and would generally know to press "enter" to activate forms mode.  It is just very odd that JAWS doesn't enter forms mode automatically with aria-orientation.

[2018-03-12 22:50] lmulhall-phet opened #139 "Keyboard help button highlighted upon loading sim"
**Test device:**

Hanson

**Operating System:**

Windows 10

**Browser:**

Firefox ESR 52.6.0

**Problem description:**

@jessegreenberg I noticed that upon loading the sim with NVDA running, the keyboard help button is highlighted in the usual pink/purple color to indicate keyboard navigation. I didn't press any buttons or click anything with the mouse. Related to phetsims/QA/issues/108.

EDIT: T

[2018-03-12 23:05] terracoda commented on #138
I agree, it is odd that JAWS does not enter forms mode automatically with aria-orientation, but I agree with @jessegreenberg that we should stick with using aria-orientation to communicate the orientation. It may be different with younger users, but in my last 3 interviews with adult JAWS users, none had JAWS set to the default auto-forms mode.

[2018-03-12 23:06] jessegreenberg commented on #138
Thanks @terracoda, sounds good to me. I am going to close this issue and make a note of this for future tests.

[2018-03-12 23:06] #138 closed

[2018-03-13 05:23] jonathanolson commented on #128
It's not tested in CT yet because it's extra effort to program in the checks for it. I don't see why stringTest=xss couldn't be included, but given how often failures happen, I'm not sure about whether the effort would be worth it.

Sounds fine. It may be a sign that if you put in a super-long or super-short string in the failure point it may also fail, but it's probably nothing important.

There

[2018-03-13 16:13] lmulhall-phet commented on #139
EDIT: In order for this to work, you need to reload the sim. Seems to be isolated to FF ESR (can't reproduce in Chrome). Checking to see if it happens with FF Quantum.

[2018-03-13 16:28] jessegreenberg commented on #139
Sorry  @lmulhall-phet I should have let you know about this - this is a screen reader feature not a but. Screen readers (especially NVDA) will try to remember  the last thing that had focus and restore it on page and return  focus to it on page load.  I will make a note of it in the testing template.

[2018-03-13 16:32] lmulhall-phet commented on #139
Ah, I was wondering if it was a feature... It seems too convenient to be a bug. Thanks @jessegreenberg.

[2018-03-13 16:32] #139 closed

[2018-03-13 16:32] jessegreenberg commented on #139
I made a note for next time. Closing this issue, thanks  @lmulhall-phet.

[2018-03-14 16:49] terracoda opened #140 "Description of impurities in the wire"
In a recent interview, a blind user did not understand the part of the Wire's description that describes impurities.

Wondering if we should add the follow static string to the end of the wire's description, "represented by black dots."

**Examples:**

If this change is added, it would also affect Ohm's Law.

[2018-03-14 16:56] terracoda commented on #140
@emily-phet and @arouinfar, I think in my first draft of descriptions I just described the amount of dots and then re-worded based on feedback from @arouinfar.

Maybe we need both words to connect the concept of "impurities" to their actual visual representation of  "dots" in the wire?

[2018-03-14 19:46] lmulhall-phet opened #141 "Exiting keyboard navigation unhighlights keyboard navigation button"
Win 10 / Edge: Pressing enter when exiting the keyboard navigation help dialogue unhighlights the keyboard navigation button. Seen on Hanson. Related to phetsims/QA/issues/108.

EDIT: Same thing with space bar.

Troubleshooting information (do not edit):
Name: ‪Resistance in a Wire‬
URL: https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-rc.1/phet/resistance-in-a-wire_all_ph

[2018-03-15 01:55] arouinfar commented on #140
representation of "dots" in the wire?

@terracoda I really like this proposal! I think the addition of "represented by black dots" will make the impurities a bit more concrete for students, hopefully making the concept of resistivity a bit clearer. Let's proceed with your proposed changes to the descriptions.

[2018-03-15 12:25] emily-phet commented on #140
@terracoda
I'm concerned this may be too verbose, and too focused on the visual representation. Regardless of how the dots are represented, more or less impurities is the important idea.

Could you be more specific about what the participant specifically said/did that you interpreted as not understanding? Did they hear those and do something like...user says "i don't really get what that means" an

[2018-03-15 13:01] terracoda commented on #140
@emily-phet, great questions.

In terms of verbosity, I agree that we should always be careful about verbosity. In this case, however, the issue is regarding a dynamic description, not an alert, so I think a little extra detail if needed is totally fine in a dynamic description of a changing sim object. It is in the dynamic description that a student would get details.

The participant is an under

[2018-03-15 14:42] emily-phet commented on #140
@terracoda
I'm going to make this suggestion below - but I completely get that during an interview you're getting lots of information (subtle and not-so-subtle) that informs your suggestion. If you feel strongly that adding "represented by black dots" would address the specific type of problem you were observing, please continue to insist on it! Ok - on to my suggestion.

Thanks for the info! Coul

[2018-03-15 17:52] EthanWJohnson commented on #141
Interesting note: it actually briefly re-highlights the keyboard help button after exiting the help dialog but un-highlights it immediately after. The keyboard navigation is then completely reset to the starting position in the sim, which appears to be the resistivity slider.

[2018-03-16 13:23] terracoda commented on #140
@emily-phet, I think that is a great suggestion! I'm going to iterate a little in the design document.

[2018-03-16 13:59] terracoda commented on #140
@arouinfar, do you have a preference for any of the following examples? I've twekaed order and words in each example. Keep in mind, an h3-heading, "The Wire", starts of the description of the wire object.

**_Example 1:_**
- Currently, wire is {{very short}}, {{thick}}, and in wire, there is {{a large amount of impurities}}.
- Currently, wire is {{very short}}, {{thick}}, and in wire, there is {{a

[2018-03-16 14:02] terracoda commented on #140
@arouinfar, I like @emily-phet suggestion because, it might be the case that in collaboration two students can make the connection between the visual black dots and what they represent through discussion rather than the PDOM providing an explicit description of the dots.

[2018-03-16 14:03] terracoda commented on #140
@arouinfar, I'll also put this to the group in the A11y Design meeting today.

[2018-03-18 13:20] emily-phet commented on #140
I like version 2 and 4.

[2018-03-19 18:55] arouinfar commented on #140
I agree. I think "in the wire" makes the description more concrete (which is why I liked your original suggestion). However, the fact that the impurities are represented by black dots isn't particularly important.

I prefer option (2), but if we decide to go for two sentences, then (4) would be my choice.

[2018-03-19 20:10] terracoda commented on #140
This all sounds good.
I checked Ohm's Law, and realized we are covered there as there is a bit more detail:

-batteries supply {{4.5 volts}}
-resistor shows {{a medium amount of impurities}}
-{{small arrows}} indicate a current flowing clockwise at {{5.0 millamps}}

[2018-03-24 13:12] terracoda commented on #140
Ok, sounds good. Let's go with Example 2.
So to clarify, this a description change for the wire's dynamic description in the Parallel DOM. It does not affect alerts.

**Example 2:**
    Currently, wire is {{very short}}, {{thick}}, and there is {{a large amount of impurities}} in wire.
    Currently, wire is {{very short}}, {{thick}}, and there is {{a small amount of impurities}} in wire.
    Curr

[2018-03-27 18:33] lmulhall-phet opened #142 "(keyboard navigation) cannot tab through about menu on macOS, Firefox"
**Test device:**

MacBook Air, Early 2015

**Operating System:**

macOS 10.13.3

**Browser:**

Firefox 59.0.2

**Problem description:**

You cannot keyboard navigate through the about menu. If you open up the about menu, the "Terms, Privacy & Licensing" link will be highlighted, but you cannot press tab to get to the other two links. Pressing tab highlights the "X" button in the upper right hand c

[2018-03-28 14:17] terracoda commented on #140
@jessegreenberg, I have updated the design document for RIAW. This string change is ready for implementation. The parameters have not changed. Not that the indefinite article, "a", in the amount of impurities could be part of the string rather than the parameter. I'm not sure how you have set that up in the code files. I cleaned that up in the design document and removed "a" from the parameters.

[2018-03-28 15:09] terracoda commented on #142
@lmulhall-phet, the user interaction for moving between groups and between group items is to use the Tab key to get to the group (PhET menu in this case) and then use the Arrow keys to navigate between group items. In the case of a vertical menu list, the user uses the UP and Down Arrow keys to move between items, and the Enter key to select an item.

A Tab key press within an open menu, will exit

[2018-03-28 15:27] terracoda commented on #142
@lmulhall-phet, I just tested with FF Quantum 59.0.2 (64-bit) and Mac OS 10.13.3 and I can navigate the PhET Menu items with Up and Down Arrow keys. The Tab key exits the popped up menu. This is the expected behaviour.

And, I just realized you were talking about the About page, not the PhET menu (sorry). I was able to navigate with the Tab key to all links within the About page using my Mac Book

[2018-03-28 15:34] lmulhall-phet commented on #142
@terracoda I think I'm probably using the wrong terminology. I need to make a note of going over all of the terminology, i.e. menu, dialogue, etc., with @phet-steele. @jonathanolson's "helpful terms" in phetsims/QA/issues/99 was really helpful (at least for me).

Anyway, the issue is that once you get to this dialogue (?)
![screen shot 2018-03-28 at 9 26 28 am](https://user-images.githubuserconten

[2018-03-28 15:37] lmulhall-phet commented on #142
@terracoda No worries. Like I said, I think it's important that I learn the correct terminology to avoid confusion in the future. I'm making a note to document correct terminology in the QA Handbook.

[2018-03-28 15:39] terracoda commented on #142
@lmulhall-phet, you are correct. Within a dialog, you should be able to tab to the next link. Strangely, using the current version on PhET Test, I am able to Tab to all the links on the About page using FF and my Mac Book Pro.

And, FYI, you are doing great work :-)

[2018-03-28 15:50] lmulhall-phet commented on #142
@terracoda Hmm... I'm still having trouble tabbing through all the links on the about page with my MacBook Air. I'm trying to see there some FF accessibility preference that I might need to turn on. I'll test this on another Mac device to see if I can reproduce.

[2018-03-28 15:59] lmulhall-phet commented on #142
Thanks so much! I'm trying.

[2018-03-28 16:02] terracoda commented on #142
@lmulhall-phet, on Macs, you do need to turn a keyboard setting on! You find that in Settings/Keyboard/Shortcuts and make sure the All controls radiobutton is checked.

I always forget about that setting. You just need to do it once and it is on. I really do not know why it is not on by default.
<img width="666" alt="screen shot 2018-03-28 at 13 31 49" src="https://user-images.githubusercontent.co

[2018-03-28 16:03] terracoda commented on #142
I hope that resolves the issue.

[2018-03-28 16:18] lmulhall-phet commented on #142
@terracoda That was the issue. I never would have thought it was a Mac setting and not an FF setting as the issue is unique to FF. Anyway, thanks for your help. I'm going to make a note of this! Closing.

[2018-03-28 16:21] jessegreenberg commented on #142
How frustrating. Thanks for getting to the bottom of it @terracoda and @lmulhall-phet. @lmulhall-phet do you think it would be helpful to document in https://github.com/phetsims/QA/blob/master/issue-templates/a11y-rc-test-template.md and https://github.com/phetsims/QA/blob/master/issue-templates/a11y-dev-test-template.md?

[2018-03-28 16:29] lmulhall-phet commented on #142
@jessegreenberg Perhaps, but there might be a couple more settings/preference items we would want to document as well. The only one I can think of is Safari > Preferences > Advanced > Press Tab to highlight each item on a webpage. It might turn into a laundry list of "if you're using X browser, turn Y preference on." In any case, all of this is going into the QA Handbook.

[2018-03-28 16:29] jessegreenberg commented on #142
Great, sounds good @lmulhall-phet thanks!

[2018-03-28 16:29] #142 closed

[2018-03-28 16:50] terracoda opened #143 "Check Focus when exiting Keyboard Shortcuts Dialog"
In an interview with a JAWS user, the focus after closing the Keyboard Shortcuts dialog seemed incorrect.

AT: JAWS, version 18 Professional
Browser: Firefox, version 52

User closed the dialog, and focus went back to the top of the sim or to the beginning of the Play Area, not sure which.

The expected behaviour would be to go to the Keyboard Shortcuts dialog button.

On re-testing with VO, I see

[2018-03-28 16:51] jessegreenberg commented on #143
Thanks @terracoda, I think QA found this too, is this the same as #141?

[2018-03-28 16:58] jessegreenberg commented on #143
Hmm, #141 was for Edge, this is for Firefox.

[2018-03-28 16:58] jessegreenberg commented on #143
Focus management is correct for Chrome.

[2018-04-05 21:46] jessegreenberg commented on #140
@zepumph this is ready, would you mind working on this and merging into  the release branch?

[2018-04-05 21:59] jessegreenberg commented on #141
I isolated that this is caused by https://github.com/phetsims/scenery/commit/65a1f0828c606ab668457a0a4774b948e7d03b4a for https://github.com/phetsims/a11y-research/issues/30. Since I added this work around, Ill try to fix this issue.

[2018-04-05 22:00] jessegreenberg commented on #143
Focus management is correct in firefox. Why does using a  screen reader cause a problem here?

[2018-04-05 22:01] jessegreenberg commented on #143
Focus is lost when using  Firefox and NVDA.

[2018-04-05 23:19] jessegreenberg commented on #141
I believe this is fixed with the above commit. Release branch will need a release branch for scenery with the cherry-picked commit https://github.com/phetsims/scenery/commit/d27f8465ee73a00489b3431ca95ff51c07282292

[2018-04-05 23:29] jessegreenberg commented on #143
#141 is fixed, but  it didn't cover this issue. I am curious why this hasn't been a problem in previous releases.

[2018-04-05 23:29] jessegreenberg commented on #143
The implemenation of `updateVisibility` is presumably the biggest difference in AccessibleInstance.

[2018-04-05 23:31] jessegreenberg commented on #143
If I remove this line in AccessibleInstance:
[code]
the problem is still there, so it is likely caused by something else.

[2018-04-05 23:50] jessegreenberg commented on #143
Printing  what  Dialog is trying to restore focus to after closing, I see a reference to the help button,  so focus may be lost after we are focusing the button.

[2018-04-06 00:06] jessegreenberg commented on #143
I am quite stumped.  The bug is also not happening consistently, about 20% of the time,  NVDA put focus on the help button.

[2018-04-06 12:14] terracoda commented on #140
@zepumph, just an afterthought regarding where the indefinite article, "a", should go. For internationalization, it might actually be better placed within the parameter? I'm not sure about this.

[2018-04-06 16:30] jessegreenberg commented on #140
@zepumph and I talked, I am going to work on this. There are issues from this RC that are caused by AT workarounds from issues I have worked on, and since the version is nearly ready it will add unnecessary overhead to have another developer pick up. Reassigning to me.

[2018-04-06 16:30] jessegreenberg commented on #140
https://github.com/phetsims/resistance-in-a-wire/issues/140#issuecomment-379235336

Thanks @terracoda, we will take a look.

[2018-04-06 16:34] jessegreenberg commented on #143
I am using JavaScript to send focus back to the KeyboardHelpButton. https://github.com/phetsims/resistance-in-a-wire/issues/143#issuecomment-379109545 and the fact that this bug is not there when AT are not in use indicate that the JavaScript is sound.

[2018-04-06 19:57] terracoda commented on #143
Very strange, that the focus management is affected by the AT being used.

[2018-04-13 20:54] jessegreenberg commented on #140
This will need to be merged into release branch for https://github.com/phetsims/QA/issues/108

[2018-04-13 21:30] jessegreenberg commented on #143
Ok... So I added this to KeyboardHelpDialog to try to  figure out what is going on.

[code]
When NVDA is off, I see "click" in the console and hit the debugger. When  I turn NVDA on, I no longer see "click" and I no longer hit the debugger?! Is this an aggressive caching issue?

[2018-04-13 23:35] terracoda commented on #143
I don't know what it is, sorry.

[2018-04-14 00:45] jessegreenberg commented on #143
@zepumph helped me with this today, we got very inconsistent results while testing. While the dev tools were open, we didn't observe the bug. While the dev tools are closed, this is happening relatively consistently with NVDA. We discovered that the BarrierRectangle fire listener is somehow being called. We were able to catch the stack trace after closing the KeyboardHelpDialog with 'enter':
[code

[2018-04-16 22:50] lmulhall-phet commented on #141
Fixed! Closing.

[2018-04-16 22:50] #141 closed

[2018-04-22 09:53] terracoda opened #144 "Generic update in Scene Summary to "It changes as you play with it.""
This is not a big priority, but FYI, we are using more generic language in the Scene Summary now for setting up the dynamic nature of the sim.

**Instead of saying...**

We are now saying...

[2018-04-26 18:13] zepumph commented on #143
@emily-phet said that this is not necessary to fix before the next RIAW RC. Proceeding with the cherry picking and QA process.

[2018-04-26 18:36] zepumph commented on #140
@terracoda I almost missed your comments! Sorry about that.

[2018-04-26 19:02] zepumph opened #145 "Deploy 1.5.0-rc.2"

[2018-04-26 19:50] zepumph commented on #145
It was deployed successfully as rc.3

https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.3/phet/

and new qa: https://github.com/phetsims/QA/issues/118

Closing

[2018-04-26 19:50] #145 closed

[2018-05-22 23:02] lmulhall-phet opened #146 "Screen reader reading wrong tense of "read""
For phetsims/QA/issues/118. This is slightly nitpicky, but...

On VoiceOver with Safari, the word "read" is read the wrong way.

Current pronunciation: past tense read as in red
Desired pronunciation: present tense read as in reed

Is there any way to specify which tense you'd like the screen reader to choose?

@jessegreenberg and @terracoda, do either of you have any suggestions?

[2018-05-22 23:49] zepumph commented on #146
I am not sure what the priority is for this, but https://www.levelaccess.com/zip-z-p-z-p-forcing-correct-pronunciation-screen-readers/ says that it is generally acceptable have to mispronunciations with screen readers, and the forcing it (at least with acronyms) can be a tricky and finicky. @emily-phet what do you think this priority is?

[2018-05-22 23:58] zepumph commented on #146
This too doesn't seem too helpful, but is talking about just this problem, http://lab.dotjay.com/tests/screen-readers/pronunciation/read/

[2018-05-23 00:01] zepumph commented on #146
@lmulhall-phet is this consistent across other supported browsers?

[2018-05-23 00:02] lmulhall-phet commented on #146
@zepumph, no. JAWS and NVDA read "read" correctly.

[2018-05-23 00:51] phet-steele commented on #146
@zepumph for the record, the Karen voice package says this word correctly.

[2018-05-23 01:18] zepumph commented on #146
Sounds good, from what I'm hearing, this seems like a small/non issue, but it isn't my call.

[2018-05-23 08:43] terracoda commented on #146
@lmulhall-phet, re https://github.com/phetsims/resistance-in-a-wire/issues/146#issue-325492906 the accuracy of pronunciation seems to be voice specific. We can not control the pronunciation from our end. Screen reader users are generally aware of the inaccuracies of their preferred voice.

[2018-05-23 22:27] lmulhall-phet opened #147 "Slider is sticking"
<b>Test Device</b>

Hanson, MacBook Air

<b>Operating System</b>

Windows 10, macOS

<b>Browser</b>

Windows 10:
- Firefox 60.0.1
- Microsoft Edge 42.17134.1.0

macOS:
- Firefox 60.0.1
- Google Chrome 66.0.3359.181
- Safari 11.1

<b>Problem Description</b>

For phetsims/QA/issues/118. Minor issue. I can get the slider to stick to the cursor.

<b>Steps to Reproduce</b>

1. Left click on a slider th

[2018-05-23 22:45] lmulhall-phet commented on #146
Thanks, @terracoda! I think we can close this issue if no one objects.

[2018-05-23 23:35] #146 closed

[2018-05-24 16:49] zepumph commented on #147
I was able to reproduce this on Chrome Version 66.0.3359.181 (Official Build) (64-bit) too.

1. left click then right click quickly on the slider
2. left click outside the sim, like on the chrome top bar.
3. slider will now be stuck, and the right click menu is not there.

@jonathanolson do you have any insight on this?

[2018-05-24 16:57] jonathanolson commented on #147
I'll definitely investigate. Two questions first:

1. Can I reproduce this with a touchpad (macOS)? Don't know if the quick-right-click is fast enough, or if it needs to start before the left click ends.
2. Is this broken in master? Recent input work may have fixed this, since it seems related to my recent fixes.

[2018-05-24 18:55] lmulhall-phet commented on #147
1. I'll be impressed if anyone _\*cough\*_ @phet-steele _\*cough\*_ can reproduce this issue with a trackpad.
2. It seems to be broken in master.

[2018-05-24 19:53] zepumph commented on #147
Let me know if there is anything else I can do to support or implement.

[2018-05-24 20:38] lmulhall-phet opened #148 "Links break if cursor sticks to slider and links are clicked"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.4

<b>Browser</b>

Firefox 60.0.1

<b>Problem Description</b>

For phetsims/QA/issues/118. If you follow the steps for #147, click the "PhET Website" link or the "Report a Problem" link, and return to the simulation, then the link you clicked won't work anymore.

<b>Steps to Reproduce</b>

1. Make sure your cursor is stuck to th

[2018-05-24 20:57] phet-steele commented on #148
@lmulhall-phet you are very likely just experiencing phetsims/balloons-and-static-electricity/issues/406, and it would have nothing to do with #147.

[2018-05-24 21:03] lmulhall-phet commented on #148
@phet-steele, I think you're right. I looked at the console and didn't see an error, which is probably what lead me to think that it wasn't phetsims/balloons-and-static-electricity/issues/406.

[2018-05-24 21:04] phet-steele commented on #147
@lmulhall-phet this has been a general problem in all sims, thanks for being less lazy than me and logging it (@jonathanolson this is essentialy https://github.com/phetsims/molecule-shapes/issues/127 and the related issues).

Two things:

- Yes you can use a touchpad. Use one finger to drag, then two other fingers to right click.
- Speed is not a factor in this issue at all.

[2018-05-24 21:07] lmulhall-phet commented on #148
@jonathanolson and @zepumph I suppose we can close this issue if no one objects.

[2018-05-24 21:11] phet-steele commented on #148
Remember, you will not see errors in non-debug, built sims (rc, dev, etc...). You will only see errors in non-built or debug sims (...phet_debug.html [the BASE issue], phettest, etc)

[2018-05-24 21:14] lmulhall-phet commented on #147
Thanks, @phet-steele. I haven't been able to reproduce with a trackpad, but I would imagine doing so would require the `System Preferences > Trackpad > Tap to click` setting. Also haven't been able to reproduce without speed being a factor.

[2018-05-24 21:39] lmulhall-phet commented on #147
Not sure how useful this is, but I encountered some bizarre behavior with the Reset All button:
![riawrb](https://user-images.githubusercontent.com/31285590/40515051-8d38a6e6-5f68-11e8-8c13-69258032969d.gif)

[2018-05-24 23:07] zepumph commented on #148
This makes me think that we don't need to cherry pick any changes into this RIAW branch for production deploy, is that right?

[2018-05-25 00:50] jonathanolson commented on #147
Hmm, the Chrome bug likely to have caused the molecules-and-shapes issue presumably would only happen in an iframe (https://bugs.chromium.org/p/chromium/issues/detail?id=269917).

[2018-05-25 02:33] jonathanolson commented on #147
Hmm, we're not getting the pointerup/pointercancel events (bleh), but since we're setting pointer capture, we seem to be getting a lostpointercapture event. I'll need to look into whether this can reliably be used to fire a scenery-side cancel (and then we could potentially just flat-out ignore an "up" before a down).

[2018-05-25 15:08] lmulhall-phet commented on #148
@zepumph, That sounds right to me, but I would defer to @phet-steele's wisdom on this one.

[2018-05-25 16:05] phet-steele commented on #148
The sim still breaks when clicking those external links à la phetsims/balloons-and-static-electricity/issues/406 and I do see errors in the phet_debug.html. If RIAW doesn't have the fix from there yet, it would be useful to cherry-pick that.

Just because an error is not reported in the console doesn't mean the sim is immune to breaking. Besides, this issue was logged explicitly due to breaking fr

[2018-05-25 18:08] zepumph commented on #148
After talking with @jonathanolson, it looks like the following shas need to be cherry-picked into the branch:
[code]
@jonathanolson was wondering (a) if it wasn't work just doing a new rc from master or (b) if this needs to be added to this branch.

Without full knowledge of the issue, I would recommend that if these commits successfully cherry pick into our scenery branch for RIAW, then I do so a

[2018-05-29 19:50] zepumph commented on #140
@lmulhall-phet can this be closed? Was it tested as part of phetsims/QA#118?

[2018-05-29 19:51] #140 closed

[2018-05-29 19:53] zepumph commented on #128
From the code review checklist:

Are we ready to close this issue?

[2018-05-30 15:55] jessegreenberg commented on #128
I think so @zepumph , thanks.

[2018-05-30 15:55] #128 closed

[2018-05-30 17:18] ariel-phet commented on #147
Sure...this is a bit odd.

And...it is completely curable with a single click. I was able to reproduce the issue and get the cursor stuck, but a single click "unsticks" it.

This should not be a blocking issue for this release (this issue exists in the published version, and probably occurs in all sims as it is a scenery issue). I will discuss the scenery issue with @jonathanolson but marking this

[2018-05-30 17:18] #147 closed

[2018-05-31 01:22] zepumph opened #149 "publish new rc (5)"
QA is done with https://github.com/phetsims/QA/issues/118, and rc.4 (same sim content as rc.3 was deployed to help with https://github.com/phetsims/perennial/issues/89). We should make an rc.5

[2018-05-31 01:35] zepumph commented on #149
Done, https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.5/phet/resistance-in-a-wire_all_phet.html

QA issue: https://github.com/phetsims/QA/issues/125

[2018-05-31 01:35] #149 closed

[2018-05-31 18:17] ariel-phet commented on #148
Changing label to `status:ready-for-review`

[2018-05-31 20:22] JRomero0613 opened #150 "adjusting sliders leaves trail of letter behind"
Test device: PC Laptop

Operating System: Windows 10 OS 17134.48

Browser: Chrome V. 67.0.3396.62

Problem description: For phetsims/QA#125 When using the sliders to adjust the values of resistivity and length sometimes the letters leave behind a small trace that persists until another slider is moved. This is particularly noticeable when performing the right to left query parameter test.

Steps t

[2018-05-31 20:45] zepumph commented on #150
I was not able to reproduce this until I made `R` and `L` tiny, and `A` huge, then moving rho consistently made a large trail, @jonathanolson do you have any ideas on this? Reproducible in master for me as well.

Chrome Version 67.0.3396.62 (Official Build) (64-bit), OS WIndows 10

[2018-05-31 22:46] JRomero0613 opened #151 "HTML Download Does Not Work"
Test device: Chromebook

Operating System: 67.0.3396.57

Browser: Chrome

Problem description: After downloading the sim, disconnecting from the internet, and opening the download the sim becomes unusable and the hidden text for screen readers becomes visible.

Steps to reproduce:
1. Open the sim and save it by right clicking and hitting save as
2. Turn off all internet connections
3. Open the dow

[2018-05-31 23:39] jonathanolson commented on #150
Looks like a standard SVG "dirty region" bug. Probably can be worked around by adding a transparent rectangle around the letter (so that it repaints more). Presumably `?rootRenderer=canvas` will prevent this also.

[2018-05-31 23:42] zepumph commented on #151
When I repeat your steps above, I see that the html first loads statically (and here for a split second I see your screenshot), and the immediately it reloads and all is business as usual. Tested on Chrome and Firefox/Windows 10.

Can you confirm that you cannot reproduce on windows?

[2018-06-01 00:16] zepumph commented on #150
Confirmed that `rootRenderer=canvas` fixes the problem. This has happened before, and was addressed in https://github.com/phetsims/ohms-law/issues/26, but only for the X axis, so I adjusted the fix to work here as well (`dilatedX` --> `dilated` ). I also fixed ohms law.

@JRomero0613 can you confirm the fix has worked in master here: http://phettest.colorado.edu/resistance-in-a-wire/resistance-in-

[2018-06-01 15:33] JRomero0613 commented on #150
@zepumph This new version in master has fixed the issue, I'm not seeing any traces left behind by any letters

[2018-06-01 16:36] zepumph commented on #150
Leaving open to confirm that the fix is properly cherry picked into the next RC version.

[2018-06-01 17:00] JRomero0613 opened #152 "Adjusting Length in Larger Steps Creates odd Increments"
Test device: PC Laptop / PC Laptop / MacBook Pro

Operating System: Windows 10 OS 17134.81 / Windows 10 OS 17134.81 / macOS High Sierra v. 10.13.4

Browser: Chrome v. 67.0.3396.62 / Firefox v. 60.0.1 / Chrome v. 66.0.3359.181

Problem description: For phetsims/QA#125 when using keyboard shortcuts and adjusting length in larger steps the value is incremented by 1.99 rather than 2.0. Once the value

[2018-06-01 19:03] zepumph commented on #151
Tagging @jessegreenberg because I'm not quite sure what type of problem this is, is it a css bug? or something else.

[2018-06-01 19:14] zepumph commented on #151
@JRomero0613 can you test if the following sim link will run if you do the same download thing?   https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.26/phet/faradays-law_all_phet.html

[2018-06-01 19:35] JRomero0613 commented on #151
@zepumph When I downloaded the Faraday's Law sim you linked on the Chromebook and opened it I did not see the screen reader text like the RIAW download, however just like the RIAW the sim becomes unusable and nothing within it can be manipulated.

[2018-06-01 19:44] zepumph commented on #151
That's great news! Thanks. @jonathanolson do you know if we support "save link as" on chromebook? It is currently broken for all sims.

[2018-06-01 20:15] zepumph commented on #152
We defined the pg up and pg down specifically to divide the range into 10 (.10 - 20), hence the "weird" decimal logic. @jessegreenberg can you confirm and close if you agree.

[2018-06-01 20:16] jessegreenberg commented on #151
@JRomero0613 Are there any errors printed in the console?

[2018-06-01 20:31] jessegreenberg commented on #152
@zepumph @JRomero0613 that is correct, the decision was to make larger steps fro each slider be 1/10th of the range, though it results in strange value deltas.

[2018-06-01 20:31] #152 closed

[2018-06-01 20:34] JRomero0613 commented on #151
@jessegreenberg  Here's the error that the console gives me when I open the downloaded version `_Resistance%20in%20a%20Wire_.mhtml:1 Not allowed to load local resource: file:///home/chronos/u-6dc0b95f39a57d7e7535213a7d1b74e434d85a12/Downloads/_Resistance%20in%20a%20Wire_.mhtml`

[2018-06-01 20:46] jessegreenberg commented on #151
Thanks! http://www.chrome-allow-file-access-from-file.com/

That link makes it seem like it isn't specific to chromebooks. Maybe it isn't related. @oliver-phet have you seen this before?

[2018-06-01 20:51] oliver-phet commented on #151
I haven't heard of this before.

[2018-06-01 20:54] zepumph commented on #151
Right now I'm interested in why this works on google chrome, but not chromebooks.

[2018-06-01 23:42] JRomero0613 opened #153 "VoiceOver Screen Reader Issues with Slider Read-Outs"
Test device: MacBook Pro

Operating System: macOS High Sierra v. 10.13.4

Browser: Safari 11.1

Problem description: For phetsims/QA#125 There are a couple of issues associated with the VoiceOver screen reader on macOS on Safari. The first bug makes it so that the screen reader will read out the value of the slider, but not the resistance. The second bug makes is so that the screen reader will rea

[2018-06-04 15:13] jessegreenberg commented on #153
Thanks @JRomero0613, also assigning @terracoda to review.

Bugs 1 and 3 look very similar to me, though in bug 3 aria-valuetext is also broken. Basically `aria-live` isn't working after opening the sim in a new tab. This is probably very related to the VoiceOver bug we found where switching tabs causes aria-live to break: https://github.com/phetsims/a11y-research/issues/91

The second is new, but

[2018-06-04 15:14] terracoda commented on #153
@jessegreenberg, I was just typing that I will test this. Thanks for the assignment.

[2018-06-04 15:30] terracoda commented on #153
My Testing Results:
MacOs High Sierra 10.13.4
Safari 11.1
**First Bug**
- I am able to reproduce when I start Voice Over before opening the sim in a new Tab.
- the alerts work just fine if I start Voice Over after the sim has loaded in a new Tab.
- I agree with @jessegreenberg that this is the VO bug described in phetsims/a11y-research#91

[2018-06-04 16:30] terracoda commented on #153
My Testing Results:
MacOs High Sierra 10.13.4
Safari 11.1

**Second  Bug**
- In the steps to reproduce, step 3 says, "Hit control-option-shift-up arrow". Why would I do that? That command is supposed to take me out of the web content.
- When I do step 3, Voice Over tells me that I have gone out of web content, however, my keyboard focus is still on the slider. I stop getting slider values, but sti

[2018-06-04 16:41] terracoda commented on #153
My Testing Results:
MacOs High Sierra 10.13.4
Safari 11.1

Third Bug
- I can reproduce the silence.

**My Thoughts**
- The lack of alerts is due to the known VOice Over bug (opening in new tab).
- The lack of slider values is due to leaving web content with the Voice Over Command, command-option-shift-up arrow.
- Re-entering the web content and restarting Voice Over gets things back to normal.

If

[2018-06-04 16:44] terracoda commented on #153
@zepumph, I am unassigning myself. Do you have enough to go on?
Is it possible to place the virtual in the PDOM on the group's heading and remove visual and functional focus from the slider when a user presses command-option-shift-up arrow?

Please re-assign if you have questions.

[2018-06-04 17:03] jessegreenberg commented on #153
@terracoda wouldn't that change prevent default behavior for command-option-shift-up arrow, and make it impossible for the user to leave the web content that way? I am not sure if it is possible to prevent default behavior of the virtual cursor.

Right now, we aren't doing anything special with focus management in this case. My best guess right now is that VO fails to "blur" the document and eleme

[2018-06-04 17:11] terracoda commented on #153
@jessegreenberg, I certainly do not want to create a trap. I think what I was trying to suggest, is that we force VO to "blur".

I do not actually know what "blur" is. What I see and hear is that keyboard focus remains when it likely shouldn't.

If this means it is Voice Over bug, then that's ok with me, but I was wondering if we it was safe or possible to force a "blur" in this case.

[2018-06-04 17:11] zepumph commented on #153
I agree with @jessegreenberg that preventing default behavior of that key command seems dangerous, but also is it even possible? Will VO pass those keydown events to the browser? Or will they just eat them up because they are first on the software stack?

[2018-06-04 17:28] terracoda commented on #153
@jessegreenberg and @zepumph, and I should also point out that when I do step 3, I do get a beep from VO, which i think is and error beep. This beep is likely useful in telling users that something is not quite as it should be.

[2018-06-04 17:42] jonathanolson commented on #151
I think we may have done some tweaks to support this in the past. I'd defer to @ariel-phet for whether we support it in general (and for whether I should look into the process it uses, and if we can work around things to be supported).

[2018-06-04 18:17] terracoda commented on #153
Here's an article from WebAim, you might already be aware, [Accessible Javascript](https://webaim.org/techniques/javascript/eventhandlers#onfocus)

Quoting from the article:

It seems like we are not doing any of the things listed above, which is good. Visually and operationally, however, focus is remaining on the slider when a VO user intentionally leaves the slider with command-option-shift-up a

[2018-06-04 19:17] lmulhall-phet commented on #148
For future reference, I would like to make it clear that this issue contains **_TWO SEPARATE ISSUES_**:
1. Cursor Sticking Issue (documented here https://github.com/phetsims/resistance-in-a-wire/issues/147)
2. Links Breaking Simulation Issue (documented here https://github.com/phetsims/balloons-and-static-electricity/issues/406)

(Sorry about that.)

[2018-06-05 15:31] terracoda commented on #153
@jessegreenberg, @zepumph I posted some questions to the WAI interest group list and I got 4 replies that might shed some light on this problem, and help us understand if we need to change anything.

[2018-06-05 15:56] terracoda commented on #153
Core content of my initial email to WAI:

Will edit this post and responses asap.

[2018-06-05 16:27] terracoda commented on #153
**My follow-up to # 1**

**Response # 1, follow-up reply**

More details to come.

[2018-06-05 16:28] jessegreenberg commented on #153
Thanks  @terracoda - It sounds like responses are indicating that focus is *supposed* to stay on the slider when leaving the web content, is that how you interpret it too?

[2018-06-05 16:30] terracoda commented on #153
@jessegreenberg, yes, but there's a bit more to the story ...

[2018-06-05 16:34] terracoda commented on #153
** My follow-up to # 2 **

** Response # 2, follow-up **

[2018-06-05 16:39] terracoda commented on #153
**My follow-p to # 3**

[2018-06-05 16:42] terracoda commented on #153
** Last follow-up to all**

No response yet.

[2018-06-05 16:49] terracoda commented on #153
@jessegreenberg and @zepumph, I think I copied everything I have received into the issue.

Based on Response # 3 in https://github.com/phetsims/resistance-in-a-wire/issues/153#issuecomment-394763784, I am wondering if the natural "Group or Dom navigation" is being adversely effected in some way, possibly from the` tabindex= -1` on everything?

[2018-06-05 16:54] terracoda commented on #153
I think we have implemented everything correctly.

I am just a little unsure on why the virtual cursor goes to the H1 after exiting web navigation on a slider, which is quite a ways down the page?

Where does the virtual cursor go, if you exit forms mode while a slider has focus using NVDA?

[2018-06-05 19:15] terracoda commented on #153
@jessegreenberg and @zepumph, I did a couple of other tests with the simple testing environment, and system focus remains on the slider and the slider remains operable, even when reading with the virtual cursor. However, changes to values on the slider in this in-between state are not read out after I do the "stop interacting command". What is read out is where the virtual cursor is, which makes s

[2018-06-05 20:12] ariel-phet commented on #151
@JRomero0613 we do not support this functionality (right click and "save as")

However, what if you use the "download" button on our website. Two questions:

1. Does the download button work on chromebooks (as in does it save the file)
2. Does that downloaded file work

If so, feel free to close this issue.

[2018-06-05 20:13] ariel-phet commented on #151
@JRomero0613 if the issue is not closed by the above test, please reassign to me and report the results

[2018-06-05 20:50] JRomero0613 commented on #151
@ariel-phet The download button on the website works to save the file, and the file also works. Confirmed with multiple sims that this way to download sims works.

[2018-06-05 20:59] ariel-phet commented on #151
@lmulhall-phet - excellent, closing this issue. No need for us to support the right click.

[2018-06-05 21:05] lmulhall-phet commented on #151
@ariel-phet, here's my slack conversation with @phet-steele:

Liam: How are we supposed to do the HTML download test if there isn't a button for a sim?

Steele: Right click save as.

Liam: That's how we're doing it and Ariel is saying we don't support that.

Steele: Well then either there is a miscommunication or he his mistaken.

@ariel-phet, what are your thoughts?